[2018-02-18 04:45] granmoe opened #248 "font loads but @font-face doesn't work"
Using version 1.1.6 on Windows 10, node version 9.2.0.

Please see example project here: https://github.com/granmoe/file-loader-font-issue

I can see that the font file is loaded by looking at webpack-dev-server output, but the rendered output does not use the font (I'm using a crazy-looking font to make it obvious if it works or not).

[code]

The output appears to just use the default font-famil

[2018-02-18 17:07] mpriem commented on #228
sorry @evilebottnawi .. I missed your replies .. too many mailboxes to manage :) .. will start monitoring #160

[2018-02-18 17:23] granmoe commented on #248
Update: it works with .ttf and .woff. Any idea if file-loader is even causing this issue? Or is it due to something totally different?

[2018-02-18 18:42] michael-ciniawsky commented on #248
Could you `console.log(ostrich)` in the component and post want it prints to the `console` ? Also the bundle output of the component and where the font is included would be helpful, disable the any minification and post the `bundle.js` code wrap in a `<details></details>` block here please

[2018-02-18 19:34] granmoe commented on #248
@michael-ciniawsky

Yeah, I had checked the value of `ostrich` and it matched what I see in the webpack dev server output. I should have included that. Anyway, here's the requested info:

console.log(ostrich) produces:

2183a1f5fa94df9694f00d5ecfcdd3cb.eot

And the dev server prints:

[code]

Here is the component module and font module code from the bundle:

[code]

I tried pasting the full bundl

[2018-02-18 19:47] michael-ciniawsky commented on #248
🤔 The output looks correct so far, either the contents of an `.eot` gets corrupted by `webpack` (somehow) since other font formats seemed to work with your setup. Did you try another `.eot` file and could you try to preview/validate the `378256643tg57tz.eot`  file (e.g serve an `index.html` loading the font manually) ?

[2018-02-18 19:57] michael-ciniawsky commented on #248
[code]

The file path seems to be missing

[2018-02-18 20:06] granmoe commented on #248
Yep, that looks like it's just an intermediate version of the tagged template literal interpolation. Here's what styled-components generates:

[code]

I can't find any way to easily validate .eot files. Going to try to find a program that can handle them.

[2018-02-18 20:17] michael-ciniawsky commented on #248
Just include the output `454t7854397.eot` file in a simple example without `webpack/style-components` and all the fuss manually an check if the font changes, if it changes the file contents of `378254t5tt7k.eot` are ok and the bug lies elsewhere (it's a really annoying one)

[2018-02-19 09:27] evilebottnawi commented on #247
@nkrh can you create minimum reproducible test repo?

[2018-02-19 18:16] #160 closed

[2018-02-19 22:55] michael-ciniawsky opened #249 "[v1.1.7] `options.outputPath` {Function} is appended to the original URL"
Prior to this release, providing an outputPath function would see an argument passed in to it of the current URL of the file. We were using a name like: "[path][name]-[hash].[ext]", and we'd see an argument like "client/fonts/font-icons/icons-123456789.svg" given to the function. The return value of that outputPath function would end up being where the file would be emitted -- the function basical

[2018-02-20 09:59] evilebottnawi commented on #249
@michael-ciniawsky can you provide failing test? Difficult to understand :smile:

[2018-02-20 11:17] thasmo commented on #249
@evilebottnawi, an example.

**fonts.scss**
[code]

**webpack.config.js**
[code]

correct **bundle.css** with 1.1.6
[code]

wrong **bundle.css** with 1.1.7
[code]

[2018-02-20 11:24] evilebottnawi commented on #249
@thasmo hm, only if publicPath not set, we should set url as outputPath + url. Seems it is normal, in near future wait patch release.

[2018-02-20 16:16] Themandunord commented on #249
Same error too, glad to see the patch soon :)

[2018-02-20 19:31] #249 closed

[2018-02-20 21:56] Android3000 commented on #249
@evilebottnawi @michael-ciniawsky This is fantastic, thank you so much! Sorry if the initial example was a bit unclear. I just checked out 1.1.8 and all is well again!

[2018-02-20 22:46] kreediam commented on #238
@evilebottnawi I'm having this issue in my project. I should be able to reproduce in a small repo in the next day or two.

[2018-02-20 23:19] IAmPicard opened #251 "[v1.1.8] paths are broken on Windows"
Using ElectronJS with latest webpack; after updating to file-loader 1.1.8 fonts no longer load (404).

Going back to 1.1.7 fixes the issue. [This](https://github.com/IAmPicard/StarTrekTimelinesSpreadsheet) is the repo (but it's far form minimal, sorry); let me know what information I can provide to help you narrow it down.

[code]

[2018-02-20 23:29] michael-ciniawsky commented on #251
Could you post the 'malformed' `output` path aswell please ?

[2018-02-20 23:49] IAmPicard commented on #251
With 1.1.7 I get `http://localhost:8080/font/icons__-xPow.woff2`

With 1.1.8 I get `http://localhost:8080/fonticons__-xPow.woff2`

[2018-02-21 00:06] michael-ciniawsky commented on #251
Are you sure this it's a regression between `v1.1.7...v1.1.8` ? The path is correct on macOS with `v1.1.8` and that part is passed to `loaderUtils.interpolateName()` [here](https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L15). Could you do me a favor and `console.log(url)` e.g [here](https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L20) if the `/` is

[2018-02-21 00:27] kaiyoma commented on #251
I'm seeing this problem as well. I think it was the recent switch to `path.join` instead of `path.posix.join` (https://github.com/webpack-contrib/file-loader/commit/26e47ca). On Windows, the paths are going to be joined with backslashes and those paths are now ending up in the HTML/CSS, causing issues. I'm seeing incorrect/broken URLs in my app now. I just reverted to 1.1.7 and the problems went a

[2018-02-21 00:42] michael-ciniawsky commented on #251
@kaiyoma Can you post your `file-loader` config please ? :)

[2018-02-21 01:39] antokara opened #252 "[v1.1.8] publicPath does not work with protocol/absolute URLs"
I could be misusing this option but up to/including 1.1.7,
using the **publicPath** for absolute URLs like `publicPath: "https://my.cdn/"` was possible.

In **1.1.8** due to this change:
https://github.com/webpack-contrib/file-loader/commit/26e47ca#diff-1fdf421c05c1140f6d71444ea2b27638R46
(replacing concat with path.join)
it is not possible and the **//** characters are getting replaced with one *

[2018-02-21 02:28] aptx4869 commented on #252
It also breaks webpack-dev-server
`http://localhost:8080/fontello.woff` => `http://localhost:8080/localhost:8080/fontello.woff`

[2018-02-21 02:39] engPabloMartinez commented on #251
I'm having the same problem that @IAmPicard.
With 1.1.8 I get http://localhost:8080/fontsfontawesome-webfont.woff2 (not loading the font)
With 1.1.7 I get http://localhost:8080/fonts/fontawesome-webfont.woff2 (loading the font)

It's on windows and my webpack config it's
{
    test: /\.(otf|eot|svg|ttf|woff2?)(\?v=[0-9]\.[0-9]\.[0-9])?$/,
    use: 'file-loader?name=fonts/[name].[ext]'
  }

[2018-02-21 03:14] michael-ciniawsky commented on #251
If someone has a few minutes :),  please try to change this line https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L35 back to

[code]

in `node/modules/file-loader` and confirm, that this fixes the current bug on windows 🙏

[2018-02-21 03:25] kaiyoma commented on #251
@michael-ciniawsky Here's the relevant portion of my config:

[code]

[2018-02-21 04:22] aweber1 commented on #251
@michael-ciniawsky I tried the line change that you suggested but it didn't work for me. However, I also then tried changing line 22: https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L22

[code]

and that worked for my situation. loader config:
[code]

sample original requested url is: `../img/banner.jpg` and it's found within a CSS file (loaded via css-loader).

the output

[2018-02-21 04:41] kreediam commented on #238
@evilebottnawi [here](https://github.com/kreediam/file-loader-238) is an example. There ended up being more to this example than I planned, but I'm using `ExtractTextPlugin` to isolate the issue to the `dist/index.css` file after `npm run build`.

[code]

[code]

node 8.9.4, npm 5.6.0 on Windows 10:
[code]
Note that this worked with file-loader v0.11.2

For reference, node 8.9.1, npm 5.6.0 on macO

[2018-02-21 04:43] michael-ciniawsky commented on #251
Maybe `const join = process.platform !== 'win32'  ? path.join : path.posix.join` or simply just `path.posix.join` instead of `path.join`, but I wonder about this since the `path` module should already check the platform (https://nodejs.org/dist/latest-v9.x/docs/api/path.html#path_windows_vs_posix).

If `const join = process.platform !== 'win32'  ? path.join : path.posix.join` or `path.posix.join`

[2018-02-21 04:59] kaiyoma commented on #251
I don't know this codebase at all, but my understanding is that `path.join` is checking the platform - as you said - and _that_ is exactly the problem. You don't want backslashes appearing in URLs, so you actually want to explicitly use the `posix` version, regardless of what platform you're on.

[2018-02-21 05:13] michael-ciniawsky commented on #251
@kaiyoma 👍 Thx 😅 I was looking at it from the wrong direction of course... Waiting for review, Release ETA (ASAP)

[2018-02-21 12:46] jRichardeau commented on #252
It also breaks nested relative path :
`publicPath: "my/path"` replaced by `"my\\path"` which is not working on browser.

[2018-02-21 15:40] etiennellipse commented on #251
We have this problem as well, it is completely messing up the URLs in our SPA since 1.1.8. We end up with the browser trying to load it relative from where the CSS is located, and it's not pretty.

[code]

[2018-02-21 16:25] WolfspiritM commented on #252
This also breaks our case using url-loader while having output.publicPath set to for example "./lib/":
[code]
Old Version produced: ```background-image: url(../images/image.jpg);```
New Version produces: ```background-image: url(../image.jpg);```
It seems to ignore the outputPath?!

[2018-02-21 16:57] WolfspiritM commented on #252
Okay thanks.
I assumed that something like that would work but as a minor version change should not break things I expected this to be a bug rather then a fix.

[2018-02-21 19:07] #252 closed

[2018-02-21 19:11] #251 closed

[2018-02-21 19:17] michael-ciniawsky commented on #252
Released in [`v1.1.9`](https://github.com/webpack-contrib/file-loader/releases/tag/v1.1.9) 🎉

[2018-02-21 19:19] michael-ciniawsky commented on #251
Released in [`v1.1.9`](https://github.com/webpack-contrib/file-loader/releases/tag/v1.1.9) 🎉

[2018-02-21 21:04] kaiyoma commented on #251
LGTM!

[2018-02-21 21:49] etiennellipse commented on #251
Works here, thanks!

[2018-02-21 21:50] evilebottnawi commented on #247
@nkrh should be fixed, please upgrade to latest version https://github.com/webpack-contrib/file-loader/releases/tag/v1.1.9

[2018-02-21 21:50] #247 closed

[2018-02-21 22:13] michael-ciniawsky commented on #238
Could someone try with v1.1.9 ?

[2018-02-21 22:15] michael-ciniawsky commented on #232
`directory/file.ext` is absolute ? => `'./directory/file.ext'`

[2018-02-21 22:15] #227 closed

[2018-02-21 22:17] #55 closed

[2018-02-21 22:18] #114 closed

[2018-02-21 22:19] #90 closed

[2018-02-21 22:19] kreediam commented on #238
Works for me with v1.1.9. Thanks!

[2018-02-21 22:20] #180 closed

[2018-02-21 22:20] buzinas commented on #55
Why was this closed even though it wasn't fixed?

[2018-02-21 22:20] #219 closed

[2018-02-21 22:22] #223 closed

[2018-02-21 22:26] #35 closed

[2018-02-21 22:29] portpaw commented on #223
Was this fixed?

[2018-02-21 22:32] michael-ciniawsky commented on #55
It's not possible to fix this within `file-loader` the e.g `compiler.(Input|Output)FileSystem` etc need to handle this instead. `file-loader`  just pushes the file contents to `module.assets`  and takes care of the rewriting the file paths, no convenient way to fix this here

[2018-02-21 22:36] michael-ciniawsky commented on #223
It's not possible to fix this with changes to `file-loader`, maybe the `ModuleConcatenationPlugin` once the export becomes an ES2015 Module (not possible atm) or one needs to write a Plugin to optimize the modules. `file-loader` gets a module and 'transforms' it, it's simply out-of-scope to do this on the loader level

[2018-02-22 00:38] IAmPicard commented on #251
Works great in 1.1.9; thanks for the quick response.

[2018-02-22 08:45] evilebottnawi commented on #55
@buzinas Yes should be fixed in webpack, feel free to create issue in `webpack` :+1:

[2018-02-22 08:46] evilebottnawi commented on #238
Thanks!. Feel free to feedback is still regressions :+1:

[2018-02-22 08:46] #238 closed

[2018-02-22 08:53] Themandunord commented on #249
Hi @michael-ciniawsky @evilebottnawi,

My app have the `1.1.9` version, and I have the same bug than the `1.1.7` version.
My config is :
[code]

Before my assets had the url : `servername/assets/packed/123556456461...png`
Now I have `servername/assets/1231231231215...png`

[2018-02-22 08:56] evilebottnawi commented on #249
@Themandunord all right, you use bug when output and public is concatenating, use publicPath only when you should change public path

[2018-02-22 09:22] Themandunord commented on #249
@evilebottnawi

Ok but with this config :

Hi @michael-ciniawsky @evilebottnawi,

My app have the `1.1.9` version, and I have the same bug than the `1.1.7` version.
My config is :
[code]

My images have  : `servername/assets/packed/123556456461...png`
But my fonts (from Material-UI) have `servername/assets/1231231231215...png`

Do you see the problem ? I missed something ?

[2018-02-22 09:41] evilebottnawi commented on #249
@Themandunord try to remove `outputPath` also and check you `file-loader` version in `node_modules`

[2018-02-22 10:11] Themandunord commented on #249
@evilebottnawi Thank ! It's work :)

[2018-02-22 17:37] Themandunord commented on #249
@evilebottnawi Hum... I don't understand very well finally.
I have :
[code]
And all my assets are put in the /assets folder like that :
![image](https://user-images.githubusercontent.com/2819925/36554261-0f55ce9e-17ff-11e8-9f58-fb15b5ec32ae.png)

Event if i put :
[code]

What I don't understand ?

I don't want the file in the assets folder, because I can't add them to the .gitignore...

[2018-02-23 11:11] panta82 commented on #105
I have the same issue with the new create-react-app setup.

I try to load image dynamically, based on a config file.
This used to work before, with a webpack 1.x setup.

Here's the minimal repro: https://github.com/panta82/requireissue

[2018-02-24 10:42] Legends opened #256 "CSS background image fails to load because of backslash"
node 9.5
file-loader ^1.1.9

With the following approach I have a problem with background images in css files.
The last slash is a backslash!

![image](https://user-images.githubusercontent.com/966368/36629516-ed9a86e2-1956-11e8-9bdf-09b7c456e069.png)

[code]

**Folder path `src\images\`**

**The `blue.jpg` is requested in my css file:**

[code]

[2018-02-24 17:20] michael-ciniawsky commented on #256
Use `path.posix.relative` to normalize the `path`, I also recommend to use `options.outputPath {Function}` and/or `options.useRelativePath` for this instead

[2018-02-24 20:54] Legends commented on #256
The problem is I want to resemble the folder structure in `src `to `dist`, that's why i use the above approach.
With `options.outputPath {Function}` I only get the file name.

In `src `I have `images/icons`, with your approach I get `images `and `icons `in the root of `dist`.

I fixed the above issue by using a regex to replace the slashes.

[2018-02-26 09:44] evilebottnawi commented on #256
@Legends Can you create minimum reproducible test repo?

[2018-02-26 11:57] lukaszsamson opened #257 "useRelativePath broken after update from 1.1.6 to 1.1.9"
With the following options
[code]
and requiring `img/path/to/file.png`

In 1.1.6 the resulting URL is correct
`assets/img/path/to/file.png`
In 1.1.9  its
`assets/file.png`

[2018-02-26 11:59] evilebottnawi commented on #257
@lukaszsamson can you create minimum reproducible test repo?

[2018-02-26 12:44] lukaszsamson commented on #257
I don't have a minimum repro, but I tested it a bit more and the regression was introduced in 1.1.8

[2018-02-26 12:50] evilebottnawi commented on #257
@lukaszsamson without test repo it is hard to indicate problem place

[2018-02-26 12:55] Legends commented on #256
Here it is: [repo](https://github.com/Legends/File-Loader-Issue)

[2018-02-26 13:58] Kernle32DLL commented on #257
@lukaszsamson maybe a cause of this? At least I stumbled across this yesterday and it seems oddly similar to your problem.
https://github.com/webpack-contrib/file-loader/pull/246

[2018-02-26 14:00] evilebottnawi commented on #257
@Kernle32DLL right now we fix options how they should work, somebody can have invalid path configuration using bugs

[2018-02-26 19:32] kaiyoma opened #258 "file-loader doesn't work with webpack 4.0"
After upgrading, `yarn check` yields this:

[code]

[2018-02-26 21:50] michael-ciniawsky commented on #258
Released in [`v1.1.10`](https://github.com/webpack-contrib/file-loader/releases/tag/v1.1.10) 🎉

[2018-02-26 21:50] #258 closed

[2018-02-27 09:59] enjikaka opened #259 "file-loader fails with JSON files in Webpack 4"
Using `import 'file-loader!./manifest.json';` fails with;

[code]

Minimal reproducible setup: https://ipfs.io/ipfs/QmPfPq71WD3H6RrcCu1y72FswF8zC3f43aU8FPv5ZwS2ea

[2018-02-27 10:34] enjikaka commented on #259
I assume this is related to webpack 4 now handling JSON loading natively

[2018-02-27 10:45] zemadz commented on #257
I've created a minimum repo to demonstrate this issue: https://github.com/zemadz/file-loader-relative-path-minimum-repro

There are two branches:
- master (with file-loader@1.1.8)
- working (with file-loader@1.1.7)

Run `npm run build` and see output at `build/js/index.js` or `npm test` to investigate the different behaviors.

[2018-02-27 10:56] evilebottnawi commented on #259
@enjikaka seems bug in `webpack@4`, he should ignore `.json` files which loaded other loaders

[2018-02-27 10:56] evilebottnawi commented on #259
@webpack-bot move to webpack/webpack

[2018-02-27 20:29] michael-ciniawsky commented on #259
@see https://github.com/webpack/webpack/issues/6586. Why is the `file-loader` even needed here ? Either explicitly add the `type` to the `rule` in `webpack.config.js` or use a different `extname` for inline usage (e.g `x.manifest`). The inline loader syntax is discouraged for a while now and it would even work in case `x-loader` supports `module.type = 'json'`.

[2018-02-27 20:29] #259 closed

[2018-02-27 23:18] michael-ciniawsky commented on #232
`img/jsoneditor-icons.svg` is treated as an absolute path by the `fs`, doesn't the `css-loader` prefix it with `'./'`  ? If it doesn't it's a bug in `css-loader`

[2018-02-27 23:18] #232 closed

[2018-02-27 23:21] michael-ciniawsky commented on #221
This is likely to be not fixable within `file-loader`, since the `assets` are deduped by `webpack` and whatever asset is being outputted may have the wrong path for an entry

[2018-02-28 05:31] landru29 commented on #232
No, in a css file, img/foo.svg is treated as relative

[2018-02-28 05:49] michael-ciniawsky commented on #232
https://github.com/webpack-contrib/css-loader/blob/master/lib/loader.js#L108
https://github.com/webpack/loader-utils/blob/master/lib/stringifyRequest.js#L33

[code]

So it will be treated as a relative path (`file-loader` will 'see' `'./img/foo.svg'`), I don't understand what isn't working here atm could you rephrase ?

[2018-02-28 09:37] evilebottnawi commented on #221
@michael-ciniawsky let's leave open for tracking, i think it is fixable in loader

[2018-03-01 10:21] lukaszsamson commented on #257
#260 does not fix the issue

[2018-03-01 22:50] #257 closed

[2018-03-01 23:00] michael-ciniawsky commented on #257
Released in [`v1.1.11`](https://github.com/webpack-contrib/file-loader/releases/tag/v1.1.11) 🎉

[2018-03-05 07:35] ldwonday commented on #256
I met the same problem!
This is my config:
`...js
const relativeFileLoader = (ext = '[ext]') => ({
	loader: 'file-loader',
	options: {
		useRelativePath: true,
		name: `[name].${ext}`,
		context: resolve('src')
	}
});
`

[2018-03-05 09:59] thasmo opened #261 "Combination of outputPath and useRelativePath"
When using the `file-loader` like this ...
[code]
... it would be nice if `useRelativePath` does not overrride `outputPath`, but instead `outputPath` will be prepended to the relative path's of the files.

[2018-03-05 10:59] evilebottnawi commented on #261
@thasmo can you describe use case?

[2018-03-05 11:00] evilebottnawi commented on #256
@ldwonday why you use `useRelativePath` option?

[2018-03-06 05:33] ldwonday commented on #256
@evilebottnawi I am so sorry, maybe this porblem is other package's bug, and it was fixed!

[2018-03-06 15:40] herrstucki opened #262 "Re-use file-loader options logic"
Hi!

I maintain https://github.com/herrstucki/responsive-loader which currently has an open PR, implementing the same options as file-loader: https://github.com/herrstucki/responsive-loader/pull/56

Now: file-loader's options logic combining `context`, `outputPath`, `publicPath`, and `useRelativePath` is quite intricate. I think responsive-loader (or any file-emitting loader) should have the same

[2018-03-06 15:44] evilebottnawi commented on #262
@herrstucki Hi. Thanks for issue. I agree we should move this logic to utils. Can you create PR in `loader-utils` and ping me?

[2018-03-06 15:53] herrstucki commented on #262
Sure, I'll give it a shot when I have some time. Should _all_ file-loader options be moved?

[2018-03-06 15:59] evilebottnawi commented on #262
@herrstucki `outputPath` and `publicPath` yes, `useRelativePath` is very buggy and very confused for me, let's don't move her

[2018-03-06 23:10] DawidMmM commented on #180
Yes. The problem still exists, I got the same issue if I try to load images form subfolders. When i use ./img/ everything is fine but if I got an .html file in a subfolder to load images I need to use this ../img/ and it doesn't work.

[2018-03-06 23:17] poorpaddy commented on #180
I managed to fix this by just using `./` as my root. However it is far from a perfect solution. In the end I ended up no longer bundling images in webpack and now serve them from CDN. It actually drastically improved build times and load times since I served the images thru a cache.

[2018-03-09 13:48] Moghul opened #263 "Duplicate and corrupted resources"
Node: 9.4.0
File-Loader: 1.1.11
OS: Ubuntu 16.04

**Behaviour:**
I have a .css file referencing some .png files. This .css file is require()'d in files in two different bundles. When I build, the .png files get copied over into my Public directory and the paths to them get resolved as intended.

Except... Each destination file has a broken clone (with a different hash in its name), and it's that b

[2018-03-09 14:21] evilebottnawi commented on #263
@Moghul can you create minimum reproducible test repo?

[2018-03-09 14:21] Moghul commented on #263
Uh... Give me some time.

[2018-03-09 14:59] Moghul commented on #263
Nevermind, it turns out I'm a dumbass.

I have my webpack config file split into a few pieces because most of the configs are the same across multiple projects.

I had added the config for this to one of the project-specific configs. Then, I decided to put it in a shared config and forgot to remove it in the project-specific config. That's what was causing everything. How did I miss it, you ask? I

[2018-03-09 14:59] #263 closed

[2018-03-12 08:59] jgbarah opened #264 "file-loader does not produce JSON files"
When checking with the latest stuff in npm, I cannot get file-loader to emit a JSON file to the destination directory, when said to use a JSON file as input.

## Minimal example:

Create a directory with three files, `x.json`, `x.js`, and `webpack.config.js`:

x.json:

[code]

x.js:

[code]

webpack.config.js:

[code]

I then run:

[code]

What I see after typing the last line is:

[code]

This pr

[2018-03-12 16:07] michael-ciniawsky commented on #264
[code]

[2018-03-12 16:07] #264 closed

[2018-03-12 17:24] thasmo commented on #261
@evilebottnawi, I'd like to keep the actual directory structure of the source files (`useRelativePath`) but still move them to another location within the output directory (`outputPath`). At the moment I can choose between the two.

[2018-03-12 17:40] michael-ciniawsky commented on #261
@thasmo You could try using `name` (`options.name`) instead. https://github.com/webpack-contrib/file-loader#function

**webpack.config.js**
[code]

[2018-03-12 17:42] michael-ciniawsky commented on #261
[code]

[2018-03-12 17:45] evilebottnawi commented on #261
@michael-ciniawsky why we have `useRelativePath` option, it is hard to imagine real use case

[2018-03-12 17:55] michael-ciniawsky commented on #261
Yep, the loader options and there combinations are more then unintuitive atm, the best 'solution' is to keep usage of them as minimal as possible :)

[2018-03-12 18:11] evilebottnawi commented on #261
@michael-ciniawsky for me `publicPath` and `outputPath` very logic, but `useRelativePath` - what the hell and why?

[2018-03-12 18:14] thasmo commented on #261
Interesting. But what would this do?
[code]
I guess this will create a final path of `[webpack-output-path]/[file-loader-relative-path]/subdir/[name].[ext]`, right?

[2018-03-12 18:41] jgbarah commented on #264
It works. Thanks!!!

[2018-03-16 16:11] Nickman87 commented on #256
Same issue here.

The following config:
[code]
provides me with paths like: `images\some\path\file.svg`

Changing this to the following:
[code]
provides me with paths like: `images/some/path/file.svg` as expected.

The lines that cause this difference seem to be these:
[code]
Maybe this issue is related to this one: https://github.com/nodejs/node/issues/13887 ?

[2018-03-21 18:45] himerus commented on #114
Still looking for a proper resolution to this issue. I'm unsure why this was closed.

The last 'solution' is a bit hacky IMHO, and not what I'd consider recommending for anyone wanting to implement a similar structure.

What is the 'recommended' method to accomplish what the OP asked?

[2018-03-26 16:36] mimi149 commented on #180
I have the same problem and I recognize that webpack stores the images in the folder which are set in the config.output.path1 + path2, where path2 is in '[path2][name].[ext]' when setting the option for file-loader (path2 is the original location of the images).

The browser tries to retrieve the images from another location such as app_url/path2, however. I have tried different configuration for

[2018-03-26 17:22] evilebottnawi commented on #180
Please create minimum reproducible test repo

[2018-03-28 09:23] Sky4CE opened #265 "Version >= 1.1.8 breaks publicPath resolving [net::ERR_ABORTED]"
If I upgrade file-loader to 1.1.8 or above i get this errors:
![image](https://user-images.githubusercontent.com/9821633/38020314-8f42f1e8-3282-11e8-955d-26cf05b9fb5d.png)

my config is:
[code]

[2018-03-28 09:25] evilebottnawi commented on #265
@Sky4CE look you have invalid configuration, double `dist` directory. Can you create minimum reproducible test repo?

[2018-03-28 09:31] Sky4CE commented on #265
@evilebottnawi, yes I see, but all versions prior 1.1.8 produce correct paths after webpack processing

[2018-03-28 09:34] evilebottnawi commented on #265
@Sky4CE also you can have invalid server configuration, please create minimum reproducible test repo

[2018-03-28 09:35] evilebottnawi commented on #265
@Sky4CE first please update to latest version

[2018-03-28 09:39] Sky4CE commented on #265
@evilebottnawi what do you mean? I have tried to update totlatest 1.1.11 and all version prior that. For me all versions above 1.1.7 do not work

[2018-03-28 09:46] evilebottnawi commented on #265
@Sky4CE without minimum reproducible test repo, i can't help

[2018-03-28 09:48] evilebottnawi commented on #256
@Nickman87 friendly ping. Problem still exists? If yes can you create minimum reproducible test repo?

[2018-03-28 09:49] Sky4CE commented on #265
@evilebottnawi, indeed problem is not related to fonts. I guess to reproduce this I will need to put all my project config which is huge and it is not possible unfortunately. So problem is in publicPath property I guess. Need to investigate sources what have been changed..

[2018-03-28 10:12] Sky4CE commented on #265
@evilebottnawi I manage to solve this. So for me to get latest version work I need to add `./` to `publicPath`:
[code]
Seems like previous versions had a bug so I need to explicitly add empty `publicPath=`, now it is more clear that I have to write `publicPath=./` I guess. Thanks anyway, Closing this.

[2018-03-28 10:12] #265 closed

[2018-04-02 14:06] kyoukhana opened #266 "src folder isn't ignored in public path"
For some reason file-loader is outputting src folder into public path.   I don't know if this is a bug.

Here is the folder structure

 |-public
 |---css
 |---json
 |---src
       |---images
              |---menu
 |-src
 |---images
 |-----menu
 |---modules
 |---styles

The problem is that src shouldn't be outputted to public.   It should be images/menu

Here is my WebPack configuration file

[cod

[2018-04-02 14:17] evilebottnawi commented on #266
@kyoukhana `[path][name].[ext]` mean `/src/path/to/file.ext`, please use global `context: "src"` or use option for loader:
[code]

[2018-04-02 14:32] kyoukhana commented on #266
Thanks for the help @evilebottnawi your suggestion worked.  Thanks

[2018-04-02 14:32] #266 closed

[2018-04-02 19:08] Nickman87 commented on #256
I have not yet found the time to make a small test repo. I will try to get it done in the coming days!

[2018-04-05 13:31] LavaRiddle commented on #151
@LucasBassetti

How did you resolve this in the end?

I've got a very similar project - a react application that is being developed in a `module` folder, and for development purposes I have an `application` folder also at root level that is a separate small site running on an express server for the purposes of importing the react application from `module` and placing into a portion of the site for

[2018-04-06 02:01] airtoxin commented on #114
I'm solved this by multi-compiler options.
https://stackoverflow.com/a/38132106/2014050

[2018-04-08 22:44] bhollis opened #267 "Support [contenthash] in filenames"
Webpack 4.3.0 adds direct support for `[contenthash]` - it'd be nice for `file-loader` to leverage it. Here's an example from another plugin: https://github.com/webpack-contrib/mini-css-extract-plugin/pull/59/files

[2018-04-10 06:06] HunterGraubard opened #269 "Public path and output path do not work together?"
I'm using the latest version of `file-loader`. All I want to do is pull some images from a `node_modules` package and emit it to my output directory. But I've been struggling with this for hours.

I have the following directories involved in this:

* `/assets/css/`
* `/assets/misc/`

When I find `example.png` in `/assets/css/main.css`, I want `file-loader` to copy that file to `/assets/misc/hash.p

[2018-04-11 01:30] HunterGraubard commented on #269
Seems like it's working now. No idea why.

[2018-04-11 01:30] #269 closed

[2018-04-11 01:46] Annilla commented on #269
@HunterGraubard
So which config can work?
Can you post the final config setting?
I am confused with similar problem like this, too.

[2018-04-11 01:51] HunterGraubard commented on #269
Sorry, I don't really understand it myself. I've found this plugin very confusing to use.

[code]

I ended up using this configuration. It writes the files to the assets/misc directory, and writes the URL into the stylesheet with a leading / to make it root-relative. Using a `baseWebsiteUrl` variable at the start of `publicPath` is working too now (e.g. `publicPath: baseWebsiteUrl + 'assets/misc/'

[2018-04-11 09:18] fvigotti opened #270 "path is always relative even when useRelativePath: false"
Hi,
I'm trying to setup my first webpack configuration ( not so easy as the advertising says ;) ) the problem of today is with file-loader plugin ( used in conjunction with html-loader ),
my setup contain multiple entry points ( multi-page app ) and not all html files are in the root dir, so entrypoints are like
[code]

the problem is that file-loader when is linking images correctly find the imag

[2018-04-11 09:41] evilebottnawi commented on #269
@HunterGraubard Can you create minimum reproducible test repo and write in readme what you have and what you expected?

[2018-04-11 09:42] fvigotti commented on #270
ok, actually this doesn't seems a bug anymore to me ..
my issue was the combination of publicPath + outputPath that overridden the behaviour of (useRelativePath: false ) I've found a combination of the three variables to achieve the desired output :)

thank you

[2018-04-11 09:42] #270 closed

[2018-04-19 21:23] tsheaff opened #271 "Crashing with "unexpected character" on importing a png"
Here's my config

[code]

Then in the file:

[code]

Then in React component's JSX `render`:
[code]

Here's the runtime error:
[code]

[2018-04-19 22:24] #271 closed

[2018-04-24 16:44] fredyrivas opened #272 "Same publicPath when loading images from css and html files"
The problem is that publicPath will always result on the same path. For images loaded from html will work ok, but when css is trying to load background images won't. because the css file is not at the same index.html level

Project structure:

index.html
**css**/style.css
**img**/image1.jpg, image2.jpg

so this will work:

`<img src="img/image1.jpg">`

but this won't:

`body{ background-image: url

[2018-04-24 16:59] evilebottnawi commented on #241
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-04-24 16:59] #241 closed

[2018-04-24 17:00] evilebottnawi commented on #256
@Nickman87 friendly ping

[2018-04-24 18:25] Nickman87 commented on #256
@evilebottnawi I'm sorry, I completely forgot.
I just made a basic setup, which corresponds to my other setup and it is working as expected, no issues 😮

I'll have to cross reference more stuff to see what is going wrong to get a sample project that actually fails...

[2018-04-24 19:01] fredyrivas commented on #180
@mimi149 I ended up using other way for handle images:
https://github.com/webpack-contrib/copy-webpack-plugin
so I only use file-loader for fonts

[2018-04-24 19:05] avoliva opened #273 "file-loader ouputting corrupted images"
Am using the latest `file-loader`. It's outputting the files to `images/css-urls` like specified but they're corrupted images.

The config is searching through the sass files and replacing urls with new files that file-loader outputs. That part works, but the files are corrupted.

    const ExtractTextPlugin = require("extract-text-webpack-plugin");
    const extractSass = new ExtractTextPlugin(".

[2018-04-24 19:11] evilebottnawi commented on #273
@avoliva `file-loader` do not anything with original content of file. You have invalid configuration `test: /.*\.(gif|png|jpe?g|svg)$/i,` and `test: /\.(png|jpg|gif|svg|eot|ttf|woff|woff2)$/,`, i.e. two loader handle same types. `url-loader` use `file-loader` as fallback when file size bigger than `urlLimit`.

[2018-04-24 21:58] avoliva commented on #273
That worked, thanks.

[2018-04-24 21:58] #273 closed

[2018-04-26 15:18] a-carvallo commented on #272
I have more or less the same config, and the same problem.

It was working with 1.1.7 with the following options:
[code]

[2018-04-26 15:53] evilebottnawi commented on #272
@a-carvallo why you remove `publicPath`?

[2018-04-26 16:34] fredyrivas commented on #272
@a-carvallo I ended up using other method to copy images files: [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin). So I only used file-loader for fonts. It's a way more simple way and you forget about relative or absolute paths.
I guess url-loader will be the best option if you're looking for base64 images all bundle in your js file.

[2018-04-26 16:54] a-carvallo commented on #272
Hello @evilebottnawi,

You are right about `publicPath`, and I was missing a slash for the `outputPath`, but I still need `useRelativePath: true` (or else all links are only `name.ext`), so a valid 1.1.7 config for me is:

[code]

But the problem is still here with version 1.1.11: the links in the css will be `img/name.ext` instead of `../img/name.ext`.
(And yes for 1.1.11, `useRelativePath: true`

[2018-04-26 17:04] evilebottnawi commented on #272
@a-carvallo Don't use `useRelativePath`, it is very rare use case and i think i will be removed in next major version. `useRelativePath` !== `useRelativeURL` (many people think what it is same).

[2018-04-26 17:07] evilebottnawi commented on #272
One big note:
`outputPath` is place where your want to save files
`publicPath` is what url you have in `js`, `css` and etc files.

[2018-04-26 17:09] evilebottnawi commented on #272
Also you can look in source code and find what `useRelativePath` affected only on `outputPath`.

[2018-04-27 12:49] a-carvallo commented on #272
Hey @evilebottnawi, thanks for the answers, I did read them, and I did check the code.

I get it for `1.1.11`, but fact is it worked in `1.1.7` (Yes I know it was maybe an unwanted side-effect).
Maybe an option `useRelativeURL` would be nice then.

Yep these options are quite clear.

That's not totally true, if `publicPath` option is not defined it will use `outputPath` :
[code]

Back to the origi

[2018-04-27 12:52] evilebottnawi commented on #272
@a-carvallo Why you need `useRelativePath`? What is you real use case?

[2018-04-27 13:04] a-carvallo commented on #272
@evilebottnawi

To make it simple, I have :
[code]
In style.css:
`background: url("../img/image.jpg")`

In index.html:
`<img src="img/image.jpg">`

And I basically want the same in the output, but instead for the css I get:
`background: url("img/image.jpg")`

So it doesn't work because the css is not in the same folder as the index.html

[2018-04-27 13:07] evilebottnawi commented on #272
@a-carvallo Please read my notices, relative urls is out of scope `file-loader`, **it should be done by minifier/uglifier**. Main function `file-loader` is save file to fs and output public path to this asset and all. Change `url` in css should be done with `cssnano` or `csso`. Thanks!

[2018-04-27 13:08] evilebottnawi commented on #272
Also it can very expensive and very difficult because extract css can save file to any folder and normalize url should be done in end of build process.

[2018-04-27 13:33] budarin opened #275 "I need to load css file not as usual css files"
In our project we use styles in code throught style-loader
[code]
but we need the only file ```fonts.css``` to be copy to dist folder as asset with name [name].[hash].[ext]

How to do it?

[2018-04-27 13:33] a-carvallo commented on #272
@evilebottnawi

Heh, thanks for being clear, even though it's a shame, guess I'll just stick with 1.1.7 for now.
Using a complete minifier just to have the right url in css seems a bit too much.

[2018-04-27 13:44] evilebottnawi commented on #272
@a-carvallo it is good practice for production mode, you don't do this development, because it is reduce build time. Also don't use old version `file-loader` it can break something in future and present for other plugins/loaders.

[2018-04-27 13:46] evilebottnawi commented on #275
@budarin `{ loader: "file-loader", options: { name: [name].[hash].[ext] } }`? If you need this for only `fonts.css` use `test` option

[2018-04-27 13:52] budarin commented on #275
format of the name, in this case, I've mentioned only for desired output format

may question is: how only the fonts.css (not others) copy to assets (bearing in mind existing test: /\.css$/ section in webconfig)?

if I add test: 'fonts.css' it will be copied as asset and complied with style-loader

[2018-04-27 13:55] a-carvallo commented on #272
@evilebottnawi Thanks for the advice but I already spent too much time fighting with this :stuck_out_tongue:.

Not specific to file-loader but, it's kinda annoying to struggle with stuff like this, not actually doing progress on the real project, only trying to make project tools work.

[2018-04-27 13:56] evilebottnawi commented on #275
@budarin Тяжело понять что именно Вы желаете, возможно на нативной языке это будет проще. Спасибо!

[2018-04-27 13:59] evilebottnawi commented on #272
@a-carvallo `file-loader` should be simple and works with all types of assets, without options for `css/html/js` and etc. Normalize url as i say above should be done in optimize assets event, not in compile. Thanks for discussion.

[2018-04-27 14:02] budarin commented on #275
Отлично! )

все .css файлы в проекте обрабатываются  style-loader и встраиваются в результирующий код.
Но у нас есть отдельный fonts.css, который необходимо браузеру загружать как отдельный ресурс
Если в конфиге webpack я попытаюсь отдельно его грузить при помощи file-loader при помощи ``` test: /.css$/ ``` - он будет обработан еще и style-loader по правилу ```test: /\.css$/``` - чего хотклось бы

[2018-04-27 14:05] evilebottnawi commented on #275
Вы моежет использовать `test: /fonts.css$/`, также хотелось бы узнать откуда береться `fonts.css`, копируется при помощи `CopyWebpackPlugin` или собирается. Возможно вы имеете ввиду это поведение https://github.com/webpack-contrib/style-loader#url, просто используйте `test: /fonts.css$/`.

[2018-04-27 14:13] budarin commented on #275
Мочь то я могу ```test: /fonts.css$/``` но и style-loader может - и код fonts.css будет помещен в общий скрипт - чего абсолютно не нужно

fonts.css - создается руками из другого ресурса

CopyWebpackPlugin  - копирует файлы без задания им имени в формате ```[name].[hash].[ext]```

[2018-04-27 14:24] evilebottnawi commented on #275
@budarin Для доставания файла из css из js банда используйте https://github.com/webpack-contrib/mini-css-extract-plugin (`splitChunks.cacheGroups` позволяет достать любой модуль по имени в свой собственный js bundle и плагин для extract plugin уже достанет css из js бандла).

Также вы можете сделать `[name].[hash].[ext]` с помощью `CopyWebpackPlugin` https://github.com/webpack-contrib/copy-webpack

[2018-04-27 14:28] budarin commented on #275
спасибо за помощь - 2е решение меня вполне устроит!

PS: где-то было раньше описание ```require('!!file.....')``` синтаксиса для загрузки файлов при помощи лоадеров - нигде не нашел - оно могло бы избавить меня от CopyWebpackPlugin

[2018-04-27 14:41] budarin commented on #275
Упс!

CopyWebpackPlugin не добавляет ресурс в assets-manifest.json ((( - не решает проблему

[2018-04-27 14:43] evilebottnawi commented on #275
@budarin Возможно вы имеете ввиду это https://github.com/webpack/docs/wiki/loaders#loader-order. Проблема с манифестами уже в работе. Все что нам не дает решить ее, разница в api манифест плагинов, но работает над ней.

[2018-04-27 14:47] budarin commented on #275
не понял про loader order - если речь идет о том, что срабатывает только тот лоадер, который 1й понял по test что это его ресур и обработал его а остальные лоадеры его уже не тестируют - возможно это решит вопрос

Про манифетс - планируется что CopyWebpackPlugin будет добавлять ресурсы в assets-manifest.json ?

[2018-04-27 15:01] evilebottnawi commented on #275
@budarin Попробуейте `require("!!file-loader!./fonts.css")`

Да `CopyWebpackPlugin` будет в будущем добавлять файлы в манифесты (или реализует api для этой возможности).

[2018-04-27 15:06] budarin commented on #275
![default](https://user-images.githubusercontent.com/8055157/39369711-ac81689a-4a45-11e8-9f4a-ce969cf97cf9.png)

[2018-04-27 15:33] budarin commented on #275
я отключил ESLint на проекте и все прошло успешно - ```fonst.css``` был добавлен в ```assets-manifest.json```

только из приведенной ссылки совсем не понятно как настроить resolver чтобы он мог понять синтаксис ```!!file-loader!```

[2018-04-27 15:40] evilebottnawi commented on #275
@budarin Я бы с удовльствием помог, но в данный момент нас двое на все `webpack-contrib` репозитории, у меня просто нет времени чтобы разбираться в этом, думаю вы можете попросить улучшить readme для более простого восприятия, или посмотреть на тестовые примеры или чужие конфигурации.

[2018-04-27 15:41] budarin commented on #275
Спасибо большое за помощь!!

[2018-04-27 15:41] #275 closed

[2018-04-30 12:10] evilebottnawi commented on #267
Move to `loader-utils` https://github.com/webpack/loader-utils/issues/112

[2018-04-30 12:10] #267 closed

[2018-05-03 11:52] dannybloe opened #276 "publicPath function does not get results from outputPath function"
Today I moved from webpack 2 to webpack 4 and upgraded file-loader from 0.11.2 to 1.1.7 and after spending a couple of hours trying to figure out why my paths in generated css files were not correct I noticed a bug (imho) that creeped into the code in [commit](https://github.com/webpack-contrib/file-loader/commit/98bf0521b3412a7e1782b45b0265f2aa51456c5f#diff-1fdf421c05c1140f6d71444ea2b27638). In 0

[2018-05-03 12:06] evilebottnawi commented on #276
@dannybloe Please read README before post issue. `outputPath` is place where loader save assets, `publicPath` is path to assets in runtime code. `publicPath` should get `url` as argument. Thanks!

[2018-05-03 12:07] evilebottnawi commented on #276
Also you don't describe use case for this. Looks you just have invalid configuration.

[2018-05-03 12:09] dannybloe commented on #276
Why do you change this without documenting this anywhere? It used to work like this. Check the code from 0.11.2.

[2018-05-03 12:12] evilebottnawi commented on #276
@dannybloe https://github.com/webpack-contrib/file-loader/releases/tag/v1.1.8, behaviour what you describe is invalid and it is just bug.

[2018-05-03 12:14] evilebottnawi commented on #276
@dannybloe please describe why you need `outputPath`, in theory if you problem is real and not related to invalid configuration we can add second argument `outputPath`

[2018-05-03 12:37] dannybloe commented on #276
Ok, I will try to explain.

I have a sass file using something like this:
[code]

After having run webpack it has to be like this
[code]
So, in order to make this work I have this config:

[code]

Earlier this worked like a charm and core.css will have this:
`div { background-image: url('../core/everythingelse.png'); }`
and branding.css:
`div { background-image: url('../branding/logo.png'); }`

Al

[2018-05-03 12:50] evilebottnawi commented on #276
@dannybloe very very very weird configuration :confused: Maybe you can create minimum reproducible test repo in readme add how it was when you use `webpack@2` and how it is now with `webpack@4` and latest `file-loader`?

[2018-05-03 13:44] dannybloe commented on #276
Ok, created this simple test project. Run npm install and then npm run build.
[test.zip](https://github.com/webpack-contrib/file-loader/files/1971081/test.zip)

Of course this is very simplified but we need to have a distinction in the dist folder between specific branding files and 'core' files. (customers can modify the branding files afterwards and just replace or add a couple of images. They a

[2018-05-03 13:52] evilebottnawi commented on #276
@dannybloe thanks, i will investigate this in near future, feel free ping me if i will not answer in the next couple of days, a lot of work, sorry

[2018-05-03 13:53] dannybloe commented on #276
Sure thing. Thanks anyway.. In the mean-time I'll dive more into webpack 4 and see if there is a more common way to do this.

[2018-05-04 06:28] cnshenj opened #277 "Wrong URL for files in "../folder""
* Operating System: Windows 10 x64
* Node Version: 10.0.0
* NPM Version: 6.0.0
* webpack Version: 4.6.0
* file-loader Version: 1.1.11

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code
[code]

##### webpack.config.js

[code]

### Expected Behavior
Without additional flags (such as useRelativePath), all generated files are put in same folder, lik

[2018-05-04 06:38] cnshenj commented on #277
Sorry, seems to be caused by wrong config.

[2018-05-04 06:38] #277 closed

[2018-05-04 08:29] developerjaison opened #278 "Background image become [object object]"
Background image become [object object] after bundling

* Operating System:Linux
* Node Version:8.10.0
* NPM Version:5.8.0
* webpack Version:4.6.0
* file-loader Version:1.1.11

##### webpack.config.js
[code]

[2018-05-04 09:11] evilebottnawi commented on #278
@developerjaison please create minimum reproducible test repo, look you have old version `file-loader`, double check this

[2018-05-04 12:26] MasterB commented on #114
He @airtoxin thx for this link. It works for me!

[2018-05-04 17:38] fmavdb commented on #278
This seems to occur if you dynamically import a file (instead of statically referencing the file in the head of the document). It only happens with webpack 4 and file-loader 1.1.11, webpack 3 works fine. I'll provide a reproducible repro soon.

[2018-05-04 18:25] evilebottnawi commented on #278
@fmavdb wait reproducible test repo :+1:

[2018-05-04 19:16] fmavdb commented on #278
Here is the repro project: [](https://github.com/fmavdb/webpack-fileloader-dynamic-import-repro)

If you run the example, the console outputs: { default: file.txt }, which is the serialized version of [Object object] mentioned above.

[2018-05-04 19:49] evilebottnawi commented on #278
Looks like the bug, try to fix asap, thanks!

[2018-05-07 17:13] evilebottnawi commented on #278
@fmavdb second output is right is it behavour for modules, just try to create
**test.mjs**
[code]

node --experimental-modules test.mjs

[2018-05-08 09:33] sergeymorkovkin commented on #190
Tried to implement postcss-loader solution. It just doesn't see data-uri in a \@font-face. Could anyone do this?

[2018-05-08 13:06] fmavdb commented on #278
@evilebottnawi Yes, correct, if you use the object provided by the promise and access the default property, you'd get the expected outcome. However, in webpack 3 you'll get the expected output without accessing the default property.

You can downgrade the webpack version in the project I provided and you'll notice the behavior I mentioned.

[2018-05-08 13:11] evilebottnawi commented on #278
@fmavdb this behavior will be change in `webpack@4`, better create issue in `webpack` repo than here, we can't do here anything with this

[2018-05-09 22:02] amaschas commented on #261
I'm having the same issue. I need to move a bunch of images from one directory to another, but preserve the subdirectory structure. There's currently no good way to do this that I can determine.

So for instance:

src/
  images/
    foo/
      a.png
    bar/
     b.png

==>

dist/
  images/
    foo/
      a.png
    bar/
     b.png

[2018-05-10 10:17] evilebottnawi commented on #261
@amaschas without config we can'y say nothign

[2018-05-10 11:27] l2silver opened #279 "Not sure what the proper behaviour is for require.resolve"
* Operating System: Mac
* Node Version: 8.11
* NPM Version: 6
* webpack Version: 4.5
* file-loader Version: 1.1.11

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

index.js

[code]
##### CLI Command

[code]

##### webpack.config.js

[code]
### Expected Behaviour

lib/index.js
[code]
### Actual Behaviour
[code]
### How Do We Reproduce?

Run th

[2018-05-10 11:35] evilebottnawi commented on #279
@l2silver interesting use case, i will find solution in near future, thanks!

[2018-05-10 12:59] l2silver commented on #279
@evilebottnawi thanks!

[2018-05-24 13:37] evilebottnawi commented on #256
/cc @Nickman87 can we close problem?

[2018-05-24 16:33] joelcollyer commented on #259
For anyone who's encountering the error `Module parse failed: Unexpected token m in JSON at position 0` like I was, and you find this thread, you don't need to specify that json files be loaded in any special way.

Simply require your files like this:
[code]
Webpack 4.x will do the rest.

No special tests, configuration, or loaders are needed for `.json` to be required in your JavaScript.

[2018-05-24 19:26] #256 closed

[2018-05-24 20:10] Ctaque opened #280 "prepending a hostname to the name option of file loader breaks compilation"
# Bug report

**What is the current behavior?**

build compilation does not work :
[code]

stuck here.

**If the current behavior is a bug, please provide the steps to reproduce.**

add a file loader to a webpack.config.prod.js like following:

` {
            loader: require.resolve('file-loader'),
            exclude: [/\.js$/, /\.html$/, /\.json$/],
            options: {
		    name: 'http://te

[2018-05-24 20:28] Ctaque commented on #280
issue resolved by setting PUBLIC_URL to .env

[2018-05-24 20:29] #280 closed

[2018-05-25 23:32] hugmanrique opened #281 "Output path with Windows path characters (and drive letters) causes the compilation to stuck"
* Operating System: Windows
* Node Version: 9.8.0
* NPM Version: 6.0.0
* webpack Version: 4.9.1
* file-loader Version: 1.1.11

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

##### CLI Command

[code]

##### webpack.config.js

[code]

### Expected Behavior

`file-loader` places all the modules that match the test regex on `outputPath`.

### A

[2018-05-26 21:04] Wisedemic commented on #233
[code]

This error is still happening! The above code fixed it for me.

[2018-05-28 11:20] evilebottnawi commented on #281
@hugmanrique looks like problem in `webpack`. Can you provide reproducible test repo (not step)? Because i can't reproduce locally.

[2018-05-29 13:32] l2silver commented on #279
Any updates on this issue?

[2018-05-29 13:35] evilebottnawi commented on #279
@l2silver doesn't have time right now, sorry, feel free go ahead and search why it is happens

[2018-06-01 23:05] hugmanrique commented on #281
Will do once I have some free time.

[2018-06-04 18:31] evilebottnawi commented on #272
@fredyrivas friendly ping, problems still exists?

[2018-06-05 15:57] fredyrivas commented on #272
@evilebottnawi I really couldn't find a way to resolve paths but as you mentioned before this needs optimize assets event, and thats something I haven't try. Thanks for the follow up

[2018-06-07 12:13] rlefever68 commented on #259
Please check the encoding of your .json file.
It is probably 'UTF-8 with BOM'.
Resave the file with pure 'UTF-8' and it should be solved.

[2018-06-07 17:50] IngoVals opened #283 "regExp not working as described."
* Operating System: Windows 10
* Node Version: v8.11.1
* NPM Version: 5.6.0
* webpack Version: 4.9.1
* file-loader Version: 1.1.11

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

##### CLI Command

[code]

##### webpack.config.js

[code]

### Expected Behavior

I'm trying to move my PHP files from src/php/ to the dist folder using the file-l

[2018-06-07 17:56] evilebottnawi commented on #283
@IngoVals don't use `file-loader` to moving files, use `CopyWebpackPlugin` or other plugins for this.

[2018-06-07 17:57] evilebottnawi commented on #283
@IngoVals Can you create minimum reproducible test repo?

[2018-06-07 18:04] IngoVals commented on #283
Thanks for the CopyWebpackPlugin suggestion, looks to be what I need. I was initially trying to use the html-loader and extract-loader to fulfill svg imports in PHP but I'm moving over to twig html needs so I still only needed to move the files.

I'll see if I can reproduce the result in a separate repo.

I'm wondering if it is the non-capturing group in the regex that is causing the issue.

[2018-06-07 19:47] IngoVals commented on #283
https://github.com/IngoVals/fileloaderbugrepo

Just `npm install` and run `npm start` and notice the names of the php files in the dist folder.

[2018-06-22 14:43] light24bulbs opened #284 "It still seems to work with webpack 3, did something break?"
If you released changes that broke webpack 3 compatibility, that is a major version bump, not a bug fix.  Everyone is using `^` in their package.json by default, so you may be breaking legacy apps by making breaking changes without using semver.

[2018-06-30 09:41] IngoVals commented on #283
Could we remove the "needs more info flag" ?

[2018-06-30 10:18] IngoVals commented on #283
I tracked this down, in my regex i'm using linux style path delimiters ( forward slashes ) while I was running this on a windows machine. This results in the resourcePath having backward slashes.

This will of course not be system agnostic this way. I could change the regex to look for either forward or backward slash. But this is more a problem with loader-utils.

[2018-06-30 10:18] #283 closed

[2018-06-30 10:30] IngoVals commented on #283
[Relevant issue on loader-util](https://github.com/webpack/loader-utils/pull/37)

[2018-07-06 18:07] BobbyBabes commented on #259
@joelcollyer The only problem with using require() to read JSON files, is that the file will be cached. Unless it's deleted from require()'s cache.

[2018-07-06 19:10] joelcollyer commented on #259
@BobbyBabes: I fully agree; it'd be best to fetch json with an async request most of the time.

In this case we were loading a mandatory language file, so the `require` isn't so bad. If you try to do that with an `import` tree shaking gets in the way and the file isn't loaded.

My point was mostly that no webpack configuration is required for it to understand the loading of a json file (unlike the

[2018-07-11 14:05] renestalder commented on #284
I also wondered about the Webpack v4.0.0 requirement in the readme but no visible major bump. So is it required to use Webpack 4 to use the latest version of file loader?

[2018-07-11 14:07] evilebottnawi commented on #284
Loader works find with `webpack@3` and `webpack@4`. What is problem?

[2018-07-11 14:10] renestalder commented on #284
That the README says it requires a minimum of Webpack 4.

[2018-07-11 14:14] evilebottnawi commented on #284
@renestalder see, feel free to send PR, readme is misleading

[2018-07-11 16:11] benstaker opened #285 "File-loader v1.1.11 is causing fonts to render differently to the source"
* Operating System: Windows 10 64-bit
* Node Version: v6.12.2
* NPM Version: v3.10.10
* webpack Version: v2.7.0
* file-loader Version: v1.1.11

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

##### webpack.config.js

[code]

### Expected Behavior

Our icons should not have a white line in the circle.

![image](https://user-images.githubuserco

[2018-07-11 16:29] evilebottnawi commented on #285
@benstaker we don't modify content, just provide link to asset, looks the problem in not related to `file-loader`, check you plugins and other loaders

[2018-07-11 16:29] #285 closed

[2018-07-12 08:47] benstaker commented on #285
@evilebottnawi this is not an issue with file-loader. Downgrading the package a minor version triggered a reset of the cache in `hard-source-webpack-plugin`. Thanks for your time.

[2018-07-13 09:16] meteorlxy opened #286 "Problem about publicPath if not set in file-loader's options"
* Operating System: Windows 10 x64 Pro & Ubuntu 18.04
* Node Version:  v10.6.0 & v8.11.1
* NPM Version:  v6.1.0 & v5.8.0
* webpack Version: v4.15.1 & v3.12.0
* file-loader Version: v1.1.11

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Description

#### Webpack config

With `publicPath` in `output`

https://github.com/meteorlxy/repro-file-loader-

[2018-07-17 08:03] renestalder opened #288 "CONTRIBUTING.md missing"
The README (master) links to a CONTRIBUTING.md which doesn't exist. I tried to find this file in older releases/tags with no luck, so it possibly went missing by accident or was removed without updating the README. I can only fix the later.

[2018-07-17 10:02] #284 closed

[2018-07-20 13:46] lechu1985 commented on #233
@michael-ciniawsky Confirming info from @Wisedemic .
I've encountered this issue while upgrading webpack.

Used versions:
file-loader: 1.1.5
Webpack 4.16.1
Webpack CLI:  3.1.0

[2018-07-31 02:16] squaresun opened #290 "Appending base directory/URL at run-time"
* Operating System: Win 7 (64-bit)
* Node Version: v6.11.4
* NPM Version: 5.6.0
* webpack Version: 3.10.0
* file-loader Version: 1.1.11

This is a question about appending base directory/URL at run-time. For example, the base directory/URL is stored in a global var with string and it is defined when browser open the page. Is there any option or config managed to achieve this?

Since I don't want t

[2018-07-31 09:47] evilebottnawi commented on #290
@squaresun Change url in runtime is not safe, but if you know what you do change `__webpack_public_path__` as you write above, it is good solution

[2018-07-31 09:47] #290 closed

[2018-08-02 21:22] givanse opened #291 "What is the difference between file-loader and the copy-webpack-plugin?"
Both seem to achieve the same, except that the file-loader requires a newer Node. One is a loader and the other a plugin, but for copying static files does it matter?

[2018-08-03 01:56] michael-ciniawsky commented on #291
The `file-loader` make the url available for programmtic usage, while the `copy-webpack-plugin` is basically the webpack wrapper/integration (memory file system, file watching etc) of the `cp` command to simply copy files from  A => B 🤷‍♂️

### `file-loader`

[code]

Also some loaders may work in conjuction with the `file-loader`, e.g the `css-loader` transforms `url(./file.png)` => `require('./fi

[2018-08-03 01:56] #291 closed

[2018-08-04 15:06] ddaaggeett opened #292 "webpack file-loader: file not found in bundle, but file exists where/as expected upon build"
[here](https://github.com/ddaaggeett/podware/issues/1#issue-347227754) is an issue i'm facing with webpack 4.16.3.

i am not sure why my browser would not be able to load bundled image assets after implementing webpack and file-loader properly with electron

[2018-08-04 16:50] evilebottnawi commented on #292
@ddaaggeett please create minimum reproducible test repo

[2018-08-04 18:03] ddaaggeett commented on #292
steps to reproduce:
1. `git clone https://github.com/ddaaggeett/podware.git`
    or
    `git clone git@github.com:ddaaggeett/podware.git`
2. `cd podware`
3. `git fetch origin file-loader`
4. `git checkout file-loader`
5. `npm install`
6. `npm start`
7. wait for webpack to build, then reload the electron app and you'll see the error: `net::ERR_FILE_NOT_FOUND`

[here](https://github.com/ddaaggeett/p

[2018-08-05 02:56] ddaaggeett commented on #292
i ended up fixing this issue [here](https://github.com/ddaaggeett/podware/issues/1#issuecomment-410491717), but would still like to know why file-loader would not be an acceptable method to load images...

[2018-08-05 02:56] #292 closed

[2018-08-07 06:42] manishankar08 opened #293 "File Loader Stop Working"
Everything was going good, But suddenly file loader stops work.

Any impact doesn't show on images using in css and html.

Here's Code (webpack.config.js)

[code]

Please suggest solution.

[2018-08-07 08:47] evilebottnawi commented on #293
@manishankar08 you use invalid configuration, please use `oneOf` instead `use`

[2018-08-07 08:47] #293 closed

[2018-08-07 09:34] evilebottnawi commented on #293
@manishankar08 yes

[2018-08-07 16:17] micgro42 commented on #28
This seems to be impossible on a fundamental level. The apparently correct approach (which worked for me, after several hours of searching) is to implement "multiple configurations".
Source: https://github.com/webpack/webpack/issues/6124#issuecomment-351647892
Doku: https://webpack.js.org/configuration/configuration-types/#exporting-multiple-configurations

[2018-08-07 16:20] micgro42 commented on #187
@prosim This seems to be impossible on a fundamental level. The apparently correct approach (which worked for me, after several hours of searching) is to implement "multiple configurations".
Source: https://github.com/webpack/webpack/issues/6124#issuecomment-351647892
Doku: https://webpack.js.org/configuration/configuration-types/#exporting-multiple-configurations

[2018-08-08 16:50] prosim commented on #187
Yeah - I believe that's what I ended up doing. It was a unique situation so I don't expect many would have a similar need.

[2018-08-24 11:36] danburzo commented on #261
Reading more into the source code, this should work for me:

[code]

However, I don't know why (or where) the `./` is removed from the font file's path. I worked around it with `publicPath: '../css/'` for now...

[2018-08-24 11:38] evilebottnawi commented on #261
@danburzo don't use `publicPath` if you do not understand why you need it, Webpack itself is able to properly build a public path

[2018-08-24 11:39] danburzo commented on #261
I am just trying to work around an apparent limitation of `file-loader` though, as described in the comments above.

[2018-08-29 07:09] tamimcsedu19 commented on #281
I have the same problem.

[2018-09-01 10:01] simbawus opened #295 "don't need resource files"
* Operating System: MacOS v10.13.6
* Node Version: v9.10.0
* NPM Version:  v6.1.0
* webpack Version: v4.17.1
* file-loader Version: v2.0.0

This issue is for a:

- [ bug ] don't need resource files

### Code

##### webpack.config.js

[code]

[code]

### Expected Behavior
[code]
translate to
[code]
### Actual Behavior
[code]
translate to
[code]
I don't need resource files of `*.scss`

[2018-09-01 13:32] evilebottnawi commented on #295
Don't use `useRelativePath: true` (it will be remove in next release). why you use context? What you want, i can't understand?

[2018-09-01 13:38] simbawus commented on #295
i want translate

[code]
 to

[code]

[2018-09-01 13:41] evilebottnawi commented on #295
@simbawus https://webpack.js.org/configuration/output/#output-path ? And remove all options from `file-loader`

[2018-09-01 13:43] evilebottnawi commented on #295
@simbawus also please use `gitter` or `stackoverflow` for question in future, it is bug tracker, not QA service

[2018-09-03 08:01] simbawus commented on #295
@michael-ciniawsky Hello, friend. I  want translate

[code]
 to

[code]
 and remove the resource file

[code]
The method you provided didn't remove the resource file.

[2018-09-03 08:26] michael-ciniawsky commented on #295
You can't use the `file-loader` to delete resource files, either name your sources correctly (as intended) from the beginning or use a separate script

[2018-09-14 09:33] thasmo commented on #261
Basically I want to copy `assets/images/**/*.jpg` to `public/static/images/**/*.jpg`; moving images from the `assets/images` directory to the `public/static/images` directory and preserving the directory structure, which is imo not possible at the moment.

[2018-09-18 02:40] danderson00 commented on #46
For those reading who are using `create-react-app` and don't want to eject, this is possible to work around by setting `"homepage": "./"` in `package.json`.

[2018-09-19 21:27] jairusd opened #297 "Assets are not being read but successfully created to output directory"
* Operating System: windows 10
* Node Version: 10.6.0
* NPM Version: 6.1.0
* webpack Version: 4.16.1
* file-loader Version: 2.0.0

This issue is for a:

- [x ] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code

I'm trying to setup file loader to load images but it doesn't compile although it emits the file to the the output directory as expected.

https://stackoverflow.com

[2018-09-19 22:06] michael-ciniawsky commented on #297
[code]

Use either the `style-loader` or the `MiniCSSExtractPlugin.loader`, both won't work together

[code]

[2018-09-19 22:06] #297 closed

[2018-09-19 22:29] jairusd commented on #297
hi @michael-ciniawsky tried that too. Besides, project was already working without file-loader. It is when i plugged file-loader that I started getting this issue and that it is not reading image files. Can you please reevaluate this? Thanks a lot.

[2018-09-19 23:58] michael-ciniawsky commented on #297
With my suggested changes

### `yarn/npm run build:dev`
![output](https://user-images.githubusercontent.com/5419992/45787695-dc1f4600-bc76-11e8-9dfd-f0400a016b45.png)
![logs](https://user-images.githubusercontent.com/5419992/45787709-eb9e8f00-bc76-11e8-8231-9cdc6d3dc059.png)

`build:production` also seems to work as expected... `yarn start /npm start` fails but I don't know what exactly you are tr

[2018-09-20 01:06] michael-ciniawsky commented on #297
[code]

[`pirates`](https://www.npmjs.com/package/pirates) is used by `babel-node` to my knowledge and it seems to be trying to require the assets when 'Properly hijacking require'. I get the server to run and serve the files once I build the files in `src/server` with `babel` CLI **beforehand** and remove the `--exec babel-node` flag from the scripts. But there are a lot of other bugs so don't ex

[2018-09-26 14:56] djsmit commented on #272
After strolling all of the internet this is the first time I read a clear explanation. Thanks!

[2018-10-07 16:28] andreyvolokitin commented on #272
Same problem here. I thought that conditional `publicPath` could resolve this issue, but the `publicPath` function gets only file `url` as a sole parameter. I.e. if it would also receive a way to get a file from which this `url` was imported — then we could apply appropriate  `publicPath` (for files imported from `index.html` it would be empty string, so final file url would be `url` parameter as

[2018-10-07 16:36] andreyvolokitin commented on #272
Also I'm not sure how css minifier can fix URLs but I will dig into it...

[2018-10-09 12:19] hAtul89 opened #299 "Loading fonts through css files (`@import...`) do not work - new font files do not get created at all"
Loading fonts (and files) from a css file do not work for me. And I reviwed every tutorial/post.

	module: {
	rules: [	// Vue Files
				{
					test: /\.vue$/,
					exclude: /node_modules/,
					loader: 'vue-loader',
					options: {
								loader: {
									scss: 'vue-style-loader!css-loader!sass-loader',
									css: 'vue-style-loader!css-loader'
								}
					}
				},
				// JS files
				{

[2018-10-09 12:36] andreyvolokitin commented on #272
Possible solution using `mini-css-extract-plugin`: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/44#issuecomment-379059788

[2018-10-09 12:41] hAtul89 commented on #299
This was my first try, and it didn't work (gave the exact same result).
That's why I added the publicPath and outputPath so it might maybe understand where to create the files and how to reference them in the generated CSS.

[2018-10-09 12:42] evilebottnawi commented on #299
@hAtul89 please provide minimum reproducible test repo, look you have invalid `publicPath` in config

[2018-10-09 13:10] hAtul89 commented on #299
Here you go
https://github.com/hAtul89/no-files

[2018-10-11 13:39] PlayMa256 commented on #299
Create a reproducible and simple example, we are not able to run the ui interface properly, it does not load

[2018-10-11 14:05] hAtul89 commented on #299
@PlayMa256  @evilebottnawi

Done.
I have added a new dummy `index.php` file you can open loading the `css` and `js` files.

[2018-10-15 09:00] hAtul89 commented on #299
Resolved:

[code]

Was the problem..
Just needed to remove the url. Haven't noticed it was set..

[2018-10-15 09:01] hAtul89 commented on #299
Resolved:

[code]

Was the problem..
Just needed to remove the url. Haven't noticed it was set..

[2018-10-15 09:01] #299 closed

[2018-10-18 17:36] MCTaylor17 commented on #200
I'm having a similar problem.  In sass:

[code]

I tried it with both `useRelativePath` values with the same result.

[2018-10-18 17:46] evilebottnawi commented on #200
@MCTaylor17 you have invalid value `publicPath` and `outputPath`, don't use `useRelativePath`, it will be removed in next versions.

[2018-10-27 19:00] crloshro commented on #259
@joelcollyer thank you so much, that tip helped me to fix the bug!

[2018-10-29 15:41] chrisckc commented on #286
Noticed this when trying to get Aurelia app to run under a sub path of root.

I set `publicPath = '/app'` in webpack config
After performing the webpack build into the 'dist' dir, I noticed that the extracted font-awesome css file contained incorrect references to the fontawesome eot file:
`src: url(/app674f50d287a8c48dc19ba404d20fe713.eot);`
Notice that the /'app' path has been prepended to the f

[2018-10-30 15:59] chrisckc commented on #286
example repo details can be found here:
https://github.com/webpack-contrib/url-loader/issues/164

[2018-10-30 17:32] chrisckc commented on #286
Seems that this is just an issue with file-loader due to the way url-loader works (falls back to file-loader for files larger than limit)

According to the file-loader docs, file-loader defaults publicPath to 'webpack_public_path' which is the same as output.publicPath so there should really be no difference in behaviour when specifying the exact same publicPath in file-loader options.

I have wor

[2018-10-30 17:59] evilebottnawi commented on #286
@chrisckc can you create **minimum** reproducible test repo and describe what you have and what you expected in README, it is hard to understand what you mean

[2018-10-30 19:59] chrisckc commented on #286
Here we are:
https://github.com/chrisckc/webpack-starter-basic
Instructions in the Readme.

I used one of the webpack starter projects to save time in creating the minimum reproducible test repo, yes it could be more minimum but that's that. Same behaviour in 2 separate projects so far.

[2018-11-08 22:50] julesmoretti commented on #38
@evilebottnawi can you please reopen this.

I am getting the following:

[code]

Using:
[code]

[2018-11-15 12:50] dersar00 opened #300 "Use abolute path webpack"
Hello!
I'm using React as frontend in my Phoenix app, and I want to use absolute path for example to display some image that's present in other place in my machine. My project tree below:
[code]
If I try to use for example `img` tag in my `comp1.js` I can add to src attribute only files from `images` library, so my `src` looks like `image/empty_image.png`.
How I can use absolute path instead it?

[2018-11-15 12:54] evilebottnawi commented on #300
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Without configuration i can't h

[2018-11-15 12:54] #300 closed

[2018-11-15 12:54] #278 closed

[2018-11-20 16:57] Alphare commented on #278
Would my issue be related in any way? I'm not certain which project is "at fault" here.

I'm using `webpack` "4.25.1" `html-loader` "0.5.5" and `file-loader` "2.0.0".

Having `<link type="text/css" rel="stylesheet" href="main.scss"/>` inside html results in `<link type="text/css" rel="stylesheet" href="[object Object]"/>` where I would expect `<link type="text/css" rel="stylesheet" href="main.7aa3

[2018-11-28 13:03] vladadementieva commented on #160
@dirago, thanks a lot!

[2018-12-10 06:16] mendoncanorma commented on #272
publicPath in MiniCssExtractPlugin works provided we don't specify publicPath in file-loader.
file-loader publicPath overrides publicPath of MiniCssExtractPlugin.

@evilebottnawi ,
Can this be taken care?

[2018-12-10 08:46] evilebottnawi commented on #272
@mendoncanorma can you describe more verbosely, maybe with examples?

[2018-12-10 09:44] mendoncanorma commented on #272
This is my webpack file. Currently I am not using dev server.

[code]

This is my folder structure:

+---- dist/
 |--------index.html (static file)
+---- src/
 |--------images/
 |----------------start.png
 |----------------kiwi.jpg
 |--------index.js

After compiling, assets folder is created inside dist.

+---- dist/
 |--------assets/
 |----------------css/
 |------------------------main.css
 |--

[2018-12-10 10:05] evilebottnawi commented on #272
@fredyrivas thanks for reply, can you create minimum reporudicble test repo and desribe this in README? Easy debug and help, thanks!

[2018-12-14 22:45] DarrieutortPierre commented on #272
Hello, I had the same problem as you and I just solve it !

I keep the same options :
`test: /\.(png|jpg|gif|svg)$/i,
                use: [{
                        loader: 'url-loader',
                        options: {
                            limit: 8192,
                            name: '[name].[hash:7].[ext]',
                            outputPath: 'img/'
                        }

[2018-12-16 21:39] Albosonic commented on #272
Hi I had the same issue, when upgrading to webpack v4, finally solved it by using image-webpack-loader along with file-loader. I made a quick post about since I noticed I wasn't the only one:
https://medium.com/@albertomadueno/webpack-v4-config-d6cee480a071
also README here:
https://github.com/tcoopman/image-webpack-loader

[2018-12-19 16:04] evilebottnawi commented on #272
Problem was in `css-loader` and fixed in `2` version. Feel free to feedback

[2018-12-19 16:04] #272 closed

[2018-12-19 16:07] evilebottnawi commented on #276
It is expected behavior and not the bug, `outputPath` and `publicPath` is deference. First response for filesystem location, second for url in your files.

[2018-12-19 16:07] #276 closed

[2018-12-19 16:08] evilebottnawi commented on #281
Problem in webpack https://github.com/webpack/webpack/issues/2908, we can't solve this here, feel free to send a PR in webpack

[2018-12-19 16:08] #281 closed

[2018-12-19 16:53] evilebottnawi commented on #286
@meteorlxy not related to `file-loader`, please create issue in `vue-loader`

[2018-12-19 17:09] evilebottnawi commented on #286
@chrisckc please don't write not related problems in other issue, one problem = one issue, also i can't run you minimum reproducible test repo.

@chrisckc please read documentation https://webpack.js.org/configuration/output/#output-publicpath

The `publichPath` option should be end on `/`. Why? In some cases webserver can handle assets not as filesystem (example `/assets/minify-file.png` and you

[2018-12-19 17:09] #286 closed

[2018-12-19 17:12] evilebottnawi commented on #279
You should setup https://webpack.js.org/configuration/resolve/#resolve-modules in your case, it is expected

[2018-12-19 17:12] #279 closed

[2018-12-20 11:35] evilebottnawi commented on #221
It is not fixable on `file-loader` side, sorry, avoid using `useRelativePath` it is not safe (and will be removed in next major release).

[2018-12-20 11:35] #221 closed

[2018-12-20 13:56] evilebottnawi commented on #261
Option `useRelativePath` was removed.

https://github.com/webpack-contrib/file-loader/pull/306

Don't use this option because it is dangerous and break your urls when you use multiple entry points, when you extract code (example `css`), when you load asset in initial and async chunk in difference places and there are a lot of edge cases when you break url. Optimization assets path should be done o

[2018-12-20 13:56] #261 closed

[2018-12-20 14:03] evilebottnawi commented on #149
Option `useRelativePath ` was removed. Why https://github.com/webpack-contrib/file-loader/issues/261#issuecomment-449007163

[2018-12-20 14:03] #149 closed

[2018-12-20 14:10] evilebottnawi commented on #136
Sorry, it is not possible do on `file-loader` side, you can use `output: 'dist/[hash]'`, you can read about this here https://webpack.js.org/configuration/output/#output-path

[2018-12-20 14:10] #136 closed

[2018-12-20 15:44] frafajec opened #308 "Version 3 without `limit` option?"
* Operating System: osX 10.14.2
* Node Version: 8.12
* NPM Version: 6.4.1
* webpack Version: 4.28.0
* file-loader Version: 3.0.0

### Expected Behavior

Expected limit to be allowed

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

Im trying to update from `2.0.0` version and this now crashes build straight out. With exact same setup it works on 2. (note, this package upgra

[2018-12-20 15:57] evilebottnawi commented on #308
Already WIP on this

[2018-12-20 16:51] pzmosquito opened #311 "webpack doesn't generate output folder(dist in my case) after upgrading to file-loader@3.0.0"
* Operating System: MacOS 10.13.6
* Node Version: 10.14.1
* NPM Version: 6.5.0
* webpack Version: 4.28.0
* file-loader Version: 3.0.0

### Expected Behavior

webpack should generate output folder(`dist` in my case) normally

### Actual Behavior

webpack did not generate output folder(`dist` in my case)

### Code

[code]

### How Do We Reproduce?

I use `babel-node` to load the config: `babel-node

[2018-12-20 16:53] evilebottnawi commented on #311
@pzmosquito no changes with emit, please provide minimum reproducible test repo

[2018-12-20 17:20] evilebottnawi commented on #311
@pzmosquito tests works good https://github.com/webpack-contrib/file-loader/pull/312, looks something wrong with your configuration

[2018-12-20 17:39] evilebottnawi commented on #311
Please try https://github.com/webpack-contrib/file-loader/releases/tag/v3.0.1, feel free to feedback

[2018-12-20 17:49] evilebottnawi commented on #311
Find a problem

[2018-12-20 17:55] pzmosquito commented on #311
@evilebottnawi I was trying to come up with a minimum code that is similar to my set up, but update to 3.0.1 worked for me. Did you just find another problem for 3.0.1?

[2018-12-20 18:00] evilebottnawi commented on #311
@pzmosquito yep, not related to you, very rare use case, good news what works as expected

[2018-12-20 18:00] #311 closed

[2018-12-21 08:50] aarefiev opened #313 "Feature: compiler output options support for hash"
Hi!.

Thanks for great loader. It's really save my time :).

Some days ago I worked on configuring webpack for my own project and I found that I can't use the same output filename settings for all loaders. Especially, for **file-loader**.

Here is the part of webpack.config.js:
[code]

After compilation I found that the hash part of name of extracted css and bundled files are truncated, but all ot

[2018-12-21 09:57] evilebottnawi commented on #313
@aarefiev please use issue template, in future issues without template was closed and removed

Yep, it is make sense, we need fix it on `loader-utils` for better future integration, so it is not related to `file-loader`, because other loaders also use this library for hashes and have same problem. Please create issue in `loader-utils` and attach link to the PR. Thanks!

[2018-12-21 09:57] #313 closed

[2018-12-21 12:57] ossinkine commented on #257
@lukaszsamson I've faced with the same issue. Since #260 does not fix the issue how did you fix this?

[2018-12-21 13:01] evilebottnawi commented on #257
@ossinkine `useRelativePath` option was removed in major release

[2018-12-21 13:12] lukaszsamson commented on #257
@ossinkine I stopped using this plugin in my config

[2018-12-26 13:05] alanyinjs opened #314 "Update documentation to reflect Webpack v4"
Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
The doc for file-loader has referred to the style recommended by Webpack 3 in multiple places where instead of using `use`, and specify `loader` and `options` inside the `use` object, `loader` and `options` have been used directly inside rules.
![screen shot 2018-12-26 at 11 58 59 pm](htt

[2018-12-26 13:10] evilebottnawi commented on #314
@alanyinjs both examples valid for `webpack@3`, `webpack@4` and `webpack@5`,  you need `use` property when you want using multiple loaders, like:
[code]

[2018-12-27 09:30] evilebottnawi commented on #314
@alanyinjs hm, let's update docs

[2019-01-04 03:39] liamcharmer opened #317 "Mp3 File isnt being built"
ERROR in ./assets/sounds/rain-bg.mp3 1:0
Module parse failed: Unexpected character '�' (1:0)
You may need an appropriate loader to handle this file type.
(Source code omitted for this binary file)

[code]

[2019-01-04 12:31] evilebottnawi commented on #317
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-01-04 12:31] #317 closed

[2019-01-04 12:32] evilebottnawi commented on #317
in short you don't have loader for `mp3` extensions, looks your code is not monified webpack config

[2019-01-06 12:32] ErikGMatos commented on #160
Thank you very much, solved my problem.
vwwwwww

[2019-01-06 12:33] ErikGMatos commented on #160
@dirago  Thank you very much, solved my problem.
vwwwwww

[2019-01-06 12:33] ErikGMatos commented on #160
@dirago  Thank you very much, solved my problem.
vlw!!!

[2019-01-08 12:06] jmas opened #318 "Wrong Symlink for folder mode_modules/bin/file-loader/"
* Operating System: macos / linux
* Node Version: latest
* NPM Version: any
* webpack Version: 3.0.0
* file-loader Version: 2.0.0 **!!!**

### Expected Behavior / Situation

Do not create Symlink for folder `mode_modules/bin/file-loader/`.

### Actual Behavior / Situation

Symlink for folder `mode_modules/bin/file-loader/` is created.

### Modification Proposal

Our build and files sync system is

[2019-01-09 09:15] evilebottnawi commented on #318
Already fixed https://github.com/webpack-contrib/file-loader/blob/master/package.json and published, just reinstall `node_modules` (`rm -r node_modules package-lock.json && npm cache clear -f && npm i`)

[2019-01-09 09:15] #318 closed

[2019-01-10 08:45] #314 closed

[2019-01-17 14:28] UlpiusCode opened #319 "How to load SVG images?"
How I can load SVG images in html and background: url()?

Thanks a lot!

[2019-01-17 14:49] evilebottnawi commented on #319
[code]

Also it is bug tracker, not QA service, please use `stackoverflow` or `gitter` for questions, thanks

[2019-01-17 14:49] #319 closed

[2019-01-17 20:43] UlpiusCode commented on #319
Ok, this rules is for "png, jpg, gif", but for svg? I can use file-loader foar loading svg images? if not then what can I use?

[2019-01-17 20:44] evilebottnawi commented on #319
@UlpiusCode i fixed snippet above, just add `svg` in list

[2019-01-17 20:54] Jandyk commented on #319
ok I understand, but  this example is right?
[code]

[2019-01-24 20:49] MyJanePress commented on #271
Where do I have to add in order to render images

[2019-02-06 10:12] cduivis commented on #164
For our company we needed something similar only it's the reverse of what is mentioned here.
So we have adjusted [file-loader](https://github.com/NetMatch/file-loader) to 'pitch' the outputPath of the file towards all loaders next in the chain, so they in turn can use it if they want to (mainly to resolve relative paths).
We also wrote an update on the [extract-loader](https://github.com/NetMatch/

[2019-02-06 10:25] evilebottnawi commented on #164
@cduivis hm, PR welcome, maybe with code problem will be solved faster

[2019-02-09 05:13] G-Rath opened #320 "Create .d.ts definition with options interface for typescript"
Documentation Is:

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
This package uses an options object for configuration, that has a series of properties that are required to be of specific types to function correctly.

This options object is not defined in a typed manner that can be used to strongly type objects in typescript.

### Your Proposal for Cha

[2019-02-09 14:31] evilebottnawi commented on #320
Out of scope repo, please use https://github.com/DefinitelyTyped/DefinitelyTyped for types

[2019-02-09 14:31] #320 closed

[2019-02-14 12:04] naretini commented on #259
In my package.json I have:
`
"scripts":{
  ...
  "build-mydir01": "webpack --env.ext mydir01 --mode production ./code/mydir01/index.js --output ./public/mydir01/main.js",
 ...
 }
`

In my webpack.config.js:
`
const HtmlWebPackPlugin = require("html-webpack-plugin");
module.exports = function (env) {
    console.log(`env`, env);
    const ext = env.ext || 'src';

    const ext_file = require('./cod

[2019-02-15 03:07] G-Rath commented on #320
Seems strange that it's not out of scope for the [`json5-loader`](https://github.com/webpack-contrib/json5-loader/issues/11), but to each his own.

I'll try and make a PR *somewhere* when I get the time.

[2019-02-18 05:53] mustafawm commented on #272
I am using MiniCssExtractPlugin.loader, setting its publicPath to one level up worked for me

[code]

[2019-03-03 20:29] blachawk commented on #259
Is there any official documentation on how to output JSON files to my `/dist` folder with Webpack 4?

Simply adding `const langFile = require('./locale/en/lang.json');` to my webpack.config.js file does not tell me much or do much for me with  Webpack 4.  I still encounter the same error.

[2019-03-08 14:27] cduivis commented on #164
The PR is created :
https://github.com/webpack-contrib/file-loader/pull/321

[2019-03-22 10:30] StanAngeloff opened #322 "Infinite recompilation with `output.path` and `webpack --watch`"
* Operating System: Linux/Ubuntu 16.04
* Node Version: `v8.15.1`
* NPM Version: `6.9.0`
* webpack Version: `4.29.6`
* file-loader Version: `3.0.1`

### Expected Behavior

When using `output.path` in `webpack.config.js` I expect `webpack --watch` to react to file changes only once.

### Actual Behavior

`file-loader` puts `webpack --watch` in a constant re-compilation cycle.

### Code

[code]

###

[2019-03-22 10:35] #322 closed

[2019-03-22 10:35] evilebottnawi commented on #322
Problem solved?

[2019-03-22 10:43] StanAngeloff commented on #322
I'm not sure, the original issue in Laravel Mix is still outstanding, I just can't get to a minimal reproducible state :(

[2019-03-22 10:47] evilebottnawi commented on #322
@StanAngeloff i think problem deeply than in `file-loader`, plugin or loader add new file to graph so webpack recompile, we it is happens again and webpack recompile, starts to debug with plugins

[2019-04-01 02:57] cbernardes commented on #116
The problem is if you want your assets based on configuration and dynamic folders.

It turned out that building a White Label application is harder than I imagine.

1 - I don't import my images cause I don't want them to be a burden to my bundle.
2 - I don't reference them directly because they directly because they could come from my repo or from S3 for example and this path is completely configu

[2019-04-05 14:27] marcofugaro opened #323 "Importing a js file with the file-loader?"
I am trying to import a `.js` file with the file-loader to use it as a service worker:

[code]

Here is what I'm attempting to do in my webaìpack.config.js inside `module.rules`:

[code]
However the `service-worker.js` is still treated as a modules, it is an object whhen I log it (I think because I'm not exporting anything)
![image](https://user-images.githubusercontent.com/7217420/55633756-4d5eba

[2019-04-05 14:32] evilebottnawi commented on #323
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Don't use `file-loader` for this case. Workbox webpack plugin for this purpose.

[2019-04-05 14:32] #323 closed

[2019-04-15 07:13] shafiqkhuidad commented on #264
Hi @jgbarah i want the same thing and try the solution but doesn't work for me,
 {
   type: 'javascript/auto',
   test: /\.json$/,
   use: [ 'file-loader' ],
   include: /\.\/config/  // for e.g, but better to only copy particular JSON files (not all)
}
this code need to install some other plugin

[2019-04-16 12:12] shafiqkhuidad opened #324 "Trying to load json file using file-loader , it work before build but when create build it just load the path of file instead of content"
* Operating System:Window 10
* Node Version: v10.15.3
* NPM Version:6.4.1
* webpack Version:4.30.0
* file-loader Version:3.0.1

### Expected Behavior

should log values inside x.json file

### Actual Behavior

it log name of the generated json file in the build
### Code
i have created simple demo , here is the link to code repo
https://github.com/shafiqkhuidad/WebpackLoaders-Demo
### How Do We Rep

[2019-04-16 12:22] evilebottnawi commented on #324
It is expected, because `file-loader` generate file and doesn't parse content. You don't need `file-loader` for `json` in `webpack@4`. Also using `file-loader` increase you bundle size because tree shaking doesn't work

[2019-04-16 12:22] #324 closed

[2019-04-16 12:46] shafiqkhuidad commented on #324
@evilebottnawi thanks , i want to use same json file before and after build

[2019-04-16 12:51] shafiqkhuidad commented on #324
![image](https://user-images.githubusercontent.com/21343093/56210714-d99b9800-606f-11e9-9cc4-62fba2da2212.png)

if you see here the index.bundle.js file have reference to that json file .
i have json file-loader it just append the content of json file like that :
![image](https://user-images.githubusercontent.com/21343093/56210899-3008d680-6070-11e9-9f99-107c2a0a4b2a.png)
but i want to load this j

[2019-04-16 12:57] evilebottnawi commented on #324
Use `javascript/auto` or `json` https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefaulter.js#L60

[2019-04-17 09:59] joey-lucky opened #325 "how to get chunk name"
### Code

[code]
all this function has no arguments

[2019-04-17 11:29] evilebottnawi commented on #325
No way, is is module build step, webpack doesn't know chunk in this state

[2019-04-17 11:29] #325 closed

[2019-04-18 07:06] shafiqkhuidad commented on #324
i have already try this option it doesn't work for me . It append the json file into bundle.js , i don't want this .
i want to copy json file to build folder and then the generated build(bundle.js) file should use that copied file ?

[2019-04-18 09:53] evilebottnawi commented on #324
It is impossible, use multicompile mode

[2019-04-18 17:33] shafiqkhuidad commented on #324
Thanks @evilebottnawi , can you please share some link or example of multiple mode ?

[2019-04-19 10:49] evilebottnawi commented on #324
@shafiqkhuidad looks on documentation

[2019-04-21 14:58] LilyWakana opened #326 "an option to reserve querystring"
* Operating System:macOS
* Node Version: 8.12
* NPM Version: 6.4.1
* webpack Version:4.28.4
* file-loader Version:3.0.1

### Feature Proposal

An option to reserve querystring after filename, or an option to define the public filename.

### Feature Use Case

I may use some image optimization services provided by CDN operator, such as `logo.jpg?imageview/..`，but the filename is changed to `/publicP

[2019-04-23 10:06] evilebottnawi commented on #326
Hi, can you provide example usage where you need query string, because it is part of webpack and it is not easy to solve

[2019-04-24 14:24] vodnycheck opened #329 "Problem with publicPath when localhost has URL segment but production server hasn't"
I'm using file-loader to load images in background-image in CSS files. I faced difficulty with different URL on my local environment and server.

Locally on my IIS I have a website with the name "platform", so the URL is `http://localhost/platform`.
The production server is working with root folder so URL on production is `http://application-name.com`, without "platform" segment.

Now I use a work

[2019-04-24 15:12] evilebottnawi commented on #329
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Don't use relative url, it can break app

[2019-04-24 15:12] #329 closed

[2019-04-24 15:12] evilebottnawi commented on #329
Also please use gitter or stackoverflow for questions

[2019-04-25 10:35] LilyWakana commented on #326
@evilebottnawi I may write this in my  stylesheet:

[code]

`imageView2` means using the image optimization API privided by a CDN operator. `q` means the quality of the image, and `/interlace/1` means that the image will be loaded  from blurred to clear at bad network.

`publicPath` in my configuration is `https://odum9helk.qnssl.com`.  The url is changed to `https://odum9helk.qnssl.com/resource/S

[2019-04-28 07:38] coocssweb opened #330 "images was damaged after the build"
Images was damaged after the build. and the photo can't even preview.

Recently, i update babel to 6.7.7, webpack to 4.30.0, file-loader to 3.0.1, url-loader to 1.1.2, cause this bug, and i can't solve it. Can you take a moment to help.

* Operating System: mac os
* Node Version:v8.6.0
* NPM Version:
* webpack Version:4.30.0
* file-loader Version:3.0.1

### Code

Here is the webpack.config.js link

[2019-04-29 01:38] #330 closed

[2019-05-05 17:34] michaelprescott opened #331 "Order of rules matters when using url-loader and file-loader"
Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

I've been wrestling with an issue and crawling the web for hours.  I was in the process of documenting it as a bug when I discovered how to solve it.

I have file-loader and url-loader both configured to handle `test: /\.(png|jpe?g|gif)$/I,`, and url-loader has its limit set to 10KB.   u

[2019-05-06 09:37] evilebottnawi commented on #331
Order of rules is not matters, please provide minimum reproducible test repo

[2019-05-09 09:08] HouCoder commented on #114
I solved this problem with `outputPath` option.

Here is my project structure.

Source folder.
[code]

Here is the generated folder structure, the `images` folder is perfectly inside the correct parent folder(us folder).

[code]
My webpack entry names are perfectly matched with folder names under `src/pages` folder, so I can use a custom function to get the correct entry name based on relative pat

[2019-05-27 14:55] AlexyOd opened #332 "why file-loader doesn't work ?!"
[code]

[2019-05-27 14:59] evilebottnawi commented on #332
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

You have invalid regexp

[2019-05-27 14:59] #332 closed

[2019-05-27 15:53] AlexyOd commented on #332
test: /\.(jpg|jpeg|gif|png)$/, - doesn't work
test: /\.png$/, - doesn't work

test: /.(png|woff(2)?|eot|ttf|svg)(\?[a-z0-9=\.]+)?$/, - work, but not in my confik

[2019-05-27 15:55] AlexyOd commented on #332
[code]

[2019-05-28 03:40] funkyLover commented on #241
@evilebottnawi hash for SVG is different in mac & windows
an minimum reproducible test repo https://github.com/funkyLover/issue-reproducer/tree/master/hash-check

[code]

[code]

[code]

[code]

[2019-05-30 10:40] coocssweb commented on #330
I’m realy sorry.
I found the reason why images damage, it is my webpack-copyright-plugin sign the image files and cause the image files coding error.
I try to reconfiguration webpack.config.js. Finally, resolve it.
If it bring you confusion, I sorry.

[2019-06-05 12:21] evilebottnawi commented on #326
Not related to file-loader, should be fixed in css-loader (issue already exists)

[2019-06-05 12:21] #326 closed

[2019-06-05 12:21] evilebottnawi commented on #331
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-06-05 12:21] #331 closed

[2019-06-12 13:27] mperu92 opened #335 "File-Loader not reading from DevServer"
Hi,
I'm trying to load some fonts using `webpack-dev-server`, but it seems not reading the correct path.
My `webpack.config.dev.js`:
[code]
But when I launch my project the `network` in `Chrome DevTool` warns me of few errors:
`https://localhost:44366/Welcome/af7ae505a9eed503f8b8e6982036873e.woff2 net::ERR_ABORTED 404`

but `https://localhost:44366/` isn't the `webpack-dev-server` url, is the url

[2019-06-13 10:17] evilebottnawi commented on #335
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Because you `publichPath` is wrong, webpack-dev-server doesn't read something from file-loader. Please read docs abou

[2019-06-13 10:17] #335 closed

[2019-06-30 22:48] scottyh527 commented on #155
Hi I'm having a similar issue I think. I recently tried implementing webpack, and the icons that I had before of the flags don't seem to show up. I have a app.scss file where i'm importing these icons

// Styles
// CoreUI Icons Set
@import '~@coreui/icons/css/coreui-icons.css';
// Import Flag Icons Set
@import '~flag-icon-css/css/flag-icon.min.css';
// Import Font Awesome Icons Set
@import '~font-

[2019-07-01 11:49] gauravkakkar87 commented on #114
@HouCoder I need to do the similar kind of configuration for a project, can you help or share your webpack config file. I tried above code, but not sure where it should go.

[2019-07-05 17:20] MiniGod opened #336 "2 files emitted if file-loader query and rule used together"
- Operating System: Ubuntu 18.04
- Node Version: v12.6.0
- NPM Version: v6.9.0
- webpack Version: v4.3.2
- file-loader Version: v4.0.0

### Expected Behavior

The `module.exports` generated for the `require` should  always be the path to the file with the content, not a file that exports the path to said file.

### Actual Behavior

When a file is loaded with `require('file-loader!./b.js')`, as wel

[2019-07-05 17:26] evilebottnawi commented on #336
Your configuration provide expected output, i can't understand why you expected other behavior and say what is is bug :confused:

[2019-07-05 17:30] MiniGod commented on #336
Thanks for the fast response!

I was trying to configure the `outputPath` for the files that `ace-builds/webpack-resolver` pulls in. They all end up in the root of `dist/` which I did not want.

See: https://github.com/ajaxorg/ace-builds/blob/master/webpack-resolver.js

I might very well be doing this the wrong way.

[2019-07-05 17:41] evilebottnawi commented on #336
@MiniGod hm, can you provide full reproducible repo to investigate problem?

[2019-07-05 17:46] evilebottnawi commented on #336
You expected what `ace.config.setModuleUrl("ace/ext/beautify", require("file-loader!./b.js"));` => `ace.config.setModuleUrl("ace/ext/beautify", ace.define(/* foo bar */););`, right?

[2019-07-08 00:27] MichaelJCole opened #337 "url-loader filling files with base64"
See this repo: https://github.com/MichaelJCole/webpack-file-loader

Notes in these files: https://github.com/MichaelJCole/webpack-file-loader/search?q=ISSUE_HERE&unscoped_q=ISSUE_HERE

### Expected Behavior
        /* ISSUE_HERE (1/3)

        Hello!  And Welcome To The Internet!

        This is a [Quasar](http://quasar.dev) config file.
        This section extends web pack.

        Also includ

[2019-07-08 02:31] MichaelJCole commented on #337
I figured out a working setup on my end and am not sure this is a bug after all.

[2019-07-08 02:31] #337 closed

[2019-07-08 12:59] MiniGod commented on #336
Yes that's the output that I'd expect. However, the output in dist is like this:

    ace.config.setModuleUrl("ace/ext/beautify", __webpack_public_path__ + "9fd622c116f2bb83d54eae2c49d8141e.js");

And the content of `dist/9fd622c116f2bb83d54eae2c49d8141e.js` is:

    module.exports = __webpack_public_path__ + "lib/f588e2144d0ba4ab157205ce359e6a0a.js";

So ace tries to load that file as the js file

[2019-07-08 13:05] evilebottnawi commented on #336
Just for information, what is use case, why you need put files in lib?

[2019-07-08 13:14] MiniGod commented on #336
The goal is that the public path to the files from ace will be something like: `https://hostname/admin/lib/ace/f588e2144d0ba4ab157205ce359e6a0a.js`

Webpack builds an SPA and I have the public path set to `/admin/`. Since ace spits out 400 files I don't want those directly inside of the admin foler.

[2019-07-08 13:25] evilebottnawi commented on #336
:+1: thanks, i will look on it in near future

[2019-07-11 08:51] undeadborn commented on #272
I faced this issue in a project with multiple entry points (not a SPA). They were sharing the same assets but having different relative paths to them. Project is deployed under a particular base context (http://localhost:8080/app), so using absolute path "/" as the publicPath was not an option.

The way I fixed it was putting all entries that were using assets on same directory level, so they will

[2019-07-13 15:07] gtupak commented on #271
@tsheaff This might sound ignorant, but where is this "babel-register" file?

[2019-07-15 06:44] joseprio opened #338 "Add a flag to enable ES module syntax"
### Feature Proposal
At the moment the generated JS module uses the commonJS syntax. It would be useful to have an option that would use the ES module syntax instead.

### Feature Use Case
Old commonJS syntax prevents module concatenation in Webpack. It may help tree shaking in some cases too.

[2019-07-15 06:45] joseprio commented on #338
Happy to create a pull request if needed.

[2019-07-15 10:27] evilebottnawi commented on #338
PR welcome

[2019-08-06 16:25] orpheus commented on #84
THANK YOU

[2019-08-13 13:11] BonBonSlick opened #342 "Font is not loaded?"
[code]

[code]

Vue.js project structure
[code]

**Error**

`Module not found: Error: Can't resolve './fonts/roboto/Roboto-Light.ttf' in ...
`
All of these ways are not working, font is not loaded, module is missing, invalid settings.
[code]
[code]

full config
[code]
Tried different paths. Font size applied, font face does not, why?

[2019-08-13 13:15] evilebottnawi commented on #342
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

You should provide minimum reproducible test repo, you configuration is unreadable

[2019-08-13 13:15] #342 closed

[2019-08-29 11:25] ShreyaswadE commented on #84
@odyss009
where exactly do we have to write these loaders then, the webpack.client.js or the webpack.server.js ?

[2019-09-09 06:47] G-Rath commented on #320
I created a PR for definitions to DT: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38229

I'll create definitions for the other loaders once that is accepted, since they'll be pretty much the same.

[2019-09-19 14:33] tusharosu opened #343 "SVG icon shows up as text in the loaded application index.html"
- Operating System: Linux
- Node Version: 10.16.3
- NPM Version: 6.9.0
- webpack Version: 4
- file-loader Version: 4.2.0

### Expected Behavior

The svg icon should show up as an image in the loaded application's html page

### Actual Behavior

The svg icon shows up as the following text in the loaded application's html page
```module.exports = __webpack_public_path__ + "images/97f09d2d69ed0771769

[2019-09-19 19:16] ipatch commented on #343
having the exact same behavior as well.

using
- npm@6.11.3
- webpack@4.40.2
- file-loader@4.2.0

also while skimming through the README i didn't see any examples that contained SVG as a filetype that file-loader can handle, so not exactly sure that this webpack loader can even handle SVG. 🤷‍♂️

[2019-09-20 15:01] tusharosu commented on #343
Thanks for the advice Chris!
Got it working with the svg-inline-loader!

[2019-09-20 15:01] #343 closed

[2019-10-01 20:32] tonix-tuft commented on #264
@michael-ciniawsky That's great! How can I tell Webpack where to save the file and how should its name be?

[code]

Tried this but it doesn't work, I get the following error:

[code]

[2019-10-08 12:35] skjnldsv commented on #114
Here's what I'm using, works fine!

[code]

[code]

[2019-10-10 18:03] denis-pujdak-adm-it commented on #46
I have solved my problem with the following `vue.config.js` settings:
[code]

[2019-10-14 03:26] garkin commented on #259
Correct way to use `file-loader` with JSON in Webpack 4+:
[code]

[2019-10-16 09:42] footballman17 commented on #259
best wishes, you awesome :)))
With saving path:

[code]

[2019-10-27 09:01] Garwin4j commented on #259
So I do this, the project build and loads, but it seem the JSON import is undefined like it isn't ready the JSON. is anyone else getting this? Does your application still recognize the JSON values after doing tihs.

[2019-11-04 11:44] Emobe commented on #271
@firegeek0218 @gtupak `require.extensions` has been deprecated by nodejs now

[2019-11-05 14:57] jayhill90 commented on #160
Worked great!

[2019-11-21 14:38] evilebottnawi commented on #338
Done in master, release will be soon

[2019-11-21 14:38] #338 closed

[2019-11-25 17:18] 719media opened #350 "Strange filename for urls with hash"
- Operating System:
- Node Version: 13.2
- NPM Version: 6.13.1
- webpack Version: 4.41.2
- file-loader Version: 5.0.2

### Expected Behavior

Same output for compilation

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

Just use font awesome in your build. Like
[code]

[2019-11-25 17:32] evilebottnawi commented on #350
Update css-loader to latest version or disable ES modules https://github.com/webpack-contrib/file-loader#esmodule

[2019-11-25 17:32] #350 closed

[2019-11-25 17:34] evilebottnawi commented on #350
If it not solve your problem please open new issue in css-loader with reproducible test repo

[2019-11-25 23:34] 719media commented on #350
Adding esModule: false to the loader worked. I'm not exactly sure why that has that effect, but I appreciate the help.

[2019-11-26 08:49] markusdanek opened #351 "SVG TypeError: Cannot read property 'tagName' of null"
- Operating System: macOS
- Node Version: 10.16.0
- NPM Version: 6.12.0
- webpack Version: 4.41.2
- file-loader Version: 5.0.2

### Expected Behavior

Load SVG icon in JSX.

### Actual Behavior

### Code

[code]

[code]

[code]
### How Do We Reproduce?

After updating `file-loader` from v4.2.0 to v5.0.2 I am getting this error.

[2019-11-26 09:03] pcjmfranken commented on #351
Can confirm same issue happening here after upgrading file-loader from v4.2.0 to v5.0.2.

[2019-11-26 09:31] evilebottnawi commented on #351
Duplicate of https://github.com/smooth-code/svgr/issues/362

[2019-11-26 09:31] #351 closed

[2019-11-26 10:12] markusdanek commented on #351
What is going on @evilebottnawi?
- Referencing my issue from smooth-code/svgr#362 as duplicate
- Closing issue smooth-code/svgr#362
- Closing this issue here too

This does not resolve any issues or gives a hint how to fix it in another ticket.

[2019-11-26 10:16] evilebottnawi commented on #351
@markusdanek do you read changelog? we switch on ES modules so some other non official loaders can buggy, we can't solve this on our side, look in you stack trace in error:
[code]

You can see what problem in `@svgr/webpack` package

[2019-11-26 10:19] markusdanek commented on #351
Yes I read the changelog and saw the breaking change with ESModule.
It still was not clear to me that this also affects other packages that `file-loader` is using.

[2019-11-26 10:23] evilebottnawi commented on #351
@markusdanek yes it can affect, potential buggy place https://github.com/smooth-code/svgr/blob/master/packages/webpack/src/index.js#L34

[2019-11-26 10:24] evilebottnawi commented on #351
@markusdanek you can fix it using `esModule: false`, but you build size will be increased because it is do impossible concatenated modules

[2019-12-05 19:34] ararename commented on #272
Hello, i faced the same problem and in my case i was able to just split the source directories for my files like this:
[code]
According to the names images implemented as background images go into /img/background-img/ and regular ones go into /img/regular-img/.

[code]
Later yet, but maybe it is useful to somebody.

[2019-12-08 18:40] b8kkyn opened #352 "Same asset doesn't get rebuild after first build"
- Operating System: Windows
- Node Version: 12.13.0
- NPM Version: 6.12.0
- webpack Version: 4.41.2
- file-loader Version: 5.0.2

### Expected Behavior

Rebuild logo.svg after first build

### Actual Behavior

Doesn't rebuild after first build of logo.svg

### Folder Structure

Let say we have something similar to this:
[code]

### Code

Our webpack.config.js includes this section:

[code]

### Ho

[2019-12-09 09:42] evilebottnawi commented on #352
Can you create reproducible test repo? Also try to disable `clean-webpack-plugin`

[2019-12-10 09:45] evilebottnawi commented on #352
Fixed in webpack@5, can't be fixed on loader side

[2019-12-10 09:45] #352 closed

[2019-12-23 22:33] IronSean opened #353 "Outputting [Object object] instead of URL for CSS file url functions"
- Operating System: Windows 10
- Node Version: v12.13.1
- NPM Version: 6.12.1
- webpack Version: 4.41.4
- file-loader Version: 5.0.2

### Expected Behavior

generate CSS like this (as it did in file-loader 4.x):
[code]

### Actual Behavior

generates CSS as
[code]

### Code

The use of `file-loader` is completely default currently, I'm working on a repro below as the whole webpack config is quite

[2019-12-24 07:34] evilebottnawi commented on #353
update css-loader to latest version, or you can disable ES module syntax using `esModule: false`

[2019-12-24 07:34] #353 closed

[2020-01-06 08:11] imsole opened #359 "nosupport .ttc Format font file"
Sorry, there's no demo address here; just want to make sure that. TTC font file loading is not supported

[2020-01-06 08:23] anikethsaha commented on #359
can you share your webpack config ?

[2020-01-06 18:16] kevinlabx commented on #259
Thank you this actually works.

[2020-01-06 19:13] evilebottnawi commented on #359
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Just add `ttc` to `test` property

[2020-01-06 19:13] #359 closed

[2020-01-08 01:09] imsole commented on #359
I made a mistake before. That's good

[code]

[2020-01-15 06:33] wusiquan opened #360 "enhance publicPath and emitFile option"
Feature Proposal
hope `publicPath` option  support `async` function and `emitFile` option support function type, a function return bool, for user to decide whether to emit File.

Feature Use Case
images uploaded to static server or cdn, related code could write in `publicPath` directly.
Once a file has been uploaded, eg. check the start substring of publicPath in `emitFile` function, could not bee

[2020-01-15 11:39] evilebottnawi commented on #360
Sorry it is out of scope `file-loader`, you can create plugin for doing it

[2020-01-15 11:39] #360 closed

[2020-01-19 23:55] akoidan commented on #261
Let's assume `src/assets` is your assets directory:

[code]

If you have :
 - `src/assets/fonts/a.ttf`
 - `src/assets/images/cool-images/b.png`

For prod mode this conf would create files:
 - `./dist/fonts/a.ttf`
 - `./dist/images/cool-images/b.png`

For dev-server it will server those files withing the same path as the name

[2020-01-27 10:45] acqsk opened #361 "Path variables does not work inside publicPath"
Path variables for example [ext] does not work inside output.publicPath :-(

("@babel/core": "^7.7.7")

[2020-01-27 10:50] evilebottnawi commented on #361
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-01-27 10:50] #361 closed

[2020-01-27 11:00] acqsk opened #362 "Path variables does not work inside publicPath"
- Operating System: Windows 10 + Ubuntu WSL
- Node Version: 10.18.1
- NPM Version: 6.13.6
- webpack Version: 4.41.5
- file-loader Version: 5.0.2

### Expected Behavior

publicPath: ('[ext]' === 'js' || '[ext]' === 'css') ? "{$basePath}/dist/" : "./",  => [ext] will return file extenstion

### Actual Behavior

publicPath: ('[ext]' === 'js' || '[ext]' === 'css') ? "{$basePath}/dist/" : "./",  => [ex

[2020-01-27 11:21] evilebottnawi commented on #362
Because publicPath doesn't support patterns please read https://webpack.js.org/configuration/output/#outputpublicpath and  https://webpack.js.org/guides/public-path/

[2020-01-27 11:21] #362 closed

[2020-01-27 11:26] acqsk commented on #362
@evilebottnawi but till now, It was working. Something was changed?

[2020-01-27 11:39] evilebottnawi commented on #362
output.publicPath is option for webpack, not for file-loader

[2020-01-27 11:44] acqsk commented on #362
@evilebottnawi thanks for info, but till upgrade packages, the [ext] inside publicPath was working. How can I make the same without [ext]? I need to modify the path of files, which I will inject into html (with HtmlWebpackPlugin).

[2020-01-27 15:54] puranis038 commented on #271
Hi! I am facing the same issue now. Is there any solution for this? I have tried with file-loader, image-webpack-loader, etc but nothing is working for me. Please let me know. Thanks!

[2020-01-27 15:59] evilebottnawi commented on #271
Something wrong in configuration

[2020-01-28 07:21] puranis038 commented on #271
I have imported .png file in react typescript. I am getting unexpected character while testing. I have tried installing image-webpack and other package but nothing is working for me. But is it a right way that I am doing? I can post my webpack.config.js file if needed.

[2020-01-30 07:58] RezaZR opened #363 "Font Face URL Doesn't Target dist Folder"
Hi, please help me anyone.

I add font-face on my **_main.scss** and then i build and send it to dist folder. Here is my project's structure:

![image](https://user-images.githubusercontent.com/9331014/73429357-15d58600-436e-11ea-834f-6edd7410bdca.png)

- Operating System: Windows 10 Pro 64-bit (10.0, Build 18362)
- Node Version: v10.15.3
- NPM Version: 6.4.1
- webpack Version: ^4.41.5
- file-load

[2020-01-30 08:09] anikethsaha commented on #363
you should give relative paths with proper project structure so that the environment in `src` can be replicated in `dist` as well.
You need to make changes to your project structure.
In general, assets are something that you don't want to keep inside the `src` folder. it can be in the root so when deploying your site, it will be deployed as a separate folder in root as well so you can link the ima

[2020-01-30 08:16] RezaZR commented on #363
@anikethsaha hello, thank you for your answer but can you give me example how to replicate src to dist using webpack?

[2020-01-30 08:35] anikethsaha commented on #363
use https://github.com/webpack-contrib/file-loader#publicpath and https://github.com/webpack-contrib/file-loader#outputpath

[2020-01-30 10:04] evilebottnawi commented on #363
Answer above

[2020-01-30 10:04] #363 closed

[2020-02-03 16:58] vaniljs commented on #261
Спасибо вам за такой замечательный скрипт!!!
Искал несколько дней решение для обработки относительных путей.
Спасибо!

[2020-02-03 16:59] vaniljs commented on #261
**akoidan**
Thank you for such a great script!!!
I was looking for a solution for processing relative paths for several days.
Thanks!

[2020-02-14 11:25] Powell-v2 opened #364 "Retain query string in the final file output path"
### Feature Proposal
Hi there,

Currently any query string gets stripped away from the output path: `path/to/image.webp?q=/width_50/quality_50` becomes `path/to/image.webp`. As far as I can tell, there is neither a placeholder representing query string (e.g. `[name].[hash:8].[ext][querystring]`), nor an option allowing to retain it.

Seems like a straightforward change as resource's query string i

[2020-02-14 11:29] evilebottnawi commented on #364
It can't be fixed on file-loader side, already discussed many times, sorry, it is the internal mechanism. It is used for arguments for other loaders. You can write custom plugin/loader if you need to same some of them or add new

[2020-02-14 11:31] anikethsaha commented on #364
i dont see either any use case of this feature as nonscriptable files cant process those query string.

example: how a `.png` will process the queries ?

SO its not suitable and not workable

[2020-02-14 11:40] evilebottnawi commented on #364
Server side handling, but I recommend setup webpack to ignore them, because they are not real static assets

[2020-02-14 14:52] kamermans commented on #364
The primary use case is Image CDNs.  Influencers like Google are [recommending people use Image CDNs](https://web.dev/image-cdns/).  These CDNs allow the developer to [adjust the image on-the-fly using URL parameters](https://imageengine.io/docs/implementation/directives).  Every file that `file-loader` loads will ultimately be served via HTTP, and usually by a server that will gladly ignore a URL

[2020-02-14 15:17] evilebottnawi commented on #364
Do you know what some proxies in your path into internet (from a client to a server) still not respect query parameters for cache invalidation and still cache a result, you can try it manually and found a lot of them? So most of CDN use urls like `https://code.jquery.com/jquery-3.4.1.slim.js` where you have a version as part of `pathname`. Just for information.

Using query string for static asset

[2020-02-14 17:04] kamermans commented on #364
First, you are super-responsive and I definitely appreciate that!  I have helped maintain many open source projects and it's really hard to keep on top of the non-stop requests, so thank you!

Yes, great point.  This is why some Image CDNs like ImageEngine (full disclosure, I a co-founder) allow directives in the URL instead of just the query string.  This problem is much less common these days (c

[2020-02-18 07:17] austin880625 commented on #336
Same issue happens for importing images(SVG as far as I tested). If the returned public path is used in HTML attributes like `src`. the browser will fetch the string like `module.exports = __webpack_public_path__ ...` and fail to display the image.

This also happens when rules of loaders testing over a same file(e.g. an svg can be an image or a font, and hence may be included in separate rules wi

[2020-02-18 16:12] evilebottnawi commented on #336
Here interesting case:
- invalid configuration, if you setup `file-loader` in a configuration you need to use `require("!!file-loader!./b.js")`/`import("!!file-loader!./b.js")`, it is disable loader from configuration ( or just remove `file-loader`) from a request.
- file-loader always return JS code, if you need copy files please use CopyWebpackPlugin

@austin880625 I don't know what do you want

[2020-02-18 16:19] evilebottnawi commented on #364
@kamermans Ok, let’s think about how we can solve this here, and then transfer this solution to webpack@5 asset type to avoid problem in future.

Can you create a minimal easy example? Because having a code and an approximate structure on hand will make it easier for us to communicate.

You provide example:

[code]

Should be the `imgeng` argument was static? Or it is set up using JS? Or it is do

[2020-02-18 22:43] austin880625 commented on #336
@evilebottnawi  I made the repository [here](https://github.com/austin880625/file-loader-test). I currently consider this as a configuration problem. But I am still confused about how does webpack use loaders to generate the bundles, so below might not really relate to this problem but I will appreciate it if there is an answer.

I know that a loader is a functions that returns a JS module by defi

[2020-02-19 03:39] kamermans commented on #364
Thanks for the response!

Yes, the query string should be static, otherwise the browser's [speculative preloader](https://andydavies.me/blog/2013/10/22/how-the-browser-pre-loader-makes-pages-load-faster/) will load the original version **and** the one modified by JS.

Browsers get around this problem via [responsive images and client hints](https://www.smashingmagazine.com/2017/04/content-delivery

[2020-02-19 11:17] evilebottnawi commented on #364
I think I understand your idea. I need to discussion with other developers how best to solve this. I’ll try to get it today, feel free to ping me :+1:

[2020-02-19 13:40] evilebottnawi commented on #364
Just interesting why do not implement:
[code]

[2020-02-19 13:42] evilebottnawi commented on #364
For local development developers use this:
[code]
For production developers set up `publicPath: "https://cdn.domain.com"`

[2020-02-19 13:56] kamermans commented on #364
[code]

This would work (at least for my CDN), but most people CNAME their domain (`mysite.xyz`) to their CDN (`cdn.domain.com`) so they just need to change the hostname from which their assets are served, for example, by changing the `publicPath`

---

[code]

That is an interesting idea as well, but I don't see how it would work for local development unless you physically create the path `./w_36

[2020-02-19 14:11] evilebottnawi commented on #364
Thanks for the information. I think we can implement this using `name: '[path][name].[ext]?[query]'`, also provide query params to the `Function` notation. It should be easy to implement, no additional options and simple for setup.

[2020-02-19 14:11] kamermans commented on #364
I've updated my example site to use the CDN in a more typical way.

You will see that my assets are being served from `lxrue9qg.cdn.imgeng.in`, which is the CDN.  The CDN then grabs them from the site (`distracted-ritchie-1f0417.netlify.com`) and optimizes them.

[2020-02-19 14:12] kamermans commented on #364
Ok, great, I had prototyped this by adding the `resourceQuery` to the `Function` notation and that worked fine in Webpack 4.

[2020-02-19 14:16] evilebottnawi commented on #364
The default value of `name` will be without `[query]`, because we need do braking change for this, releasing new major version is unnecessary because in our long term that developers should migrate on `asset` type (I think we will respect `[query]` by default for `asset` type)

[2020-02-19 14:35] kamermans commented on #364
For reference, when `[query]` is available, this is how it can be set in a Vue CLI application:
[code]

[2020-02-19 15:03] evilebottnawi commented on #364
Maybe also (i am not familiar with Vue CLI):
[code]

[2020-02-19 15:49] kamermans commented on #364
Yes, that should also work, although I imagine it would replace the existing rule (`url-loader`) and revert to the default `name` (which is computed [like this](https://github.com/vuejs/vue-cli/blob/dev/packages/%40vue/cli-service/lib/config/base.js#L8-L13) in Vue CLI).  I'm not sure what impact that would have on the downstream loaders.

[2020-02-19 17:57] #364 closed

[2020-02-19 17:59] evilebottnawi commented on #364
@kamermans solved, please try https://github.com/webpack-contrib/file-loader/releases/tag/v5.1.0

[2020-02-20 22:33] kamermans commented on #364
Awesome, thanks!

I've tested it in my site: https://distracted-ritchie-1f0417.netlify.com/

For some reason it works for the background image (via CSS) but not for the `<img>` tag, which has ended up with the image sources being replaced with `[object Module]`:

[code]

This doesn't seem related to your change though, since it happens with `file-loader@v5.0.0` as well.  Vue CLI is shipping with `

[2020-02-21 10:37] evilebottnawi commented on #364
Yes, it is bug in html-loader, ETA next release is next week

[2020-02-26 13:08] shubham-harsh commented on #151
Hi,
I am trying the same thing and getting 404. can someone please guide me on how to fix this?

[2020-02-26 13:09] shubham-harsh commented on #151
@LavaRiddle or @LucasBassetti can you guys please tell me how to fix this?

[2020-03-03 12:32] scott-ln opened #367 "`SyntaxError: Unexpected token 'export'` after upgrading to 5.1.0"
- Operating System: Windows 10, but using Git Bash
- Node Version: 12.13.0
- NPM Version: 6.13.4
- webpack Version: 4.42.0
- file-loader Version: 5.1.0

### Expected Behavior

Build succeeds.

### Actual Behavior

A build error occurs. It makes reference to `extract-loader`, but the error is only triggered after installing `file-loader` 5.1.0. Downgrading to 4.3.0 removes the error. The error seem

[2020-03-03 12:42] evilebottnawi commented on #367
It is bug on `extract-loader` side, please open an issue in their repo, as a workaround you can set `esModule: false` (please read https://github.com/webpack-contrib/file-loader#esmodule)

[2020-03-03 12:42] #367 closed

[2020-03-03 13:26] scott-ln commented on #367
@evilebottnawi Will do, thank you.

[2020-03-05 01:45] stories2 commented on #259
With exclude `node_modules` it makes best for me.

[code]

[2020-03-17 15:57] tstirrat15 opened #370 "More documentation around esModules and their behavior please"
Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [x] Not Sure?

### Please Explain in Detail...
In v5 `esModules` became a default. That broke my application, and making it `false` fixed it, but I have no idea why, and the documentation isn't clear on this note.

* What does an `esModule` mean in the context of `file-loader`?
* How would it be imported and used? Is it meant for end

[2020-03-17 16:02] evilebottnawi commented on #370
From docs:

Always yes.

How tree-shaking works is out of the repo.

You can find a lot of articles about tree shaking and `import`/`export`

[2020-03-17 16:02] #370 closed

[2020-03-17 16:08] tstirrat15 commented on #370
Is that yes to end consumption or is that yes to chaining? I think that would answer my question.

[2020-03-31 02:26] mapleby opened #371 "In the webbakc watch mode, the missing image output will appear"
- Operating System:windows 10
- Node Version:12.13.1
- NPM Version:6.14.2
- webpack Version:4.42.1
- file-loader Version:5.0.2

### Expected Behavior
In the webpack watch mode, the output directory already has pictures.  use import to import pictures to load and output new pictures into the directory.

### Actual Behavior
In the webpage watch mode, when the output directory has pictures, the newly

[2020-04-04 05:10] kamermans commented on #364
Hey, thanks again, I can confirm that everything is working properly (my issue above was actually resolved by disabling `esModule`).

[2020-04-07 10:02] rightaway commented on #370
Are we able to use `import()` function or only `import` statement? I get `src="[object Promise]"` as the output when I use `import()` even though I have `esModule: true`.

[2020-04-07 10:08] evilebottnawi commented on #370
@rightaway update html-loader to latest version

[2020-04-07 14:03] rightaway commented on #370
I'm not using html-loader. You mean file-loader? I'm using latest 6.0.0. This is in a Vue template file btw.

[2020-04-24 05:24] RezaZR commented on #259
Adding esModule works best for me. Thank you for the solution
[code]

[2020-05-02 18:38] Richifg commented on #259
This is working for me, my bundle now builds successfully and I have a separate JSON file, but now my app stop working. The js in the bundle that imports the JSON file is only getting a string with the file name instead of the javascript object I was receiving before extracting the JSON file from the bundle.

Any idea what can he causing this?

[2020-05-03 00:35] Garwin4j commented on #259
I had the same problem. For this you have to read the file as a normal text file and transform it at runtime:

[code]

The thing to consider thou is to ensure this is done before the file is used in code.

[2020-05-03 01:21] Richifg commented on #259
@Garwin4j thanks for the quick replh, yes I ended loading the failed asyncronously as well. I did with fetch api and it worked well.

[code]
In this example the file is also at the root.

[2020-05-07 09:27] Bosch-Eli-Black commented on #259
So, to sum this up:

If you want Webpack to load the contents of your JSON, so that you can immediately use it in your code, don't use `file-loader` at all. (https://github.com/webpack-contrib/file-loader/issues/259#issuecomment-391779346)

Example:

**Your code**
[code]

This method has a downside: The entire contents of the JSON file gets bundled into your app's .js file, which of course makes y

[2020-05-10 05:56] AssouaAlbert commented on #116
An we keep going through tutorial ans I dont think I saw one person adding an import.

[2020-05-18 06:57] lerit commented on #350
@evilebottnawi
update css-loader not resolve this issue:"css-loader": "^3.5.3"
only work with:esModule: false
[code]
current file-loader:v6.0.0

[2020-07-03 15:18] AmberWilliams opened #376 "Jpeg-2000 support"
- Operating System: MacOs
- Node Version: v12.4.0
- NPM Version: 6.9.0
- webpack Version: 4.41.18? (used through Gatsby)
- file-loader Version: not using it at the moment

### Feature Proposal
Be able to use `.jp2` (Jpeg-2000) images in bundled source code

### Feature Use Case
Image optimization for Safari users

[2020-07-03 15:53] evilebottnawi commented on #376
Just add `jp2` to `test`

[2020-07-03 15:53] #376 closed

[2020-07-03 15:53] evilebottnawi commented on #376
Please create this issue in `Gatsby`

[2020-07-06 00:17] dbowling commented on #352
I ran into this same issue and clean-webpack-plugin was the cause. My images and fonts were blown away on the second run. I verified this was with the plugin by adding `verbose: true`, and fixed the issue by setting `cleanStaleWebpackAssets: false`.

My plugin now looks like:
[code]

Upgrading to webpack@5 did not resolve the issue when this plugin was enabled.

[2020-07-07 13:02] czabaj opened #377 "Provide file stats via named exports"
### Feature Proposal

Provide file stats as named exports, similarly how [@swgr/webpack](https://github.com/gregberge/svgr/tree/master/packages/webpack) operates.

[code]

I found [sizeof-loader](https://github.com/dashed/sizeof-loader) which provides this functionality but has incompatible API with file-loader, it provides stats object including `src` as the default export, using named exports fo

[2020-07-07 13:35] evilebottnawi commented on #377
Sorry, it is out of scope `file-loader`, you can create an own loader for this case, it is very non standard feature, you even can do it without loader, just fetch resource and calculate it, you already have URL to an asset,

[2020-07-07 13:35] #377 closed

[2020-07-29 13:44] liuchunda opened #378 "import png from './image.png'; png is object,is not a url(string)"
file-loader version:1.0.0

//webpack.config.js
[code]

//index.js
`import resultPng from './image.png'; `

the resultPng is a object =>{"default":"ec7912772accb93cf96e84407a5459d4.jpg"}.is not a url string.

[2020-07-29 13:54] evilebottnawi commented on #378
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Update your deps to latest

[2020-07-29 13:54] #378 closed

[2020-08-04 11:10] one618 opened #379 "copying images with picture tag"
On production file loader is only loading the jpg image, is there is any way to copy both pictures insde picture element ?

[code]

so only the jpg will be copied after i build and here is my configuration

[code]

[2020-08-04 11:15] evilebottnawi commented on #379
We don't touch html content, and you ignore the issue template, so I can't help sorry

[2020-08-04 11:15] #379 closed

[2020-08-04 11:16] evilebottnawi commented on #379
maybe you need to change ` test: /\.(gif|png|jpe?g|svg|webp)$/i,`

[2020-08-04 11:19] one618 commented on #379
Ok i;m sorry but do you know where should i post my question ?

[2020-08-13 20:33] SevlaMare commented on #293
I came across the same situation, this occur because the default behavior is to consider that your styles are inside a embed tag<style>, so the path will be the same. But if you are using only css-loader, without style-loader, so you need to tell the new public path to file-loader, like:

options: {
  output: 'img/',
  **publicPath**: '../'
},

and inside your css files on source, you can call it

[2020-08-13 20:38] SevlaMare commented on #293
I came across the same situation, the solution is make use of public path, like:

[code]
and inside the css files, you can call like:
`background-image: url("/src/images/background.jpg");`

Don't even need setup the url-loader for this behavior.

[2020-08-13 20:38] SevlaMare commented on #293
I came across the same situation, the solution is make use of public path, like:

[code]
and inside the css files, you can call like:
`background-image: url("/src/images/background.jpg");`

Don't even need setup the url-loader for this behavior.

[2020-08-13 20:38] SevlaMare commented on #293
I came across the same situation, the solution is make use of public path, like:

[code]
and inside the css files, you can call like:
`background-image: url("/src/images/background.jpg");`

Don't even need setup the url-loader for this behavior.

[2020-08-19 13:58] evilebottnawi commented on #164
`file-loader` and `url-loader` will be deprecated after `webpack@5` release in favor `asset` module type https://webpack.js.org/guides/asset-modules/, so we can't accept features anymore, we will update docs how you can modify runtime and source to implement same logic for `asset` module type, sorry for delay, we have very many work, using regexp to get filename is good workaround right now

[2020-08-19 13:58] #164 closed

[2020-08-19 14:01] evilebottnawi commented on #262
You can result https://github.com/webpack-contrib/url-loader logic for using `file-loader`, no need copy/paste code, sorry for delay, also `file-loader` does not accept features anymore, because it was deprecated for `webpack@5` in favor `asset` module type https://webpack.js.org/guides/asset-modules/

[2020-08-19 14:01] #262 closed

[2020-08-19 14:39] evilebottnawi commented on #336
@austin880625 Sorry for delay, if you need content of SVG file you need to use `raw-loader` instead `file-loader`, `file-loader` emit file and return URL to an asset, I see what you want to achieve - get source of the asset and URL to asset, but it is bad idea, in this case you will get big bundle, because we should keep the source of the asset in bundle (as string) and emit the asset with the sam

[2020-08-19 15:18] evilebottnawi commented on #336
For original issue you need to use `require("!file-loader!./b.js")` (`!` disable normal loaders) because you pass file twice to `file-loader`

[2020-08-19 15:18] #336 closed

[2020-08-20 15:10] TroyTae opened #380 "RFC: uglify option"
### Feature Proposal

How about add uglify option?
Now `interpolateName` provides hash function.
But we can use just 'A' or '~' and get lighter bundle file.
If webpack team has a will on this, I wanna apply this module: https://github.com/TroyTae/uglify-set

### Summary specification

name: uglify
type: Boolean
default: false

[2020-08-20 15:38] evilebottnawi commented on #380
Please open an issue here https://github.com/webpack/loader-utils, we should solve it for `interpolateName`, not for loader

[2020-08-20 15:38] #380 closed

[2020-08-20 15:46] TroyTae commented on #380
@evilebottnawi
I think we need to do this work in loader.
Because we have to use different uglify method according to target.
For example, file name can use number at first word, but css class name cannot use like this.

[2020-08-20 15:48] evilebottnawi commented on #380
@TroyTae No, it should be in `interpolateName`, you will can use `[ugly-name].[ext]` placeholder for this case

[2020-08-20 15:50] TroyTae commented on #380
@evilebottnawi
Ok then I'll make a issue in `loader-util`.
Maybe we need to split value of option.
Boolean -> String('filename' | 'css' | '~~~')

[2020-08-21 12:37] undermuz opened #381 "Problem with import webp image"
- Operating System: Windows 10
- Node Version: v14.8.0
- NPM Version: 6.14.7
- webpack Version: 4.44.1
- file-loader Version: 6.0.0

### Expected Behavior

Same behavior as for other images, for example: png, jpg

### Actual Behavior

ERROR in ./src/img/example-image.webp 1:5
Module parse failed: Unexpected token (1:5)
You may need an appropriate loader to handle this file type, currently no loade

[2020-08-21 12:40] #381 closed, assigned to nobody

[2020-08-25 21:20] bschlenk opened #382 "Pass additional assetInfo object when calling emitFile"
- Operating System: MacOS
- Node Version: 12.6.1
- NPM Version: 6.14.7
- webpack Version: 4.29.6
- file-loader Version: 3.0.1

### Feature Proposal

Webpack loader's [emitFile](https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L59) call takes a 4th param that can provide additional info about an asset, like whether it is immutable or not. `file-loader` should pass in `{ immut

[2020-08-26 10:11] evilebottnawi commented on #382
Let's do it

[2020-08-31 02:11] ovpv commented on #271
even I am facing this issue.

I tried the following to fix:

- file-loader
- url-loader
- image-webpack

but it seems something is wrong with babel but cant figure out what as there is not proper error message:

`jpeg:1
����

SyntaxError: Invalid or unexpected token
    at compileFunction (<anonymous>)
    at Module._compile (internal/modules/cjs/loader.js:881:18)
    at Module._extensions..js (in

[2020-08-31 11:18] evilebottnawi commented on #382
Fixed by https://github.com/webpack-contrib/file-loader/pull/383

[2020-08-31 11:18] #382 closed

[2020-09-09 23:28] ZebraFlesh opened #385 "Is the CDN example correct?"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
The source code in the [CDN example of the readme](https://github.com/webpack-contrib/file-loader#cdn) is:

This implies that the `output.publicPath` option is picked up by file-loader when it lacks its own `publicPath`. So far I haven't been able to get this to work, but when I expand th

[2020-09-10 10:01] evilebottnawi commented on #385
Yes, correct, because by default loader uses built-in `__webpack_public_path__` variable and it is `output.publicPath`

[2020-09-10 10:01] #385 closed

[2020-09-18 16:30] carlosmaniero commented on #385
@evilebottnawi, Is it a design goal to does not have `output.publicPath` as fallback?

Other loaders such as `css-loader` works this way.

[2020-10-01 08:57] mkampmey opened #386 "postTransformPublicPath does not work with runtime variables/methods"
### Expected Behavior

I read the docs of the file loader and noticed that you can use the property `postTransformPublicPath` to modify your public path based on variables that are only available during runtime. If it works with variables it should also work with methods I guess. So my expectation is that I can use a method for example `window.modifyPublicPath()` which only exists during runtime b

[2020-10-02 12:01] evilebottnawi commented on #386
It is expected, you need to inject `window.modifyPublicPath` function before webpack code, without reproducible test repo or example I can't help, sorry, feel free to feedback

[2020-10-02 12:01] #386 closed

[2020-10-03 11:07] mkampmey commented on #386
Apparently I just had to stringify my `postTransformPublicPath` function to: `return "modifyPublicPath(" + p + ")"`

[2020-10-16 10:16] tomaszs opened #390 "Breaking change desc in 5.0.0 can be improved"
Currently it states:

https://github.com/webpack-contrib/file-loader/releases/tag/v5.0.0

[code]

While restoring previous behaviour is described in the source code. Above description could be changed to:

[code]

[2020-10-16 11:03] evilebottnawi commented on #390
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-10-16 11:03] #390 closed

[2020-10-16 11:13] tomaszs opened #391 "Breaking change desc in 5.0.0 can be improved"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ X] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

Currently it states:

https://github.com/webpack-contrib/file-loader/releases/tag/v5.0.0

[code]

It does not say what is the impact (change from CommonJS to ES modules), and how to switch it back.

### Your Proposal for Changes

Above description could be changed to:

[code]

[2020-10-16 11:17] evilebottnawi commented on #391
What is confusing? We describe what was and what became

[2020-10-16 11:26] tomaszs commented on #391
Was:

- no info what the change causes (what if I leave it?)
- no info how to revert to CommonJS (backwards compatibility)

Is:

- there is information what it means: change from CommonJS to ES modules
- instruction how to revert the breaking change (switch back to CommonJS)

[2020-10-16 11:28] evilebottnawi commented on #391
Feel free to send a PR to docs if you want, sorry we don't have time on this, also we have `6.1.1`, most of developers already migrate on this and no one have the problem, sorry again

[2020-10-16 11:28] #391 closed

[2020-10-16 13:44] tomaszs commented on #391
You mean only I reported it. It does not mean no one has the problem. But I agree it is minor especially since it is about a release one year old. Anyways, it'd still take much less time than what we both have invested in this report

[2020-10-16 13:45] evilebottnawi commented on #391
@tomaszs feel free to send a PR

[2020-11-03 23:11] Relypete opened #394 "Support for loader chaning"
### Feature Proposal
I'd like to chain another custom loader in front of `file-loader`. However, `file-loader` will always return `export default <path>`, even when chaining is used. This is suboptimal since this output cannot be used directly as input for the next loader which is only interested in the `<url>` part. I propose a loader option that ensures the loader will return the url without `ex

[2020-11-04 12:12] evilebottnawi commented on #394
Yep, this is how the loader works, nfortunately it will never work like that. Also:
- `file-loader`/`url-loader`/`raw-loader` are deprecated for webpack@5 in favor https://webpack.js.org/guides/asset-modules/ (only custom publicPath is not supported, we are working on it)
- Not `raw` loader should always return JS code

So my recommendation - create own loader, logic is simple

[2020-11-04 12:12] #394 closed

[2020-11-16 10:52] aldordar commented on #272
Hi everyone! I have the same issue as @fredyrivas . Any update on the above? Thanks :)

[2020-11-19 05:17] Flcwl commented on #136
So the `hash` is the same as `contenthash` in file-loader now?

[2020-11-19 11:38] evilebottnawi commented on #136
As,for files it is the same

[2020-11-23 22:26] pkokliaguine-opentext-com opened #395 "6.2.0 breaks file-loader for me"
- Operating System: any
- Node Version: 14.15.0
- NPM Version: 6.14.8
- webpack Version: ^2.7.0
- file-loader Version: 6.2.0

### Expected Behavior

.SVG files should be loaded

### Actual Behavior

.SVG file loading breaks with
ERROR in ./~/angular-ui-grid/fonts/ui-grid.svg
Module build failed: TypeError [ERR_INVALID_ARG_TYPE]: The "from" argument must be of type string. Received undefined
    at

[2020-11-23 22:47] evilebottnawi commented on #395
We don't support `webpack Version: ^2.7.0`, sorry

[2020-11-23 22:47] #395 closed

[2020-11-23 22:48] evilebottnawi commented on #395
Please update webpack version to 5 (or to 4 - not recommend)

[2020-11-23 22:49] pkokliaguine-opentext-com commented on #395
Cannot update at this point -- it's easier for me to stay on 6.1.1 fore the time being. No ya, konechno, popravil by.

[2020-11-26 11:46] NE-SmallTown opened #396 "[Feature Request]Make `emitFile` tree shakingable"
- Operating System: Windows 10
- Node Version: 10.19.0
- NPM Version: 6.14.4
- webpack Version: 4.44.2
- file-loader Version: 4.30

### Feature Proposal

I'm not familar with webpack and file-loader, so I don't know if it's possible to achieve this

### Feature Use Case

Currently if we import an image(like `import foo from "../../common/images/hello.png"`) but not be used, the bundle result will

[2020-11-26 11:47] evilebottnawi commented on #396
Yes, expected, because other plugins can use this assets for any purpose, we can't remove it, anyway you don't have code for this import in your bundle

[2020-11-26 11:47] #396 closed

[2020-11-26 11:51] NE-SmallTown commented on #396
@evilebottnawi Thanks for your reply.

But as I said, "This will waste space of the server if we upload it when we publish every time" which is a problem

Is there any way to know whether the file be used? If so, I can write a custom `emitFile`

[2020-11-26 11:57] evilebottnawi commented on #396
Just avoid unnecessary imports

No

[2020-11-26 12:18] NE-SmallTown commented on #396
I think this is not very easy just like we need tree-shaking rather than `avoid unnecessary imports`

But from "because other plugins can use this assets for any purpose, we can't remove it", seems(myabe I misunderstand) there is a way to know "whether the file be used", just because "other plugins can use this assets for any purpose", so you still "can't remove it" even you know the file not be u

[2020-11-26 12:25] evilebottnawi commented on #396
No ways, so we can't remove it

But you can write own plugin for this, but it will be not easy

[2020-11-26 12:26] evilebottnawi commented on #396
For example my plugin can create `robots.txt` file based on assets

[2020-12-16 00:37] sajcics opened #397 "asset/resource hash in name"
Hi.
When I use file-loader to load images my html can't find relative image path because of `type: asset/resource` which generates `[hash][ext][query]` by default.

Here is webpack config:
[code]

Here is my project structure:
[code]

1) image is created inside `dist/assets/images/1eaeb1151521.png` by file loader because of `type: asset/resource` (for example hashed image cat.png )
2) insde DOM wh

[2020-12-16 00:42] alexander-akait commented on #397
You should not use `file-loader` with `asset/resource`, you don't need this loader with webpack anymore

[2020-12-16 00:42] alexander-akait commented on #397
I will update docs in near future

[2020-12-16 10:26] sajcics commented on #397
@alexander-akait but if I don't use file-loader for images then my webpack don't know where to look for images. even if I add alias and have image path `~assets/images/cat.png` then browser keeps looking at `localhost:8080/assets/css/~assets/images/cat.png` (image defined in DOM) or `localhost:8080/assets/images/cat.png` (image defined in CSS). I have defined public path to `/`

so, do you have an

[2020-12-16 12:23] alexander-akait commented on #397
Expected, webpack@5 use `publicPath: 'auto'` by default and you don't need provide public path (if you don't use CDN)

I don't understand your problem, please clarify, don't use `~`

[2020-12-16 12:25] alexander-akait commented on #397
If you followed the issue template and filled in all the fields, you would get an answer and a solution long ago, I want to show for the future how formal things is help to other developers

[2020-12-16 12:27] alexander-akait commented on #397
Custom output path https://webpack.js.org/guides/asset-modules/#custom-output-filename (same like `outputPath`), you don't need publicPath here

[2020-12-29 18:21] codingpierogi opened #398 "Random uppercase directory being generated"
- Operating System: Windows 7 Enterprise SP1
- Node Version: 12.20.0
- NPM Version: 6.14.8
- webpack Version: 4.44.2
- file-loader Version: 6.1.1

### Expected Behavior

The name option should create a consistent directory casing between multiple builds. I'm using CRA which configures the name to be static/media/[name].[hash:8].[ext] which should always create the lowercased directory names.

###

[2020-12-30 12:24] alexander-akait commented on #398
Something wrong with your configuration our algorithm for name generation doesn't uppercase anything, if you relly need help please provide reproducible test repo, `Run the build numerous times and your bound to see the issue. I've reproduced with team members on the same machines.` is not help to debug problem, I will reopen when I reproduce it

[2020-12-30 12:24] #398 closed

[2021-01-06 03:09] geroylaurence opened #399 "OTS parsing error: invalid version tag | Failed to decode downloaded font: http://localhost:3000/static/7542ab376339625d813fe71d074ee925.woff"
![image](https://user-images.githubusercontent.com/48232303/103724385-2c20a300-500f-11eb-87a3-ea79e9bcb264.png)

  I got this warning on my project and my imported custom font is not applying as  well.

  I'm using webpack version4 and I'm merging from webpack3, on my old version of webpack (ver3) my file-loader integrations is fully working. I need help

[2021-01-06 12:31] alexander-akait commented on #399
You have broken fonts, check file and please use the issue template (closing because it was ignored)

[2021-01-06 12:31] #399 closed

[2021-01-06 16:02] geroylaurence commented on #399
Hi, thank you for response, yes the file seems to be broken as I notice it, but can you somehow suggest or tell me possible cause of that? that font file you seeing from the screenshot is generated from webpack4, somehow I suspect it generates a broken file on transpiling my assets to the build folder.

Before, I was using webpack ver3 and file-loader, and also using this custom font, and it's wor

[2021-01-06 16:09] alexander-akait commented on #399
You can have broken plugin or loader, I don't know, you don't provide it because ignore the issue template (where it was described and requested)

[2021-01-07 01:48] geroylaurence opened #400 "OTS parsing error: invalid version tag | Failed to decode downloaded font: http://localhost:3000/static/7542ab376339625d813fe71d074ee925.woff"
- Operating System:
- Node Version: v10.16.0
- NPM Version: 6.9.0
- webpack Version: 4.33.0
- file-loader Version: 6.2.0

### Actual Behavior
I got this warning on my project and my imported custom font is not applying as well.

I'm currently merging my application from webpack version 3 to webpack version 4, on my old version of webpack (ver3) my file-loader integration is fully working. I need h

[2021-01-07 17:42] ZaidKhan144 commented on #272
After hours of googling, finally a thread that pulls me out of the mess. Thank y'all for sharing your insights/solutions.

[2021-01-08 16:37] alexander-akait commented on #400
Can you try to remove WriteFilePlugin?

[2021-01-10 04:22] geroylaurence commented on #400
didn't work, that "write-file-plugin" is a default code from "react-universal-component" boilerplate.

[2021-01-11 11:43] alexander-akait commented on #400
Sorry, I can't fix problem, because bug not from `file-loader`

[2021-01-12 22:23] sajcics commented on #397
****

[2021-01-12 22:23] #397 closed

[2021-02-19 05:30] liby commented on #397
@alexander-akait
Hello, I still don't understand one thing, please tell me.

I have replaced file loader with asset modules, but I can't find how to set `publicPath` in asset modules.

You said that in webpack@5, don't need to set `publicPath` if not using a CDN.
So what should I do if I use a CDN? Continue to use file loader?

In other words, is the following configuration equal before and after

[2021-02-19 11:32] alexander-akait commented on #397
Why do you need CDN `publicPath` only for assets?

[2021-02-19 13:35] liby commented on #397
@alexander-akait
Currently there is no such need, just saw you mention "if you don't use CDN", curious to ask.

So in webpack5, things like `https://example.com/assets/... /img/demo.79e0ee9763e097c6d113.svg` will not have side effects, right? It can be parsed correctly by any browser.

[2021-02-19 13:40] alexander-akait commented on #397
Yes, but why you need `/../`?

[2021-02-19 13:44] liby commented on #397
@alexander-akait
This is exactly why I said the URL address is strange. I always thought this was the behavior of Webpack@5, configured as follows.

[code]

[2021-03-01 05:25] ramsunvtech commented on #351
Faced the same issue, resolved it by adding individual export entries in image directory like below.

[code]

### Actual Issue
It's been imported as direct svg file as `ReactComponent` like below.

[code]

### Fix
Step 1: Added index.js to `Icons` directory.
[code]

Step 2: Exported as individual file in index.js

[code]

Final Step 3: call them as component
[code]