[2014-04-10 03:04] sterlingwes opened #2 "emitFile is required from module system"
Curious why an error is thrown for this. Should it not fail silently (or still warn), but at least return the same path to the file and just not call `emitFile`?

I noticed the issue raised over at `enhanced-require`:  https://github.com/webpack/enhanced-require/issues/3, and I understand why, but here's my use case:

I'm using webpack via the Node.js API to server-side render a site built heavily

[2014-08-17 21:40] talves opened #3 "Sub Directory entry points"
I am using multiple entry points to create my modules.  My index.html files for each entry point are in different paths.  I did not want to separate my modules into new webpack projects, but I need them to be able to stand alone later as their own root entry.
The entries are setup like the following:
- ./main.js (./index.html)
- ./admin/main.js (./admin/index.html)
- ./anotherentry/main.js (./anot

[2014-08-25 16:31] sbialobokmacmillan opened #5 "bignum requires external dependency on windows"
The newly added dependency won't build on a windows machine unless you have openssl installed in a specific location (C:/OpenSSL-Win64 or C:/OpenSSL-Win32 or 32-bit machine).

[2014-08-26 09:03] #5 closed, assigned to nobody

[2014-08-26 12:33] syranide opened #6 "Outputting compiled html to file?"
~~I intend to use hashes everywhere I can with webpack, because it solves so many problems. However, we want to serve the root `html` code as a static file (and not by node).~~

~~I looked around a bit and found the `html-loader` and it's exactly what I want when paired with the `file-loader`, but it outputs code that has to be evaluated to make sense. Just thinking out loud, would it be possible

[2014-08-26 12:37] #6 closed, assigned to nobody

[2014-08-30 18:02] necolas opened #7 "output path for images is wrong in css files"
When using a `output.publicPath` containing the compilation hash, I'm getting the wrong path added to CSS files that have paths replaced.

see https://github.com/webpack/webpack/issues/446 for details

[2014-09-03 21:19] tracker1 opened #8 "Unable to install in windows..."
There's an issue with the BigNum package, which requires OpenSSL header libraries for windows... honestly, is this _REALLY_ needed as a dependency?  Isn't there a JS based solution that can work for the needs of this module?

[code]

[2014-10-11 15:52] #8 closed, assigned to nobody

[2015-01-02 22:40] ninjascience opened #13 "file-loader works in require but not configure"
The file loader works from a require statement in a js file

[code]

but not when the webpack config is setup to use the file loader on ttf files

[code]

This setup gives this error:
[code]

[2015-02-25 11:47] philipheyde commented on #3
Thank you @sokra. Your reply helped me greatly!

[2015-02-25 13:40] codeuniquely opened #15 "How to specify a directory (not a file)"
Right now I have the following, with more to come.

    require("file?name=[path][name].[ext]&context=./src!./img/logo.png");
    require("file?name=[path][name].[ext]&context=./src!./img/bg.png");
    require("file?name=[path][name].[ext]&context=./src!./img/envelope.png");
    require("file?name=[path][name].[ext]&context=./src!./img/camera-black.png");

And this creates the img/ folder in the b

[2015-02-25 17:18] sokra commented on #15
You shouldn't use webpack to (just) copy your files. require the images where they are used.

[2015-02-25 17:32] codeuniquely commented on #15
@sokra - OK sounds good,

So say that I'm using React.JS and I have this component definition that I would normal write as

    module.exports = React.createClass({
      displayName: 'Notification',
      applyStyle: function() {
        this.props.style = {
          position: "absolute",
          width: 100,
          height: 60,
          minWidth: 100,
          top: 0,
          right: 200,

[2015-02-25 17:35] sokra commented on #15
It doesn't matter how it's named and the default is pretty good.

You shouldn't write loaders inline. Better put them in your config. http://webpack.github.io/docs/using-loaders.html#configuration

`var png = require("../../img/envelope.png");`

[2015-02-25 17:38] codeuniquely commented on #15
OK - that look seven better and much easier to write the requires like that anyway ...

[2015-02-25 17:44] codeuniquely commented on #15
OK I added a loader in the webpack.config.js

     { test: /\.jpe?g$|\.gif$|\.png$/i, loader: "file" },

and i get the following error messages on rebuilt: (webpack-dev-server)
[code]

but if I just do a command line

    webpack

the file is written to the build folder (in this case as).

    cc2b54823b17c401ae4933285c5454d2.png

[2015-02-25 17:59] sokra commented on #15
`webpack.config.js` is only used for CLI. When you use the node.js API `require("./webpack.config.js")`

[2015-02-25 18:11] codeuniquely commented on #15
I'm not using node, I'm just building a JavaScript based browser app using react. The files, index.html , bundle.js and the few image files will just be put in a root folder of some web server at a later date. right now i just using "webpack-dev-server"

I just run a command line of  "webpack-dev-server --progress --colors"
And when it starts I just then edit the code and save, and the browser ref

[2015-02-25 18:16] sokra commented on #15
Sorry for the confusion.. I missread your comment.

I'm I right that you get different results for `webpack-dev-server` and `webpack`?

[2015-02-25 18:25] codeuniquely commented on #15
yes i did - which confused me..

I've been playing around with the webpack.config.js and I just got it working

### what I did was:

    { test: /\.jpe?g$|\.gif$|\.png$/i, loader: "file" },

(working for "webpack" only and failing in "webpack-dev-server")

### but when I did this:

    { test: /\.jpe?g$|\.gif$|\.png$/i, loader: "file-loader" },

it works for both "webpack" and "webpack-dev-server"

[2015-02-25 18:27] sokra commented on #15
huh... That's pretty weird. Are both `webpack-dev-server` and `webpack` installed locally in your project

[2015-02-25 18:31] codeuniquely commented on #15
[code]

[2015-02-25 22:17] sokra commented on #15
I don't know...

[2015-02-26 04:14] codeuniquely commented on #15
no worries, like a said by adding the -loader it all work exceptionally well - nice product by the way.

[2015-03-11 15:12] jasonmacdonald opened #18 "Why does file loader add an "_" to output directory paths?"
I've tried searching everywhere I can but cannot figure out why File-loader, or more specifically the loader-utils, keep adding an "\_" directory to which it adds all my images loaded from CSS. Why is this happening? Why can I not use the same path from my /src directory without adding an "_" directory at the top?

[2015-03-12 14:57] sokra commented on #18
I think this comes from `[path]` which is the location of your module relative to the provided context. And because you don't want output outside of your output directory `../` is replaced with `_/`.
You need to provide a better `context` to the loader to fix this.

https://github.com/webpack/loader-utils/blob/master/index.js#L196

[2015-04-14 16:10] cgreening commented on #13
You probably fixed your issue - but I think it shold be:

{ test: /\.ttf$/, loader: "file-loader" },

[2015-04-15 15:58] sokra commented on #13
This should work. Everyone does it this way.

[2015-05-19 21:49] barbalex opened #24 "Unexpected character"
Hi

I'm very new to webpack and loading files so probably I'm completely off and please correct me.
I have loaded dozens of png images in my site without problem.
With one (access2.png) I constantly get this error message:

    C:\Users\alex\gs\node_modules\babel-core\lib\babel\transformation\file\index.js:600
          throw err;
                ^
    SyntaxError: C:/Users/alex/gs/images/access2.

[2015-05-23 11:12] sokra commented on #24
I don't think it's a problem with the file-loader. It looks like you are running the babel transformation agains the png file. Looks like from a normal node.js `require` (not webpack processed). Propably from another (template?) loader.

[2015-05-28 13:22] barbalex commented on #24
hm. One day later it works. Seemingly without changing anything. I hate magic... sorry for the noise

[2015-05-28 13:22] #24 closed

[2015-06-04 07:05] mwelche commented on #24
i've been running into this same error with babel & file-loader but haven't been blessed with the same magic fix

[2015-06-21 01:29] mathieumg commented on #15
@sokra We have the following use case: We use a 3rd-party npm module that is a React component used to display country flags. The component provides the 2,000 country flags alongside it and refers to them using a path (that can be overridden). Wouldn't that be a case where we want to "copy" the flags folder to the build using Webpack? It would be technically equivalent to "requiring" them one afte

[2015-06-21 18:40] sokra commented on #24
You may get this issue because the file-loader is not correctly applied.

i. e. because of an incorrect `test` or a typo in the configuration names.

[2015-07-09 08:43] rondonjon opened #26 "missing semicolon in generated module yields jshint warning"
The generated `exports` line has no trailing semicolon, which yields jshint warnings.

[code]

[2015-07-14 14:24] rondonjon commented on #26
Any chance to add this missing character?
I can create a pull request if you prefer :-)

[2015-07-14 21:29] sokra commented on #26
Yep. Please create a PR.

[2015-07-14 23:14] rondonjon commented on #26
there you go ...

[2015-07-20 14:38] TrustNik opened #28 "Can we have the name of the chunk in the filename template placeholder?"
Smth like:
`loader: "file-loader?name=[chunkname]_[name].[ext]"`

Or is there a workaround to achieve that?

[2015-07-26 00:09] newtonianb opened #29 "svg is not being loaded when using webpack-dev-server"
I'm not sure if this issue is with the **file-loader** or **webpack-dev-server** the bottom line is my svg that I use for showing a logo by setting it as a background on a css selector ... is not working when using webpack-dev-server. The css is getting compiled, the file (based on the console output) also seems to get bundled, but then when I load my page it is as if the css was referring to a no

[2015-07-26 13:57] Kagami opened #30 "Default options"
Hi.

Probably my use case is not popular or even this feature request should go to the `webpack` directly. But I want to have ability to specify default options for the file loader, e.g. set the name to `[name].[ext]`.

I have a `worker.js` code which uses Web Worker interface and want to include it to the build using the file loader. Also I need to know its resulting public URL in order to spawn

[2015-07-26 22:38] newtonianb commented on #29
This seems to have solved my issue https://github.com/webpack/style-loader/issues/55
specifying an absolute url for publicPath

[2015-07-31 04:35] leonardoanalista opened #31 "Improve `options.regExp` documentation"
Hi,

I am trying to match and use it on the loader: E.g.:

[code]

Looking at: https://github.com/webpack/file-loader/blob/master/test/correct-filename.test.js
I can't find an example of:

"[N] the N-th match obtained from matching the current file name against the query param regExp"

Is this possible?

cheers
Leonardo

[2015-07-31 09:46] guocheng opened #32 "Output files to a different dir"
Hello,

I am building an web app using bootstrap. I had this line to include the .css file

[code]

I would like to output the corresponding font files that `bootstrap.min.css` relies on to `/dist/css/`

Here is a simplified version of my webpack.config.js:

[code]

How can I config file-loader to output the font files to `/dist/css` instead of `/dist/`?

Thank you!

[2015-08-18 14:10] brenwell opened #34 "Dynamic contexts & naming"
Hey there, thanks for all the hard work.

I was wondering if it was possible to have control over the naming when using the **file-loader** width dynamic requires.
##### This code

[code]
##### With this dir structure

[code]
##### With this config

[code]
##### Results in

[code]
##### With this config instead

[code]
##### It results in

[code]
##### I was curious if there was a way to get a res

[2015-08-19 08:55] kswope opened #35 "Add note about JSX usage"
Just spent the last few hours (more than a few?) on this problem and it was entirely avoidable but I haven't seen any docs on it.

If you are using JSX (and therefor probably babel-loader) you do not need to use file-loader or url-loader for img tags in the JSX, its somehow already handled by babel.  I somehow knew JSX was handled by babel-loader, but I have no idea how that came about, but as a b

[2015-08-19 09:00] hkongm commented on #32
same question.

[2015-08-20 11:06] qiankun007 commented on #32
it is not a bug, you can add a query parameter `name=xxx` like this
[code]

see [loader-utils](https://github.com/webpack/loader-utils) source code

[2015-09-09 21:36] owais commented on #15
@mathieumg Interesting use case. Did you find a solution within the webpack eco-system? My use case is somewhat similar.

@sokra
I've to refer to assets (images) from HTML pages webpack doesn't know about and can't load/parse so I can't "require" the images in those pages. Right now, I've to import those images inside a CSS or JS file so webpack copies them over. How would we fix that?

[2015-09-09 22:31] owais commented on #15
For now I'm doing it like this,
[code]

Is there a better way?

[2015-09-10 17:21] mathieumg commented on #15
@owais No solution yet, I have the sideproject of writing a plugin.

[2015-09-11 16:00] greenish opened #36 "file-loader seems to corrupt font files (.woff .woff2 .eot .ttf)"
I'm extracting font files from CSS into my `dist/` folder with the `file-loader`. That works nicely. However the `file-loader` seems to corrupt the font files. No browser can display them anymore.

When I copy the original font files manually into my `dist/` folder, everything works.

These are the warnings I'm getting from the latest version of Chrome:
[code]

I also tried setting `?mimetype=appl

[2015-09-16 08:00] kaikuchn commented on #36
Could you post your webpack configuration, please?

[2015-09-16 14:13] greenish commented on #36
Sure, here you go:
[code]

[2015-09-16 14:51] greenish commented on #36
Okay, never mind - I'm sorry.
After restarting my computer a couple of times since last time I worked on it, this exact same setup works today.. computers *sigh*

[2015-09-16 14:51] #36 closed

[2015-09-23 03:33] davegomez opened #37 "Duplicated output directory"
I'm trying to extract font files inside my `css/` output directory but when the page loads is looking for the files inside `css/css/` directory.

I don't know what i'm doing wrong but I can't figure it out how to get rid of that duplicated directory.

This is my webpack config file:

[code]

And this is where the index files is looking for the font files:

[code]

[2015-09-25 18:25] skeefo opened #38 "[this.emitFile] Corrupted font files (.woff|.woff2|.eot|.ttf)"
Like here https://github.com/webpack/file-loader/issues/36
I can literally copy this issue description.
I am trying to import font-awesome into my project.
And I have these warnings in console, but reboot does not help me. :)

[code]

I've tried everything (for example - url-loader) but it does not work.
And when I use this lib directly - it works very well.

I hope you can help me, this is my fir

[2015-10-06 19:00] benvinegar opened #40 "Method for specifying include paths for files (e.g. node_modules)"
I have a rule in a CSS file that references a file loaded from an npm module (in node_modules) ... but I cannot find a way to have file-loader locate this file, unless I make it relative, e.g. `../../../../node_modules/module/image.png`.

It would be nice if there was a way to tell file-loader to treat node_modules as an include path.

As a point of comparison, it appears that sass-loader [lets yo

[2015-10-10 01:12] albertoclarit commented on #38
i have the same exact issue using http://materializecss.com/

[2015-10-12 15:11] Swelly commented on #38
Same issue here
`var fileLoader = 'file-loader?name=[path][name].[ext]';`
...
`{
    test: /\.jpe?g$|\.gif$|\.png$|\.ico|\.svg$|\.woff$|\.ttf$|\.eot$/,
    loader: fileLoader
  },
`

[2015-10-15 23:21] iam4x commented on #38
Same with font-awesome:

[code]

[2015-10-16 00:07] dharding commented on #38
Try setting the publicPath:

[code]

This is only necessary for me in dev mode for webpack. The production bundle works fine without it.

[2015-10-22 02:57] jhudson8 commented on #8
any progress on this?  I'd love to remove bignum as a dependency as well

[2015-10-27 06:29] prasannavl opened #43 "file-loader combined with bundle-loader or require.ensure ends up skipping the file."
`require.ensure([], function(require) {
 require("./app");
});
`

`loaders: [{
                    test: /\.js[x]?$/i,
                    loader: "file?name=js/[hash].js!babel",
                    exclude: /node_modules/
                },
`

Now this ends up skipping the parsing of the `./app` which, in this scenario will be the main file, and outputs the bundle with sample.js file `as is`.

[2015-10-28 13:22] babygau commented on #34
Could you try

[code]

[2015-10-30 09:59] SimenB commented on #40
https://github.com/webpack/css-loader#usage

Use `~` before the path to indicate it's a module

[2015-11-09 21:47] priyajeet opened #44 "Add ability to copy over a whole directory with random files"
I am trying to copy a bunch of static files (can be any type including binaries, so not just js/css/html, but like .bin/.obj etc.) from the source folder to output directory. I cannot find a way to properly do this with the file loader, unsure if it is possible:

[code]

[code]

Is it possible with the file loader? I looked at https://github.com/webpack/webpack/issues/525 however the method in tha

[2015-11-13 14:23] adcentury opened #46 "How to deal with relative public path"
I set a relative public path in outputs

[code]

Then the file structure is like

[code]

When i require image in css, i works fine.

But when i require image in some js, the url is wrong.

[code]

Any one can help me with it? Thanks.

[2015-11-19 20:22] jorgecas99 commented on #44
Same issue here. For us Public is generated via Java Maven so it would be awesome if we can copy files over to public dir when we run webpack via pom. Can file-loader handle this via webpack-config? example will be very much appreciated.

[2015-11-19 22:12] priyajeet commented on #44
Personally I gave up on using file loader for this use case and just using rsync now as follows by creating a mini webpack rsync plugin.

[code]

and then in the plugins section I add an instance of that as follows

[code]

[2015-11-29 23:52] silvenon commented on #46
Why don't you set it to `/` instead?

[2015-11-30 15:31] legendary-mich commented on #35
@kswope
I had the same issue. I'm using ts-loader, though. It would be great if title of this issue was more to the point. For example: "require () creates two files instead of one". Then, I would have a chance to find this answer knowingly, and not like it is right now, by accident.

Thanks for Sharing, though. :)

[2015-12-02 09:24] vn38minhtran commented on #38
Same issue.

[2015-12-02 12:06] vn38minhtran commented on #38
Sorry!. My issue come from https://github.com/shama/webpack-stream/issues/87

[2015-12-03 16:27] eMaj-Fr opened #48 "py"

[2015-12-03 16:28] #48 closed

[2015-12-07 12:41] wmadden commented on #36
FWIW I had to debug the same problem and I posted my findings on StackOverflow: http://stackoverflow.com/questions/34133808/webpack-ots-parsing-error-loading-fonts/34133809#34133809

[2015-12-07 12:43] wmadden commented on #38
I had the same problem and @dharding is right. I documented what I found on StackOverflow: http://stackoverflow.com/questions/34133808/webpack-ots-parsing-error-loading-fonts/34133809#34133809

Hope it helps.

[2015-12-08 08:27] CoolerB commented on #38
Also have this problem! :(

[2015-12-09 01:29] adcentury commented on #46
Because I want to use these files in phone gap app, using '/' will fail in it.

[2015-12-18 13:01] lifei opened #50 "Dead Loop In Windows"
Example:

entry: ./shares/templates/app.html

{
      test: /.(html|xml)$/,
      loader: 'file?name=templates/[1]/[2]&regExp=([^/]+)[/\\]templates[/\\](.+)$'
}

[2015-12-18 16:17] email2vimalraj commented on #38
Is anyone looking on this problem? I'm also facing this issue.
@dharding : Your solution not works.

[2015-12-21 20:59] artema commented on #38
If anyone is using Webpack with Gulp, this might solve the issue https://github.com/shama/webpack-stream/commit/6169c96fa6d666568bf1df6d9d304fa5c8fee8fd

[2015-12-22 05:11] email2vimalraj commented on #38
This solved my issue: http://www.vimalselvam.com/2015/12/19/webpack-loader-for-fonts/

[2015-12-25 07:57] Roy9102 commented on #38
Hello, I had write a fontmin-loader to get the font subset

[2015-12-25 07:57] Roy9102 commented on #38
Hello, I had write a fontmin-loader to get the font subset https://github.com/Roy9102/FontMin-loader

[2015-12-31 10:41] giovannipiller commented on #13
Had a very similar issue, and "solved" it by moving all non-js loaders into `preLoaders`.

First time using webpack, so it's very likely that I did something wrong.

Everything always worked when manually specifying the loader during a `require(...)`, or when adding `--module-bind "png=file-loader"` while using webpack's CLI.

[2015-12-31 11:19] giovannipiller commented on #13
Yeah, don't mind me. Apparently I had `loader: [...]` instead of `loaders: [...]`.
..... I know

[2016-01-04 12:44] export-mike commented on #46
yeah same issue here @adcentury any progress?

[2016-01-05 22:48] natew opened #52 "Allow access to [parent] variable"
I'd really want access to the name of the parent require. So if I require a module `bootstrap` and it does:

`require('abc.css')`

I can then control the output of that file and have it be:

`somedir/bootstrap/abc.css`

I'd imagine it's something like:

`?name=somedir/[parent]/[name].css`

[2016-01-05 22:49] natew commented on #52
Another thing that would be helpful is naming based on the parent file as well as parent module. So maybe:

- `[parentFile]`
- `[parentModule]`

[2016-01-10 12:32] skeary-immt commented on #44
Unless I'm misunderstanding, you can do something like the following in one of your JS files:

[code]
This above will require via webpack all png files in the same directory as the JS file. You then need to configure in the file loader in your webpack config file to do the actual copying:

[code]
The signature of require.context is:
[code]
See https://webpack.github.io/docs/context.html for more i

[2016-01-14 02:56] SBoudrias opened #53 "Module are relative to __webpack_require__.p instead of __webpack_public_path__"
I'm using 0.8.5

My image is compiled as `module.exports = __webpack_require__.p + "60247a30f60ff8bf38641abc039d435a.png"` inside the generated source code. But there's no `publicPath` setup in the webpack config.

Given this, I would've expected the path to be relative to `__webpack_public_path__` (reading the code of this plugin is also what I'm lead to believe https://github.com/webpack/file-lo

[2016-01-14 21:06] tnrich opened #54 "otf font not being loaded correctly"
Here's my config:

[code]

When I require a `.ttf` font everything works fine. Then trying to use `.otf`, no error is thrown, but the font simply doesn't load.

Any help would be greatly appreciated. Thanks!

[2016-01-19 20:14] keyserfaty opened #55 "How to skip files rebuild everytime the app runs in dev mode?"
Is there anyway I can skip the files being rebuild every time the build runs? I don't see why I would want that in files that haven't change. Am I missing something?
Thanks :+1:

[2016-01-25 21:03] aldendaniels commented on #30
:+1: I would also use this feature.

[2016-01-27 07:10] luqin commented on #53
+1

[2016-01-28 15:15] barroudjo commented on #34
I tried
`{test: /\.json$/, loader: "file-loader?name=[path][name].[ext]&context=../.."}`
But it turned out that it works differently in windows and in linux...
So i'm also looking for a response to this question: how to keep only a part of the path ? This probably involes using a 'context' query parameter, but how ?

[2016-02-08 19:38] jdart commented on #24
I'm having this issue as well but only when running react components with the mocha test framework, and only for one require of a png - some work fine. Webpack is cut out of the picture in this case, so I'm not sure how more things don't fail. Anyway I worked around the issue by using [ignore-styles](https://github.com/bkonkle/ignore-styles) and adding the file extensions like png.

[2016-02-10 15:16] 0x80 opened #56 "Not able to copy an image file"
I tried to copy an image from my folder static into the dist output like this

`require('file?name=foo.png!./static/foo.png')`

But the image always ended up being 80bytes and not the image as it should be (original is 90k). Could there be a clash when .png is also defined in a loader config?

My webpack image loader is configured like this

[code]

[2016-02-12 05:44] dancoates commented on #46
It isn't a very good solution but you can work around this issue by placing the scripts and css in the www folder with the index.html and setting `publicPath : ""`. That way it doesn't matter if the files are accessed relative to the html or the css.

[2016-02-14 02:56] adcentury commented on #46
@export-mike The only way I found is to put all files (include html, js, css, images) into the www folder as @dancoates said. By the way, `HtmlWebpackPlugin` may help with generating html files.

[2016-02-23 12:49] anselmdk commented on #31
I don't think this is currently supported, I think the readme is taken from https://github.com/webpack/loader-utils

I'd love for this to work as well, as I'd like to place images in sub directories.

[2016-02-29 13:16] kevinsimper opened #59 "Ignore file output"
Hi

I love this plugin but in a isomorphic app you don't want the server-side app to generate the images, but you still want the correct url of the resource.

I searched but I could not find any solution, so I forked this module and then just deleted the line that saves the file.

I published it as `ignore-file-loader`. https://github.com/kevinsimper/ignore-file-loader/

[2016-03-09 16:39] opatut opened #60 "Specify what to hash"
I'd like to be able to specify what to mangle through the hash function in order to get the [hash]. In my specific case, I want to hash `[path][name]`. I can well imagine an additional query parameter like `hashSource` which works like `name` but with the addition of `[content]`, to which it defaults.

Rationale: we're building different versions that are served based on the request origin, but us

[2016-03-09 16:41] opatut commented on #60
PS: If one might possibly be accepted, I would go ahead and open a PR.

[2016-03-10 09:20] opatut commented on #60
Closed in favor of webpack/loader-utils#28.

[2016-03-10 09:20] #60 closed

[2016-03-10 15:31] Yankovsky commented on #56
Same problem

[2016-03-14 22:32] dancoates commented on #46
@mummybot at least in my case the other app is a cordova iphone app, so proxying is not an option.

The core of the problem is that CSS loads assets relative to itself, and js loads assets relative to the HTML. So if the CSS isn't in the same place as the HTML then you can't use relative paths.

It would be good to be able to pass a resolving function to the file loader to allow more complex path

[2016-03-18 04:42] tarikihm opened #61 "Return relative url without emiting file"
This is more of a question than an issue:

I am using webpack to build both my client and server bundle, what is the most straightforward way to set up file-loader or webpack so that on the service side, it replace the require with the proper url but doesn't emit files in the output? Those are already emitted by the client build, so it's redundant.

[2016-03-22 15:20] tarikihm commented on #61
Going to answer my own question: the solution is to use @dferber90's [fake-file-loader](https://www.npmjs.com/package/fake-file-loader) and [fake-url-loader](https://www.npmjs.com/package/fake-url-loader).

[2016-03-22 15:20] #61 closed

[2016-03-22 15:26] jhillhouse92 opened #62 "Allow option for relative URLs"
I have a scenario where I need the file-loader to return the url relative not absolute to the output path. Please allow an option to do this. Currently, I'm filtering out the pre-prended '/' with sed.

[2016-03-28 19:37] sirlancelot opened #63 "[feature] Don't emit assets which haven't changed since the last build"
_Problem:_ When Webpack is running in watch mode with a cache object, static files are always emitted, regardless of whether the source file has changed.

_Expected:_ If the source file hasn't changed, don't emit the asset.

Would fix #55

[2016-03-30 21:03] impguard opened #65 "Causes Webpack to build empty JS bundle with OccurrenceOrderPlugin"
When I'm using this loader with the OcurrenceOrderPlugin, my outputted JS bundle becomes empty.

Here's my config file:

[code]

If I remove the usage of the loader and the entry point for it, my compiles js is ~700kB. If I add it back in, it compiles down to 1 kB and is effectively empty (no contents besides code pointing to the source map).

I wasn't sure if this is a file-loader problem or a we

[2016-04-07 08:57] leesus commented on #37
Is there any resolution to this? I'm having the same issue.

[2016-04-07 20:29] alex-cory opened #66 "Won't load videos"
The documentation shows:
![](http://i.stack.imgur.com/mtme4.png)

but for some reason I can't get the `require('./file.mp4')` to work.

I posted [a question on StackOverflow](http://stackoverflow.com/questions/36465127/how-to-load-a-local-video-in-react-using-webpack?noredirect=1#comment60556970_36465127) about this.  Any ideas why this isn't working?

[2016-04-19 05:29] baonguyenyam opened #68 "Require image in jade"
Hi all!

I using Webpack + Jade + Angular2 + Typescript . When i set the loaders
{ test: /\.(png|jpe?g|gif|svg|ico)$/, loader: "file-loader?name=images/[sha512:hash:base64:8]-[name].[ext]?[hash]" }

for img

background-image: url('resources/ag.svg');

and run build, image path in .scss file is changed ok, EX:
background-image: url(http://localhost:8080/images/2eVc70I_-ag.svg?cde7ddf2af6be42d532cdb

[2016-04-19 10:19] DragorWW opened #69 "how to build with transform to lowercase name ?"

[2016-04-19 14:25] Jmeyering opened #70 "Emit a new chunk for the file"
It looks like the file-loader does not emit a new chunk for the generated file.

This breaks some compatibility with plugins that perform actions on specific chunks. Specifically the html-webpack-plugin.

[2016-04-26 14:57] bcharp commented on #28
I'm interested too.

[2016-05-01 02:59] resistdesign opened #71 "Stop WebPack from emitting files loaded by file-loader that are also entry points."
Is it possible to stop WebPack from emitting files loaded by file-loader that are also entry points?

[2016-05-03 01:41] danahartweg commented on #31
Was looking through this today, and it did have me stumped initially as well. What you have to do is supply an additional param of ```regExp``` on the query string with the regex you want to match against the source file path.

In my case, my source path is something like ```src/moduleName/images/image.png```, and my build directory is ```build/modules/moduleName```. To have the file loader place

[2016-05-29 06:31] papigers opened #72 "Motivation for using file/url-loader"
I'm kind of a newbie to url/file-loader and webpack in general. Just wanted to know, what is the advanges of using file loader against just "sourcing" as usual?
i.e. `<img src={include(./logo.png)} >` VS `<img src="path/to/assets/logo.png" >`
Also is there a way avoid using ".. /.. /.. /logo.png" if I want to keep all my assets in one folder on the project's root?
Thanks!

[2016-06-10 03:09] allisonwhilden commented on #56
I'm new to all of this, and I don't know if this helps at all -- but I ran into what seemed like a similar problem. When checking out my emitted image files, they appeared to be smaller in size and wouldn't open at all. I changed the extension of these files to .txt and opened them in a text editor, and noticed that they appeared to be a shortened data URI string -- but not the complete one you wo

[2016-06-13 19:01] JellyKid opened #73 "Outputting wrong file name for image"
https://github.com/JellyKid/TwitchTV_FCC

You can find my webpack config there. I'm importing an image in app/components/Channel.jsx. File-loader creates an empty image file and URL string passed to the URL variable. Then it creates the correct file with a totally different hash. I can't seem to get it to give me the correct url or figure out why it's creating an empty image with the correct name.

[2016-06-13 20:34] JellyKid commented on #73
Not a problem with file-loader.... It has something to do with webpack preloaders. If importing with "!file!../images/twitch.png" it loads only the one PNG file. Going to open a case on webpack since I'm not actually using any preloaders.

[2016-06-13 20:34] #73 closed

[2016-06-15 02:07] lolyu commented on #46
I meet the same problem,do someone knows how to deal with it now?

[2016-06-16 07:01] elyobo commented on #59
@kevinsimper I've added a PR which resolves this by making it optional instead of removing it entirely.

[2016-06-16 11:55] export-mike commented on #46
I have a config that's working with Cordova and code push I can share with
you tomorrow. We're on react, react router

On Thu, 16 Jun 2016, 12:43 Ilya Gutsalyuk, <notifications@github.com> wrote:

[2016-06-16 14:39] #59 closed

[2016-06-16 21:26] elyobo opened #75 "New release?"
@sokra I see you merged a pile of PRs last night (including mine, #64, thanks).  Do you have an ETA for a new release of the package?  NPM tells me 0.8.5 was released seven months ago.

[2016-06-20 20:18] sokra commented on #75
done

[2016-06-20 20:18] #75 closed

[2016-06-21 14:51] dmorrison42 commented on #69
Unfortunately, there is not much information provided on this ticket, but I believe I am having this issue as well.

The block below shows what I am trying to do. Obviously the `toLowerCase` call does not work property because [name] is not evaluated until after the call.

[code]

I am currently working around this by creating a array of objects for the exports with one entry per object.

Is there

[2016-06-22 03:44] elyobo commented on #75
Thanks, much appreciated.

[2016-06-22 21:05] glebmachine commented on #68
You should using html-loader with img:src attr specified as processed by webpack:

[code]

[2016-06-22 21:11] glebmachine opened #76 "Change filename/extension in previous loader"
Hi @sokra!

I have writting new loader, which will be replace non-alpha png files to jpg (due image size optimization)
So, could you help me, please, to find a way to change the resource extension.

I have tried to do it  in a loader as follows:
[code]

but, file-loader still emits '*.png' file...

And as usual, thank you in advance!)

[2016-06-22 21:18] glebmachine commented on #76
As i understand loaderContext is separated between loaders, so i can't change context for `file-loader` from previous loader :(

[2016-06-24 06:53] glebmachine commented on #76
Found it works in webpack 2.0

[2016-06-24 06:53] #76 closed

[2016-06-24 08:57] sokra commented on #76
yeah... but you shouldn't do this...

better do this:

[code]

[2016-06-24 18:27] glebmachine commented on #76
This loader more complex under the hood and easy-to-use at the same time.
Please, take a look here: https://github.com/glebmachine/image-optimize-loader

[2016-06-25 15:23] kairxa opened #77 "Loading jpg files results in corrupted export, but only when the ext is in lowercase"
I think my configuration is quite minimal with only ts-loader and file-loader for files.

Example:

[code]

results in corrupted file, but

[code]

does not. Both point to the same image, image's original extension is in lowercase (maybe doesn't matter since OS X).

It also results in different `[sha512:hash:base64:7]` between the lowercase and the uppercase one.

`png` files are not affected. Onl

[2016-06-28 06:09] SidKwok opened #78 "how to set webpack config with materialize?"
Sorry to bother, because it could be the local problem. But it has been bothered me for days.

here is my webpack config:
[code]
and my main.js:
[code]

everything is fine, but when I check out the console of chrome, it tells me this:
[code]

[2016-06-28 10:38] Robin-front opened #79 "the prefix params is not support ?"
the prefix params is not support ?

[2016-07-01 04:45] ianks commented on #46
@export-mike can you post that config?

[2016-07-01 06:08] cesiya23 opened #80 "usage of file-loader for html with templateUrl"
I use file-loader for my `html` files:
[code]

[code]

This change my index body content into `/app/index.html`(string) ..

Any ideas?

[2016-07-06 13:59] bensampaio opened #82 "File loader freezes webpack"
I decided to use file loader to copy the images I reference in my SCSS into my public assets folder. So I added the following to my webpack config file:

[code]

The first time I tried to run webpack with that configuration it stopped in: 67% 686/714 build modules. The process continued running but didn't move from that point and there were no error messages. I also tried to set `output.publicPath

[2016-07-13 03:57] ianfitzpatrick commented on #46
I'm having the same problem, not using react but vuejs + cordova.

I tried to setting:

`assetsPublicPath: '/',`

However the resulting cordova index.html file still ends up with entries like:

`<script type=text/javascript src=s/tatic/js/app.2a047fb94d3c535a8f2e.js>`

My hacky fix is to just write a little shell script (there is probably a proper webpack post-hook way of doing this but I dunno wh

[2016-07-13 10:14] tobycox commented on #35
Ah thank god I found this. I agree it would be great to change the title of the issue for future people who are banging their heads against this.
I was searching for things like "broken images webpack" and "broken images file-loader".
Hopefully these breadcrumbs will lead people here...

[2016-07-13 10:22] tobycox commented on #73
I ran in to something similar and it turned out it was because I was using the babel loader, which was already loading images. I didn't need to have my own file-loader for loading images.

[2016-07-13 10:25] tobycox commented on #77
I ran in to a similar problem and it turned out it that I was using the babel loader which was already doing image loading, so I didn't need to include a file-loader for my images.

[2016-07-13 17:34] FredyC commented on #72
You can surely define alias for your folder with images.

I find generally easier to use loader as it can act as form of validation for your build. If your image is missing, it will complain. With just regular "sourcing" you wont get this advantage. Also another good thing is when you output your image with hash in its name. That will enforce cache busting whenever image content changes. With stat

[2016-07-14 18:09] Hazantip opened #83 "image map require error"
Please, help to solve the current problem.

Node version:
6.2.2
npm version:
3.9.0
Operating system:
win10
Steps to reproduce:
map list with images. problem with image src={require(image)}
`
const images = props.postcardImages.map((image, i) => { return ( <li classname="postcards-list-item" onclick="{()" ==""> {props.setPostcardActiveImage(image);}} key={image + i}> <link to="/postcard-edit"> <img

[2016-07-28 17:11] mooyoul commented on #80
There are two solutions for you:
## 1. Just use `template` instead `templateUrl`
[code]
## 2. Put templates into `$templateCache` in `.run()` phase
[code]

[2016-08-05 02:43] cage1618 opened #84 "Failed to decode downloaded font use url-loader"
I get a error when I use url-loader to extract font file:

[code]

here is my webpack config:

[code]

I put the limit param to 1 ensure webpack always save the font to a file, can anyone help me solve this issue?

[2016-08-07 12:13] mdotasia opened #85 "Bloated JavaScript bundler when copying files with file-loader"
I use `file-loader` to copy HTML files generated with an external static generator into my `build` directory using `require.context`. This works fine. However when I look at the JavaScript bundle, it contains a lot of bloat. For each copied file it contains a module function like this one:

[code]

and then another module function with a map containing the URLs of all imported files.

I do not use

[2016-08-09 06:55] cage1618 commented on #84
can any body resolve this issue ?

[2016-08-11 12:45] cage1618 commented on #38
I have the same issue, anybody have a solution?

[2016-08-19 07:13] odyss009 commented on #84
I have similar issue too
`
http://localhost:8080/node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2?cb06eb6e99f12d3d38d3b115fcddbc19
:8080/app/cs/#/qnaDetail?id=1471317080795005:1 OTS parsing error: invalid version tag
`

[2016-08-19 08:24] odyss009 commented on #84
I solved it.
Problem is that loader config for file is duplicated.(I have used webpack merge plugin)

[2016-08-19 08:28] odyss009 commented on #84
@cage1618
http://stackoverflow.com/questions/34133808/webpack-ots-parsing-error-loading-fonts

[2016-08-20 20:58] Kagami commented on #30
Implemented in #42.

[2016-08-20 20:58] #30 closed

[2016-08-24 08:18] lqzerogg opened #86 "strange error"
I got a very strange error recently. I don't know whether or not it's file-loader's error. But I would be very pleased if you could figure out why this happen.
I ran into this trouble through image-webpack-loader, and I have commit a issue at that project. Here is the [link](https://github.com/tcoopman/image-webpack-loader/issues/40).

Here's my errors:
Module build failed: ModuleBuildError: Modul

[2016-08-28 00:04] pke opened #87 "Is there a way to specify to load .svg and alternatively .png?"
I wonder if its possible with the file-loader to specify something like this:

`import logo from "file!logo.svg|logo.png"`

[2016-09-08 06:54] etarasenko opened #88 "Wrong output file name with `emitFile=false`"
When loader configured with parameter `emitFile=false` it don't use name template parameter.

Using in webpack config:
[code]

[2016-09-08 08:12] etarasenko commented on #88
I'm sorry, problem on my side.

[2016-09-08 08:12] #88 closed

[2016-09-08 14:21] samsch commented on #53
In my code, where I've used `__webpack_public_path__` directly, it gets compiled to `__webpack_require__.p`. The value for `__webpack_require__.p` defaults to "", so in my front end code I set `__webpack_public_path__` to the public url of the webpack output folder.

[2016-09-09 04:18] DevilZh commented on #56
Same +1

[2016-09-09 05:10] flyingzl commented on #56
Same +1

My workaround is  : webpack.config.js

[code]

Please pay attention to the `exclude`, if a image named with **foo.dp.png**, it will not be parsed by `url-loader`, and you can require import js file like the following:
[code]

[2016-09-13 15:33] Delagen opened #89 "[feature] enable dynamic tune emitPath of file"
[code]

before emit

[2016-09-15 20:38] aladaghlou commented on #38
I have this problem in [sherenab.com](https://sherenab.com) .
Solution ?????

[2016-09-20 22:29] gharley commented on #78
This works for me:
	  {
		test: /\.ttf$|\.eot$|\.woff2?$/,
		loader: 'file',
		query: {
		  name: 'font/[hash].[ext]'
		},
		include: <path-to-fonts>
	  },
I think the main difference is that I'm using the 'file' loader.

[2016-09-21 03:34] lqzerogg commented on #86
I have figured out a way to avoid this problem. [link](https://github.com/tcoopman/image-webpack-loader/issues/40)

[2016-09-21 03:35] #86 closed

[2016-09-21 09:06] monochrome-yeh opened #90 "[path] or [name] problem ?"
### Issue

I couldn't solve nested image folder when scss load url()

I've been always gotten `assets/resources/assets/img/f/f2/example.png?eeeeeeeeee` this kind of `path`;

if I only used `[name]`, it will return:
`assets/example.png?eeeeeeeeee`

however I desire it will be `assets/img/f/f2/example.png?eeeeeeeeee`
- nodejs v6.6.0
- webpack 1.13.2
- file-loader 0.8.5
### Scss example

[code]
### F

[2016-09-21 09:35] monochrome-yeh commented on #90
revised description.

[2016-09-21 09:40] monochrome-yeh commented on #90
I've referred many solution to solve this problem,
however there aren't nested folders in image folder.
I could pass through 1 level folder easily, but that isn't in my case :(

[2016-09-23 18:25] serkolch opened #91 "Support for Directory Output"
For reasons outside my control, we have a single webpack output path to a directory (e.g. app/scripts) - I can't do multiple configs for different entries / modules.

I'm using file-loader to hash images. Ideally, they'd end up in a folder outside of scripts (e.g. app/static), so I've used:

[code]

This creates the hashed images into the correct directory, but upon requiring the image files, the

[2016-09-23 18:42] serkolch commented on #91
Conversely, is this something that could be solved by passing a function in as the publicPath? How would that be done?

[2016-09-28 01:45] Benno007 commented on #31
That didn't work for me... trying to get the query string applied in the file for cache busting icon fonts. Just kept coming out as font.eot?[1] :(
[code]

[2016-09-29 08:24] Phisherman commented on #46
Is there a solution for this now?

[2016-09-29 23:43] dropfen commented on #32
If you want for example emit your files at *fonts/some-font.ttf*
`loader: "file?name=./fonts/[hash].[ext]"`
But you are already extracting your css into *css/styles.css*
`new ExtractTextPlugin('css/app.css', { allChunks: true })`

Your css files will try load the fonts from css/fonts/...
Because they expect to be in the root of the public folder.

You can fix this by giving the `publicPath` query

[2016-10-02 13:55] SpaceK33z commented on #87
This is outside the scope of this package. Best would be to write a special loader for this.

[2016-10-03 14:18] lpil commented on #32
Thanks for the tip! It would be great if this option was documented in the README.

[2016-10-04 00:47] coreyching commented on #46
^ bump. The issue I'm having is using vue.js with webpack.

I bind a html tag like this: `<img v-bind:src="resource.img">`

when the client renders the page, the src path is correct, however it is the actual relative path (e.g. "../assets/example.png" etc, instead of the path webpack outputs. Thus, the image creates a 404 because there is no image at "../assets/example.png".

Alternatively, if i h

[2016-10-04 08:05] brafdlog commented on #28
I had the same question for generating the chunk file name and this configuration worked:
chunkFilename: '[name].[chunkhash].js'

The [name] resolves to the chunk name correctly.

I am not sure this is your case because your example is a bit different but I will put this up here in case someone has the same question I had.

[2016-10-09 01:34] martinko2009 opened #92 "file-loader has a bug to generate image path in css file when I use css file in node_models"
I use windows7, node: node-v4.4.5-x64, npm: 2.15.5, url-loader: 0.5.7,file-loader:0.9.0,webpack:1.13.1

In the js file,I write like below:

[code]

this css file is from node_modules directory,
when I use npm to install the component in this directory

webpack.config.js configurtion like below:

[code]

but after complie, I open the js file,the image path generated is like below:

[code]

the path

[2016-10-09 07:56] SpaceK33z commented on #29
Closing because it seems resolved.

[2016-10-09 07:56] #29 closed

[2016-10-09 07:56] SpaceK33z commented on #50
@lifei, do you still have this issue?

[2016-10-09 07:57] SpaceK33z commented on #43
Do you still have this issue? A lot of time has passed ;).

[2016-10-09 07:58] SpaceK33z commented on #35
Anyone wants to update the readme with PR?

[2016-10-09 08:01] SpaceK33z commented on #2
Is this issue still relevant? It's been two years :).

[2016-10-09 08:07] SpaceK33z commented on #68
Closing since this has been answered.

[2016-10-09 08:07] #68 closed

[2016-10-09 08:08] SpaceK33z commented on #18
Closing since this has been answered and is inactive.

[2016-10-09 08:08] #18 closed

[2016-10-09 08:09] SpaceK33z commented on #13
Closing this very old issue since, as has been said, everybody uses it this way and it works. If there still is an issue, feel free to comment.

[2016-10-09 08:09] #13 closed

[2016-10-09 08:10] SpaceK33z commented on #40
Closing since the question has been answered.

[2016-10-09 08:10] #40 closed

[2016-10-09 08:12] SpaceK33z commented on #44
Yeah what @skeary-immt said is the best way to fix this. Note that webpack isn't really intended to be used this way, hence the code is a bit ugly.

[2016-10-09 08:12] #44 closed

[2016-10-09 08:15] SpaceK33z commented on #15
Closing this since it is outside the scope of file-loader and this issue has been inactive for a very long time. Feel free to create a new issue with a more specific issue.

[2016-10-09 08:15] #15 closed

[2016-10-09 08:19] SpaceK33z commented on #7
I think this is no longer an issue, but feel free to re-open if so.

[2016-10-09 08:19] #7 closed

[2016-10-09 08:20] SpaceK33z commented on #26
This was fixed in #27.

[2016-10-09 08:20] #26 closed

[2016-10-09 08:22] SpaceK33z commented on #37
See answer above.

[2016-10-09 08:22] #37 closed

[2016-10-09 08:24] SpaceK33z commented on #82
I'm using file-loader with sass-loader in many projects, but I don't have this issue. Could you provide a repo that reproduces this problem?

[2016-10-09 08:27] SpaceK33z commented on #83
If you search on "webpack require dynamic", you'll get many helpful articles. Also see https://github.com/webpack/webpack/issues/118.

Closing this issue since it is not a problem in file-loader.

[2016-10-09 08:27] #83 closed

[2016-10-09 08:28] SpaceK33z commented on #56
You can't use the file-loader twice this way. What @flyingzl said is the best answer.

[2016-10-09 08:28] #56 closed

[2016-10-09 08:30] SpaceK33z commented on #79
Closing since this issue isn't clear at all. Feel free to open a new ticket and properly describe your issue.

[2016-10-09 08:30] #79 closed

[2016-10-09 08:30] SpaceK33z commented on #72
@FredyC explained this very well, so closing.

[2016-10-09 08:30] #72 closed

[2016-10-09 08:32] SpaceK33z commented on #71
You can use `exclude` with a regex to exclude files you don't want.

[2016-10-09 08:32] SpaceK33z commented on #80
Closing for inactivity, and the answer has been answered above.

[2016-10-09 08:32] #80 closed

[2016-10-09 08:36] SpaceK33z commented on #66
Do you still have this issue? There are a couple of answer on your StackOverflow question.

[2016-10-09 08:38] SpaceK33z commented on #32
Closing since the question has been answered. Feel free to add this to the readme with a PR.

[2016-10-09 08:38] #32 closed

[2016-10-09 08:39] SpaceK33z commented on #78
Closing this issue since it has been answered and it should be asked on StackOverflow.

[2016-10-09 08:39] #78 closed

[2016-10-09 11:56] prasannavl commented on #43
@SpaceK33z, I suppose. But as you said, a long time has passed :) .. Around that time, I abstracted out things out to use custom codepaths to handle what I needed. I am not sure if this issue still valid with webpack 2.

[2016-10-09 11:59] SpaceK33z commented on #43
All right. I'm closing this issue since it doesn't seem like an issue we can fix in file-loader (if it's even still there), and nobody else seems to have it. Feel free to re-open with more information if you happen to get it.

[2016-10-09 11:59] #43 closed

[2016-10-09 12:06] prasannavl commented on #43
Fair enough :)

[2016-10-09 12:09] SpaceK33z commented on #84
@cage1618, did the above fix your issue?

[2016-10-09 12:11] #87 closed

[2016-10-10 03:46] Cap32 commented on #2
@SpaceK33z checkout https://github.com/webpack/file-loader/pull/33

[2016-10-12 03:59] jadekler opened #93 "bug: babel-loader + file-loader = corrupted files"
Related: https://github.com/webpack/file-loader/issues/77

When babel-loader is present and I try to add file-loader for `.jpg` files, it results in corrupted files. Removing file-loader for `.jpg` files or changing file-loader to look for `.JPG` files (presumedly babel-loader looks at `.jpg` files) fixes the issue.

[2016-10-12 09:06] JanEggers opened #94 "[Question]public path configuration"
hi,

im having problems with setting up the correct public path configuration.

i use this settings:

[code]

the output is placed in /wwwroot/bundles/font, that is what i desire.

But the public path that is used for refrences is ../wwwroot/bundles/fonts/ but what i need is /bundles/fonts/.

what do i need to configure to make it work that way?

[2016-10-12 09:19] SpaceK33z commented on #94
See #81.

[2016-10-12 12:19] JanEggers commented on #94
thx for pointing me there

[2016-10-12 12:19] #94 closed

[2016-10-13 07:31] JQChan commented on #90
Have you solve this problem?

[2016-10-13 10:11] JQChan opened #95 "I want to ask How this parameter to use in file-loader? Can anyone help"
![image](https://cloud.githubusercontent.com/assets/7911342/19345256/24d1b40c-9170-11e6-97b5-888893cf9095.png)

[2016-10-13 10:19] JQChan commented on #95
![image](https://cloud.githubusercontent.com/assets/7911342/19345567/660618d6-9171-11e6-9fb9-8b7309dc4d82.png)

I want to use the parameter in webpack loaders  config

[2016-10-14 07:14] JQChan commented on #95
@sokra can you give me some help?

[2016-10-17 18:50] DoubleU23 commented on #15
@owais
thx for the suggestion... but it doesn't work at my stack
`Error: Cannot find module './/^.*$/'.`

[2016-10-18 20:28] mattoni opened #96 "Compatible with import file from "..."?"
Is there a way to support default exports with the file loader plugin?

Currently, you have to do:

`import * as file from "file.jpg"`;

Ideally, I'd like to be able to do:

`import file from "file.jpg"`

I don't think this is configurable, but wondering if it's possible?

Thanks!

[2016-10-18 22:07] SpaceK33z commented on #96
Do you happen to be using webpack v2?

[2016-10-18 22:09] AlexanderMattoni commented on #96
@SpaceK33z Yes, I'm using webpack v2. I've been running into this issue with a few other plugins as well lol.

[2016-10-18 22:11] SpaceK33z commented on #96
Okay, yeah the loaders are not using ES Modules yet. We are definitely picking this up after the v2 release (or somewhat before it).

[2016-10-18 22:12] AlexanderMattoni commented on #96
Awesome, thank you for the info. I'm going to just use require("...") for now.

[2016-10-19 23:04] davevans commented on #32
ps: the param to the **file-loader** is publicPath - beware cut and paste of pubicPath from above

[2016-10-21 07:15] monochrome-yeh commented on #90
@JQChan , I haven't solved this problem yet.
Do you have any suggestion to me?
I would appreciate your reply, if you could give me some idea.

[2016-10-21 10:31] es6Test commented on #96
Would love to use imports.

[2016-10-21 20:41] shri3k commented on #91
I'm running into the same issue too. It's great if your site actually hosts static files in `/static` and you actually have `/static` directory which works nicely but if it's other than `/static` like say `/public` or just `/` (default in `express`) then you'll be forced to host your static files in root or create a directory that plays well with just how `file-loader` creates directory.

[2016-10-21 22:40] Jorenm opened #97 "Why is it copying my assets to dist folder?"
My code is compiling and working, but the file loader module is copying my assets into dist and then not even using them. The urls it resolves are to the original file locations, so its just bloating my dist folder for no apparent reason. Here's my config:

[code]

[2016-10-21 23:53] shri3k commented on #97
@Jorenm I'm not sure if this is your complete `webpack.config.js` but the line at
`loader: 'file?name=/wp-content/plugins/testplugin/[path][name].[ext]'`
is telling it to copy all the image and fonts files to `/wp-content/plugins/testplugin`. `?name` particularly suggests that you want to copy file to the provided path.

[2016-10-21 23:58] Jorenm commented on #97
I don't really understand how this all works. If I take out the file loader then it fails to compile the css, but if I leave it in the it copies files around which I do not want. How do I get it to resolve the file paths for the css file, while leaving the files alone?

[2016-10-22 00:08] shri3k commented on #97
If you want it not to copy files then you can probably do:-
`loader: 'file?emitFile=false`

I'll try my best to give you a brief explanation on what's going on (even though I'm fairly new to this too).   `css-loader` is mostly responsible for converting `url` and `import` in your `css` to `require` that `node` understands and when you move down the pipe of `file-loader` it scans the file again and

[2016-10-22 00:37] Jorenm commented on #97
Cool emitFile worked. Trying to figure out how this all works, I tried taking off the whole ?name= statement and it set the path in the css file to a hash, and the image got output as a hash in my dist folder. The problem is the image doesn't load because it doesn't put the path to the dist folder in the css file. Am I supposed to set some global path to my dist folder somewhere?

[2016-10-22 02:02] shri3k commented on #97
By default if you don't specify `name` query then it uses `hash` as filename with the right extension and puts it in the `context` of `webpack.config.js` which again you can edit. By default, I think `context` is your current working directory. So whenever webpack creates these hashes it also modifies the path to your original file (which is css file in our case). That path should technically matc

[2016-10-22 03:33] shri3k commented on #31
@Benno007 don't think `url-loader` has this option yet. I'd be happy to be proven wrong though.

[2016-10-22 04:50] shri3k commented on #95
@JQChan I see that you're using `url-loader` instead of `file-loader`. I don't think `regExp` query is available in `url-loader` (I might be wrong) but if you're indeed trying to look for `regExp` in `file-loader` then you can use it as:

[code]

[2016-10-23 16:14] sputinyk commented on #32
@dropfen ,  publicPath QueryString, best tip ever. Thanks!

[2016-10-24 06:56] db-developer opened #98 "understanding: query parameter name"
From webpack:
`{
        test: /\.(png|jpe?g|gif|svg|ico)$/,
        loader: 'file-loader',
    query: "name=img\\[name].[ext]"
}`
Will produce:
`<img _ngcontent-qih-1="" src="img\angular.png">`

Whereas:
`{
        test: /\.(png|jpe?g|gif|svg|ico)$/,
        loader: 'file-loader',
    query: "name=img/[name].[ext]"
}`

Will produce:
`<img src=img/angular.png>`

The primer obviously is windows spe

[2016-10-24 08:17] borela commented on #90
Try this:
[code]

[2016-10-24 10:44] db-developer commented on #98
Okay, this seems to be a bug:

Whenever query contains a slash, the returned img is missing attribute quotation marks.
<img src=whereever/whatever> instead of <img src="whereever/whatever">

webpack-1.13.2.tgz
file-loader-0.9.0.tgz
windows 10
node 06.06.00
target: tomcat 8 war

Btw - trying to insert quotation marks manually (see below) results in a webpack process which never returns :-)
`{
  tes

[2016-10-24 18:37] #97 closed

[2016-10-27 10:03] SpaceK33z commented on #93
That's weird, but I don't think we can do anything in file-loader to fix this issue.

@hzoo / @danez, do you happen to know why babel-loader would handle `.jpg` files? And if babel-loader is at fault here or we should change something in file-loader?

[2016-10-27 10:06] SpaceK33z commented on #66
I'm closing this issue because of inactivity. Feel free to comment, and we can always re-open it again.

[2016-10-27 10:06] #66 closed

[2016-10-27 10:10] danez commented on #93
That is weird. babel-loader should not handle `.jpg`s and I cannot find any reference of jpg in the codebase. But as it also seems to happen with ts-loader as in #77 i might suspect webpack to mix up loaders, but probably also very unlikely. I can try tonight creating a test case and try reproducing it.

[2016-10-27 10:17] SpaceK33z commented on #93
Thanks @danez. I just tried to reproduce this in a project of mine, and discovered something interesting:

In webpack v2 (didn't test in v1), the image *does* work if you use `import`. However, if you use `require`, the image is corrupted.

[2016-10-31 14:18] thevangelist commented on #24
@jdart Can you share your solution?

[2016-10-31 14:21] jdart commented on #24
@thevangelist: in mochaSetup.js I added the below:

[code]

[2016-10-31 14:23] thevangelist commented on #24
@jdart how do you use that mochaSetup.js in package.json's test script?

[2016-10-31 14:27] jdart commented on #24
@thevangelist Are you having trouble with a third party library, or is this your project's package.json? If it's your project, then you'll have to find some js that's executed by the test script, and add the snippet - mochaSetup.js is an arbitrary file, sorry it wasn't helpful to mention it specifically. If it's a third party library you're probably out of luck and should open an issue in the libr

[2016-10-31 14:28] thevangelist commented on #24
@jdart that's my own package.json yes, I'm just unsure how to pass the file to mocha

[2016-10-31 14:31] thevangelist commented on #24
@jdart solved it by doing: "--require ./mocha-setup.js"

[2016-11-02 01:38] JQChan commented on #95
It helps me a lot. Thanks! @shri3k

[2016-11-02 01:38] #95 closed

[2016-11-02 20:00] luchsamapparat commented on #90
I found another solution which gives you more options to manipulate the URL. You can add a `customInterpolateName` property to your webpack config which allows you to define your own templates.

Here is a *very* simple example:

webpack.config.js
[code]

[2016-11-02 20:02] luchsamapparat commented on #69
I posted a possible solution for your problem in [this issue](#issuecomment-257981311)

[2016-11-03 09:34] 8427003 opened #100 "npm stay in version 0.8.5?"
npm stay in version 0.8.5?

[2016-11-03 09:35] SpaceK33z commented on #100
As you can see here https://www.npmjs.com/package/file-loader, 0.9.0 is properly released. You probably have something wrong in your `package.json`, but we can't do anything about it.

[2016-11-03 09:35] #100 closed

[2016-11-04 03:32] monochrome-yeh commented on #90
@luchsamapparat thanks dude, although it seems has a heavy loading, however it's good to me to solve this problem :)

[2016-11-04 03:34] monochrome-yeh commented on #90
I've seen webpack2, it seems that could be works.
FYI: https://gist.github.com/sokra/27b24881210b56bbaff7#loaders-configuration

but I didn't try it.

[2016-11-04 20:29] SpaceK33z commented on #96
See PR #99.

[2016-11-05 13:25] danielsalles opened #101 "Module parse failed"
I do not know where I can is missing it. I do not know if it's a bug, or if any of my fault.
I'm trying to add the bootstrap icons, but I can not load svg files, and t, woff and others.

`    loaders: [
      { test: /\.woff(2)?(\?v=[0-9]\.[0-9]\.[0-9])?$/, loader: "url-loader?limit=10000&minetype=application/font-woff" },
      { test: /\.(ttf|eot|svg)(\?v=[0-9]\.[0-9]\.[0-9])?$/, loader: "file-l

[2016-11-06 02:39] jpmelnik commented on #46
Yes, @dancoates

+1

[2016-11-07 15:14] badtant opened #102 "Add prefix to an image url?"
So, I have this name config:
`name=/build/images/[hash].[ext]`
Which will copy my images to the build folder.

For a few reasons I then have my server to serve the build folder at /xxx-folder/build.
But my files will be requested from /build/file.jpg (because of my config) instead of /xxx-folder/build/file.jpg

Is there some way for me to configure so that the files are still put in the build fold

[2016-11-07 15:25] SpaceK33z commented on #102
See #81

[2016-11-07 15:30] badtant commented on #102
ahh, sorry

[2016-11-07 15:30] #102 closed

[2016-11-15 23:23] oakley808 opened #103 "Zip file fails if configured in require/import"
I have a zip file that can be included successfully via:
[code]
But when I try to preserve the filename like:
[code]
It downloads as a corrupt zip on a PC, and a zip that extracts as a `.cpgz` file on a Mac.

Is it possible to configure zip files to download and without hashing the filename?

[2016-11-15 23:30] SpaceK33z commented on #103
Looking to your first example, it seems that you also have configured `file-loader` via your `webpack.config.js` file. In that case, the second example would be ran through the file-loader two times. You'd probably need to do this: `!!file?name=SomeOfficialName.zip!assets/LatestDocumentation.zip`.

[2016-11-15 23:33] oakley808 commented on #103
That was exactly the right fix! Thank you @SpaceK33z

[2016-11-15 23:40] #103 closed

[2016-11-17 20:47] donaldpipowitch opened #105 "`Error: Cannot find module "."`, if dynamic "name" parameter is used"
I cannot explain this. Say I use `html-webpack-plugin` like [this](https://github.com/ampedandwired/html-webpack-plugin/blob/master/migration.md#isomorph-apps):

[code]

Now I want to use `file-loader`. Maybe like this:

[code]

This works. Let us rewrite it to this:
[code]

Works, too. Another rewrite:
[code]

Still works. But now this:
[code]

[code]

I have _no_ idea why this happens. I guess t

[2016-11-17 20:50] SpaceK33z commented on #105
Could you try removing the backticks from the `require` statement? I heard there were some issues with that.

[2016-11-17 20:59] donaldpipowitch commented on #105
Tried that, too. Same result. :(

[2016-11-17 21:02] SpaceK33z commented on #105
Okay, a workaround could be to add the loader config in your webpack config instead. You could match on `test: /foo\.js/`.

[2016-11-18 11:30] SpaceK33z commented on #2
Closing since it was fixed a while ago (use `emitFile=false`).

[2016-11-18 11:30] #2 closed

[2016-11-18 11:33] SpaceK33z commented on #3
Closing since it looks like the root problem has been solved now. If there's still a problem, please make a new issue.

[2016-11-18 11:33] #3 closed

[2016-11-18 11:43] SpaceK33z commented on #85
In that case, why are you using webpack for that? Why not use `cp` or some copy tool? webpack is not made for copying files that are not getting referenced in your bundle.

[2016-11-25 12:22] aspirisen commented on #38
Have the same

[2016-11-26 18:15] azz0r commented on #46
I believe I'm also [suffering](http://stackoverflow.com/questions/40820775/webpack-scss-image-path-after-deploying-to-a-sub-directory) from the same issue and the above gives me:

[code]

[2016-12-01 16:11] prewk commented on #46
I'm using `publicPath: ''` which allows you to set it at runtime with `__webpack_public_path__` (as per https://webpack.github.io/docs/configuration.html)

My CSS and JS is loading correctly from the CDN environment I upload them too and point towards with `__webpack_public_path__`.

If I, however, use `file-loader` to load a PNG file in a React component, the resulting path will be calculated fro

[2016-12-01 23:47] johnhforrest commented on #69
You can write a custom loader that modifies the result of file-loader.

For example:

[code]

Then, in your config, chain this new loader with the output from file-loader:

[code]

[2016-12-05 16:36] raptoria commented on #101
+1 I have the same problem..

[2016-12-05 19:57] roastlechon opened #106 "Latest changes are not published in public npm registry"
0.9.0 is not the latest anymore since index.js has been changed. Will the latest changes on index.js be reflected as another version in public npm registry?

[2016-12-05 19:57] roastlechon commented on #106
@mobitar

[2016-12-07 12:33] Zadvornyi opened #107 "file-loader has a bug with names of files"
I have a bug with names of file.
Short desctiption:

- node: 6.9.1
- npm: 3.10.8
- file-loader:0.9.0
- webpack: 1.13.1
- webpack-dev-server: 1.14.1

config file:
[code]
I tried the required file require('[PATH]/test.svgTest.js')(module), but I has an error.
![screen shot 2016-12-07 at 14 28 56](https://cloud.githubusercontent.com/assets/10829855/20967740/b0faad28-bc89-11e6-98ec-7c98287e0eeb.png)
W

[2016-12-07 12:53] Zadvornyi commented on #107
Problem was in RegExp.

[code]

[2016-12-07 12:54] #107 closed

[2016-12-12 16:09] legendar opened #108 "outputPath not working"
file-loader 0.9.0
webpack 1.13.1
node 6.9.1

my config is:
[code]

**What is the current behavior?**
files saved directly to main `output.path`

**What is the expected behavior?**
files saved in `output.path`/`outputPath`

**Workaround**
place path into `name` option
[code]

[2016-12-13 09:14] bjornstar commented on #46
@prewk I ran into the same problem, https://github.com/webpack/webpack/pull/971 had the clue that got it working for me.

Add a new entry before your other ones and modify `__webpack_public_path__` there.

[2016-12-13 09:19] prewk commented on #46
Thanks, that's exactly how I'm setting it at the moment, though. I ended up not using the `file-loader` for my problem and going for data-uris instead.

[2016-12-14 08:49] ekoneko commented on #108
Me too,

I found the 0.9 version in github and npm are not same.

The npm version don't have the `options.outputPath`

[2016-12-15 03:53] nickjanssen commented on #108
Confirmed not working, thanks for the workaround

[2016-12-17 13:30] JalAzimi commented on #108
@legendar : It seems that some features on GitHub version are not yet deployed to npm registry.
Try installing from GitHub repo: `npm install webpack/file-loader --save-dev`. You also have to use trailing slash on your paths and it should work:
[code]

[2016-12-17 14:15] JalAzimi commented on #106
@roastlechon
SpaceK33z on #81:

[2016-12-17 14:18] roastlechon commented on #106
Thanks did not see the PR comments

[2016-12-17 14:19] roastlechon commented on #108
Related to #106

[2016-12-21 13:44] gravitycode commented on #108
@legendar This workaround doesn`t work when you have entries like 'app/bundle' 'manual/bundle'. I use this trick to isolate bundles in the distribution. If the path is in the name the bundles it will try to load the assets in manual/assets/image.img on order to /assets/image.img

dist/
   app/
   manual/
   assets/

I hope that with publicPath and outputPath working i can solve my problem.

[2016-12-22 07:08] zhouleiF opened #109 "publicPath function problem and advice"
# Problem
The publicPath function write in webpack.config invaild as JSON.stringify can not transfer the value typeOf Function.

     {

         test: /\.(png|jpe?g|gif|svg)(\?.*)?$/,

         loader: 'file',

         query: {

               limit: 10000,

               name: '[path][name].[hash:7].[ext]',

               "publicPath": function(url) {

                    return url.replace(/

[2016-12-29 02:00] ohadnav opened #110 "file-loader not working for jpeg"
I am failing miserably to use file-loader in karma for purposes of testing. I get 404 errors, and when trying to debug in Chrome, the files wouldn't show in the sources tab under dev-tools.

`require("file-loader?name=img/[name].[ext]?!./testdata/sad.jpg");`

Just won't work.

My webpack.config.js:
[code]

My karma.conf.js:
[code]

[2016-12-30 21:33] sirlancelot commented on #63
On Webpack v2.2.0-rc.3 this is still a problem. Is it possible to only emit changed files using this loader?

[2016-12-31 16:13] craigcosmo opened #111 "image included in 'src' attribute of image tag won't be copied to dist folder"
this is a piece of my webpack.config.js

[code]
When I have css style like this

**style.scss**
[code]
The banner.png will be copy to `dist/image` folder when build, which is good, which is what I expected

But when I have this

**AccountComponent.jsx**
[code]
When build, the `box.png` won't be copied to `dist/image` folder. Which is problem.

[2017-01-01 14:31] SpaceK33z commented on #111
Dupe of https://github.com/webpack/file-loader/issues/93

[2017-01-01 14:31] #111 closed

[2017-01-01 17:09] craigcosmo commented on #111
Thanks for the comment, but I don't see how this issue is the same as #93
in #93 the the image got corrupted. In this issue the image is not copied to distribution folder.

[2017-01-01 17:13] SpaceK33z commented on #111
You're right. This is not a bug, you're using it wrong. You need to import the image like this:

[code]

[2017-01-06 11:26] bernex opened #112 "How I can use real-time public path?"
I have publicPath in `APP.url` variable and take it from page.

I have tried: `<img src={ require("file-loader?publicPath="+APP.url+"!./del.svg") }/>`
and `<img src={ APP.url + require("file-loader!./del.svg") }/>`

In css very simple - I can use `./` public path. With img.src it is not possible. It s relative to page url. And I can't use <base> in my situation.

How I can solve this task? Thank y

[2017-01-10 12:30] gravitycode commented on #106
While the webpack 2 release is being launched, can we upload the library with the latest changes to the public npm repository? This creates a lot of confusion and headaches.

[2017-01-11 18:01] chrishutchinson opened #114 "Output to a directory based on `entry`"
Hey,

I'm currently running Webpack `2.2.0-rc.2`.

My app has multiple entry points, and depending on which one the `require()`'d image was found, I'd like to output it to an different location, based on the name of the entry point. For example my app structured as follows in the `./app` directory:

    | app
      | one
      | - index.js # requires ../static/image-one.png
      | two
      | - i

[2017-01-11 18:19] allencoded opened #115 "File-Loader Not placing images in proper /images folder"
I have this in my webpack beta 2 config file:

            {
                test: /\.(png|jpe?g|gif)$/,
                use: 'file-loader',
                options: {
                  name: 'images/[name].[ext]',
                  context: './images'
                }
            },

But my files don't go in images/ they instead get a hash and are placed in the root:
<img width="261" alt="screen

[2017-01-11 18:37] #115 closed

[2017-01-11 18:59] allencoded opened #116 "File-Loader not copying all image files over"
I am running the latest file loader config like so:

[code]

But I am only getting a partial amount of my images and not getting them all. For instance:
logo-qb-header-sm.png doesn't copy over. Yet 1/2 the other ones in that folder do.

[code]

Is there something wrong with what I am doing or understanding here? Shouldn't it just copy over all files in the images that have the extension png/jpeg/j

[2017-01-11 19:01] SpaceK33z commented on #116
Do you require the images that are not included in your JS code? It will only include those

[2017-01-11 19:41] allencoded commented on #116
Ah yeah just learned that. Thanks will close this.

[2017-01-11 19:41] #116 closed

[2017-01-12 05:02] Tiendq commented on #108
+1 confirmed that it doesn't work with current `file-loader` version `0.9.0`

My test cases:

[code]

1. Test 1
Doesn't work, `img.src` is `/static/images/name.txt` but actual output is `/static/name.txt`

[code]

2. Test 2
Doesn't work too, `img.src` is `/static/images/name.txt` and actual output is still `/static/name.txt`. loader's `outputPath` takes no effect on main `output.path` or `output.p

[2017-01-13 07:46] yhtml5 commented on #108
Thank you for solving my problem. It works
@JalAzimi

[2017-01-14 04:31] Tiendq commented on #108
I just found @JalAzimi tip works amazingly. The `npm` version of `file-loader` doesn't have a `outputPath` check like `github` version. Here is my updated configuration, which I got script bundles in `/static/scripts` and images in `/static/images`:

[code]

[2017-01-14 15:01] JalAzimi commented on #108
@yhtml5 @Tiendq But you should be careful about your project dependencies and switch to a stable version when it's released with the features implemented.

[2017-01-15 05:31] cjke commented on #40
Is there a way to specify include paths that _aren't_ node_modules? The original question simply suggested node_modules as an example, but is there a way to mark certain include paths (much like the sass loaded does)?

Alternatively, should file-loader respect the `resolve` config item?

(let me know if you want a seperate issue)

[2017-01-19 13:21] evsasse opened #117 "Different behavior of [name] on Windows and Linux"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**
On Windows `[name].[ext]` results in `app/index.html`, while on Linux it results in `index.html`.
It ends up messing with the end result of the `dist` folder.

On Windows:
[code]

While on Linux:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

https://gis

[2017-01-22 19:18] alexgorbatchev commented on #96
Crossposting this from #99.

You can fix this with a custom loader:

[code]

[2017-01-24 10:03] lifei commented on #50
closed for no more clues

[2017-01-24 10:03] #50 closed

[2017-01-26 03:51] kabirbaidhya opened #119 "Question: Is it possible to minify/optimize the required/loaded file in some way when they are copied using file-loader?"
For instance currently when I do `require('./something.html'` in my code and configure `file-loader` something like this:
[code]
What this does is just copy the original files to the `dist/` directory and replaces the `require` calls to this file with the generated filename instead. Which works.

**But I'm wondering if it's possible to further process the file in someway like further minification

[2017-01-26 09:33] SpaceK33z commented on #119
Our [issue template](https://raw.githubusercontent.com/webpack-contrib/file-loader/master/.github/ISSUE_TEMPLATE.md) states that questions should be asked on [StackOverflow](https://stackoverflow.com/).

[2017-01-26 09:33] #119 closed

[2017-01-26 12:25] Andrey-Pavlov opened #120 "Background url images aren't emitted on Linux platform"
but it's ok on Windows

File-loader config for images
[code]
Sass and css loaders
[code]
Css with images
[code]

[2017-01-26 14:25] kabirbaidhya commented on #119
That makes sense. I've posted this in stackoverflow [here](https://stackoverflow.com/questions/41875636/minification-optimization-of-the-files-required-using-the-webpack-file-loader-h).

[2017-01-26 15:15] TheLarkInn commented on #106
CC @webpack-contrib/admin-team

[2017-01-26 15:16] d3viant0ne commented on #106
I'll take care of it

[2017-01-26 15:16] tomwang1013 commented on #32
we can also set the publicPath to an absolute path, so the assets can be accessed by all css

[2017-01-27 10:53] Andrey-Pavlov commented on #120
It isn't fault of this loader. Only reproducible with AoT compilation plugin. https://github.com/shlomiassaf/ngc-webpack/issues/4
https://github.com/AngularClass/angular2-webpack-starter/issues/1406

[2017-01-28 09:58] BTMPL commented on #106
Think this can be closed now, thanks @TheLarkInn @d3viant0ne

[2017-01-28 09:58] #106 closed

[2017-01-28 10:17] d3viant0ne commented on #106
No problem :)

[2017-01-30 02:30] p4bloch commented on #108
This just got released as `0.10.0` 🎉

[2017-01-30 07:44] #108 closed

[2017-01-31 16:01] shlomiassaf commented on #120
Track shlomiassaf/ngc-webpack#4 for a version with a fix.

[2017-02-08 04:16] hmbadiwe commented on #38
It seems that the only thing that works for me is using the url-loader for all fonts.
I don't know what the drawbacks are:

`{test: /\.(woff|ttf|eot|svg)(\?v=[a-z0-9]\.[a-z0-9]\.[a-z0-9])?$/, loader: 'url-loader?limit=100000'}`

I got this from stack overflow:
http://stackoverflow.com/questions/34133808/webpack-ots-parsing-error-loading-fonts

[2017-02-08 13:32] nsteenbeek commented on #90
I had to do a return to get it working:

[code]

[2017-02-08 13:43] luchsamapparat commented on #90
yes, of course. sorry, fixed it

[2017-02-08 15:44] appsolutegeek commented on #90
This seems really exactly what I need, I need to manipulate the [path] built in template variable. Tried the following

[code]

But I get

Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.

I am using webpack 2.

[2017-02-08 16:04] appsolutegeek opened #124 "[path] returns full absolute path, can we have a little more control or relative ?"
Hi,

I am importing a image using require from /src/client/info/app-1/assets/images/backgroup.jpg

Problem is that this file is now being copied to my dist folder as /src/client/info/app-1/.... etc

I want to be able to copy it to /dist/app-1/.... etc which is where my index.html is.

I am using

[code]

So of course the [path] is returning the full path, but this path isn't fixed, is there  a way

[2017-02-08 20:34] BTMPL commented on #124
Can this not be solved by removing `[path]` and using `outputPath` (+`publicPath` if needed)?

[2017-02-09 11:02] appsolutegeek commented on #124
Thanks @BTMPL , but I cant hard code the app-1, is this is dynamic and will change. It would be great if i could do a SubString :-)

I also found I can pass in the querystring "context" but the problem here is that i can do a "../../" but this doesn't from the right hand side.

The [path] is exactly what I need but its padded with some things I wish to remove..

[2017-02-09 11:06] BTMPL commented on #124
@appsolutegeek I had a similar problem, where the emitted files would be placed in a directory with a random name (for cache busting purposes) and the bundle would be placed in a different location that the app base URL. To solve that I just made the app accept `assetsUrl` as a param (with redux store hydration) and I add it  before the relative image url.

[code]

[2017-02-10 09:13] appsolutegeek commented on #124
Thanks @BTMPL, yep thats probably not my case though.

[2017-02-16 16:34] reywright opened #125 "Using file-loader with __webpack_public_path__?"
Using the latest version of file-loader. The following works for me:

```file-loader?name=img/[name].[ext]&emitFile=false&publicPath=/xyz/```

Because the publicPath for my application can vary wildly, I can't hardcode the publicPath in the webpack config. I'd like if the file-loader used `__webpack_public_path__` or had some option like [webpack_public_path] or basically any hook I could use to b

[2017-02-19 08:27] monochrome-yeh commented on #90
@appsolutegeek
I haven't encountered this situation with webpack2.2 yet,
it might be another case what we need to care.

[2017-02-19 14:24] bebraw commented on #117
This feels like a bug in [loader-utils](https://github.com/webpack/loader-utils). Could you reproduce against it and report there?

[2017-02-19 14:29] bebraw commented on #54
Any update? Can you provide a standalone test case?

[2017-02-21 09:33] appsolutegeek commented on #90
@monochrome-yeh , Thanks. Yes, i think it would be helpful, I was trying to fix an issue with the [path] variable that is parsed. See my other github issue here https://github.com/webpack-contrib/file-loader/issues/124#issuecomment-278453104

Basically, the [path] is returning a longer path, I would like to have it pruned.

And I was hoping this was a way to do that

Thanks again.

[2017-02-22 03:43] KingMario opened #126 "fileLoader option in webpack config object for webpack 2 is not allowed"
In webapck 2,  the default option `fileLoader` in webpack config object is not allowed. `should NOT have additional properties` exception will be thrown.

In webpack 1, it works:
[code]
Here the publicPath callback function is used for shopify theme backend template.

For webpack 2, one can use `loader` with publicPath callback function, but it may have potential conflict with other loaders.

I ju

[2017-02-23 10:22] whezdcm commented on #124
got the same problem today.
solved it like this:

[code]

seems like file-loader used 'context' as root of the 'path' witch can be override by options

P.S. use webpack2 .  hope helpful.

[2017-02-23 10:23] whezdcm commented on #124
got the same problem today.
solved it like this:

[code]

seems like file-loader used 'context' as root of the 'path' witch can be override by options

P.S. use webpack2 .  hope helpful.

[2017-02-23 11:59] appsolutegeek commented on #124
Nice!!!!, This seems to work! :-)
Great! Thanks.

[2017-02-23 11:59] #124 closed

[2017-02-23 14:46] karolklp commented on #38
Drawbacks of using `url-loader` for all fonts:

- all of the font types has to be downloaded - they're in CSS file, so browser can't just choose the proper one - it has to download all of them
- when browser downloads the desired file format, it's done asynchronously. When you force browser to download it in css, you lose that
- base64 creates size overhead for data

[2017-02-24 08:44] bensampaio opened #128 "Use loderUtils.getOptions instead of loaderUtils.parseQuery"
The `loaderUtils.parseQuery` function was deprecated. For that reason, I constantly get the following warning when I run webpack 2: `DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https://github.com/webpack/loader-utils/issues/56`. Can you update?

[2017-02-25 00:53] d3viant0ne commented on #128
@bensampaio - Most of the loaders suffered the same issue. I'm working through them ( 20 or so to do ). I'll have this fixed and out in about an hour.

[2017-02-25 01:04] #128 closed

[2017-02-25 01:07] d3viant0ne commented on #128
@bensampaio - `v0.10.1` has been published to npm

[2017-02-26 01:55] Emiya0306 commented on #28
+1

[2017-02-27 08:28] bensampaio commented on #128
Awesome, thanks a lot!

[2017-02-28 15:38] iamsisar commented on #70
+1

[2017-03-07 16:14] andosteinmetz opened #131 "SVG MIME Type problems"
I've been working on a site using file-loader to handle images referenced in Vue templates. Everything was working fine until I tested on mobile (iPhone), and suddenly, many of my SVGs weren't loading. On closer inspection, the ones that weren't loading were the ones being served from my webpack distribution folder. If I moved them to a 'normal' directory, they appeared correctly.

The problem was

[2017-03-08 13:56] matthewjumpsoffbuildings opened #132 "Stop file-loader from emitting a bundle"
Im using file-loader in conjuction with pug-html-loader and require.context() to convert a folder of pug templates into separate html files. In my webpack.config.js i have these entry points:
[code]
this references a .pug.js file that just has this in it:
[code]
and this is my loader for pug
[code]
the issue is the entry point `'.delete': './pug/.pug.js'` creates an empty .delete file in my output

[2017-03-08 18:02] reywright commented on #125
Hmmm I'm using redux / webpack.
[code]

This doesn't work, and putting the declaration inside app.js also doesn't work.

[2017-03-09 07:33] coderwin opened #133 "query add publicPath?"
I want to use the publicPath for the list
* js: j.cdn.com.cn
* img: i.cdn.com.cn
* css: c.cdn.com.cn
[code]

[2017-03-09 14:45] serut opened #134 "Document the argument outputPath"
Hello and thanks for this awesome package,
I just upgrade my app from webpack 1 to 2 and I loosed some time to fix image render threw `webpack-dev-server`

**What is the current behavior?**
I though that the `outputPath` was a relative path to the folder where this plugin will save my files, from where the `webpack.config` file is. And that's not the case. The file will be moved to `output.path` (

[2017-03-13 21:19] MatteoGabriele opened #136 "[hash] placeholder doesn't match with all generated hashes"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I use an hashed name for the build folder which contains js chunks, extracted css files and main application bundle.

Everywhere, the placeholder `[hash:8]` that I'm using, returns the same string, which allows me to put javascript and css in the same generated folder: except the file-loader hash.

**I

[2017-03-16 07:01] asuishi commented on #46
Is there a solution for this now? v1 or v2
 require image in css and js

[2017-03-16 10:23] joetidee opened #137 "How to use file-loader?"
Looking at the documentation it is not obvious how to use static images. For example:

My images are stored in /public/assets/img

In one of my application pages (/src/somePage.js) I am creating the src attribute for an image dynamically:

let imgSrc = "public/assets/img/" + imageId + ".jpg";

<img src={imgSrc} />

When viewing in the browser, the images cannot be found.

[2017-03-21 22:09] puneetar commented on #109
Do we have any updates on this issue ?

[2017-03-22 06:49] kabirbaidhya commented on #119
Just in case, if anyone runs into this issue you may want to use this plugin [`webpack-file-preprocessor-plugin`](https://github.com/kabirbaidhya/webpack-file-preprocessor-plugin)

**This is a very lightweight webpack plugin that allows you to pre-process files or assets loaded using `file-loader` before they're finally emitted.**

As this is a very generic plugin you can use it to do any kind of

[2017-03-23 16:27] IAMtheIAM opened #138 "Loader options plugin for webpack 2 causes file names to become a random hash"
Webpack: 2.2.1
File-loader: 0.10.1

Using the "loader options" object causes file loader to ignore the naming structure given to the query.
Example:

[code]
The above works as expected, outputing the files into `/assets/images` and the name remains the same i.e. `hello.png` stays `hello.png`

However:
[code]
Using this does not produce the desired results. It outputs ALL the assets into the root c

[2017-03-25 12:11] FranzSkuffka commented on #138
I have the same issue.
[code]

[2017-03-27 17:05] fmakdemir commented on #138
I have the same problem and it seems like it can't load options field and since default name is `[hash].[ext]` all files are written as hashes on Webpack2.
It tries to load from `this.options` and when I checked it had no `fileLoader` property which the file-loader expects it to have.

[2017-03-27 18:31] fmakdemir commented on #136
@MatteoGabriele it writes that `hash` is the hash of file contents (defaults to hex-md5). Thus I believe this is intentional and I would like to have build hash included as well.

[2017-03-28 02:36] FranzSkuffka commented on #138
Thank you, @fmakdemir.
However I was not combing it with query options though.

[2017-03-28 09:23] sagar12861 commented on #110
It seems Webpack 2 implicitly doing it for us. remove the file loader and try it worked for me.

[2017-03-30 11:16] MatteoGabriele commented on #136
@fmakdemir yeah I see what you mean. They probably have to provide two different placeholders

[2017-03-31 09:46] #62 closed

[2017-03-31 10:02] d3viant0ne commented on #46
closed in #135 and available in `v0.11.0`

[2017-03-31 10:02] #46 closed

[2017-04-01 12:29] fmakdemir commented on #138
@FranzSkuffka you wrote `loader: 'file-loader?name=../[path]/../[name].[ext]'` alongside `options` that is mixing them :) Part after `?` is the query options and you also have `options` property set. `file-loader` ignores query options when both are present from what I could find.

[2017-04-01 21:38] nucklearproject commented on #138
Same Issue...
Deleting or comments "options" work,

"file-loader": "^0.10.1",
"webpack": "^2.2.1",
"webpack-dev-server": "^2.2.0-rc.0"

`{
        test: /\.(png|jpg)$/,
        use: [{

          loader: 'file-loader?name=img/[name].[ext]',
         //loader: 'file-loader',

/*  options: {
              query: {
                        name: 'img/[name].[ext]'
                     }
          } */

[2017-04-02 17:13] wujekbogdan opened #140 "publicPath backward compatibility issue in 0.11.1"
I've just upgraded from 0.10.1 to 0.11.1

This is how one of my file-loader entries looked like before the upgrade.
[code]

- I keep images under the `./src/img/` directory
- SCSS is compiled from `./src/scss/app.scss` to `./dist/css/app.css`
- The target images directory is `./dist/img/`

So URL in the CSS file must look like `url(../img/image-file.jpg)`

Before the upgrade it was OK. But after u

[2017-04-03 13:25] QuantumInformation opened #141 "Image loaded is corrupted"
I'm trying to do this:

![image](https://cloud.githubusercontent.com/assets/216566/24611192/318bc526-1879-11e7-8b77-5b59bcf4a4f1.png)

Steps:

* Clone https://github.com/QuantumInformation/Density-Wars
* run npm i
* run webpack
* inspect /public to see corrupted file:

![image](https://cloud.githubusercontent.com/assets/216566/24611168/157ba91e-1879-11e7-8510-50d929d46f37.png)

[2017-04-04 13:19] bebraw commented on #141
I think I know what's going on. In the current code you have inline `file-loader!./assets...` kind of definition. `file-loader` gets evaluated there first. After that it goes through `url-loader` due to the file size (less than 15k). As a result it emits both a file (first definition) and transforms the output through `url-loader`.

Based on that I would say it's a configuration problem and not a

[2017-04-04 13:46] QuantumInformation commented on #141
Great that works!

[2017-04-04 13:46] #141 closed

[2017-04-05 02:53] moxuse opened #142 "k html copy"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-04-05 02:53] moxuse opened #143 "k html copy"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-04-05 02:53] #143 closed

[2017-04-05 02:55] #142 closed

[2017-04-05 02:57] moxuse commented on #142
do not mind this post. I failed typing... sorry

[2017-04-05 10:29] ThomasSoloist opened #144 "Can I get module name in filename template placeholders?"
I set up webpack's entry property like:

[code]

In index.js, I use html-loader to require html files, And use extract-loader & file-loader to out put html files, such as

[code]

And I want to use the module name (that set up in webpack's 'entry' property) to out put the html files.

maybe it will like：file-loader?name=[module].[ext]!extract-loader!html-loader, and output is "about.html"

So that

[2017-04-05 13:58] jcdickinson commented on #140
I can't use it in this state *at all.* ASP.Net uses a directory called `wwwroot` to contain static content. To support sourcemaps, my source clientside scripts and less are under `wwwroot`. This naturally leads to the following configuration:

[code]

This results in the following in my final CSS (the value I'm looking for is just `url(/data/icons.eot)`):

[code]

The only viable workaround is to

[2017-04-06 19:48] grvcoelho opened #147 "Sourcemaps"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
If I use file-loader to transpile `.js` files, sourcemaps are not added to the individual files but only to the main bundle file (using `source-map-loader`).

**If this is a feature request, what is motivation or use case for changing the behavior?**

It would be nice to have source-maps support on

[2017-04-09 04:23] d3viant0ne opened #148 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-09 19:30] nopantsmonkey opened #149 "output images are in parent folder when useRelativePath option is true"
My webpack file
[code]
My folder structure
[code]

|-
|----build/
|---------css/
|--------------web/
|-------------------home/
|-------------------------style.css
|-------------------app/
|-------------------------app.css
|--------------desktop/
|-----------------desktop.css
|---------images/
|--------------web/
|-------------------home/
|-------------------------image1.jpg
|-------------------app

[2017-04-11 05:14] michael-ciniawsky commented on #149
@nopantsmonkey You can't use `.css` files as entry points, webpack entrys are JS only

[2017-04-11 05:14] michael-ciniawsky commented on #149
and please  add the \``` around the code it's very hard to read atm :stuck_out_tongue:

[2017-04-11 05:23] michael-ciniawsky commented on #147
Why are you loading `.js`files via file-loader ? 😛 Just `import/require()` them :) webpack has buildin JS support (it only runs on JS), for other files it highly depends, if the file is parsable and provides source location info to generate the maps. HTML/SVG could have sourcemaps in theory for e.g but no browser devtools actually would support them (JS/CSS only).PNG/GIF/FONTS on the otherhand do

[2017-04-11 05:23] #147 closed

[2017-04-11 05:25] michael-ciniawsky commented on #144
@ThomasSoloist  Did you try `file-loader?name=[name].[ext]!extract-loader!html-loader` ?

`[module]` => `[name]`

[2017-04-11 05:29] michael-ciniawsky commented on #140
Looks like `outputPath/publicPath` gets both applied/'joined' which clearly be a bug :)

[2017-04-11 05:31] michael-ciniawsky commented on #140
@wujekbogdan @jcdickinson Could someone try changing `options.outpuPath && options.publicPath` and see if there's a pattern?

[2017-04-11 05:39] michael-ciniawsky commented on #138
@IAMtheIAM

**webpack.config.js**
[code]

@FranzSkuffka

**webpack.config.js**
[code]

@nucklearproject
**webpack.config.js**
[code]

Reopen if still regressions 😛

[2017-04-11 05:39] #138 closed

[2017-04-11 05:41] michael-ciniawsky commented on #137
@joetidee Please provide more info about your current setup (file tree, `webpack.config.js`)

[2017-04-11 05:42] michael-ciniawsky commented on #134
@serut Mind to spin up a quick PR about this 😛 ?

[2017-04-11 05:44] michael-ciniawsky commented on #133
@coderwin Please provide more info about your current setup (`webpack.config.js`), but I'm uncertain if this is possible (multiple publicPath). Why not `cdn.com.cn/js` `cdn.com.cn/css`, `cdn.com.cn/img` ?

[2017-04-11 05:51] michael-ciniawsky commented on #132
First of all why ? 😛  If you just want to convert templates a task runner like Grunt, Gulp is *way* easier to use for this then webpack, which is a *[JS] Bundler*. Please elaborate more on what you are trying to achieve maybe I'm missing something here :). webpack needs at least one JS entry and will output a bundle at the end

[2017-04-11 05:56] michael-ciniawsky commented on #131
@andosteinmetz The `url-loader` looks up the MIME Type while the `file-loader` doesn't 😛 Could you provide more info on your about your setup please (`webpack.config.js`) ?

[2017-04-11 05:58] coderwin commented on #133
@michael-ciniawsky
Domain divergence，there are too many static resources(js/css/img)

[2017-04-11 05:59] michael-ciniawsky commented on #126
Discussion moved to #127

[2017-04-11 05:59] #126 closed

[2017-04-11 05:59] matthewjumpsoffbuildings commented on #132
I appreciate that you can use other packages to do this, but I like not having to bring in the whole gulp ecosystem on top of webpack. Between webpack loaders and gulp plugins the projects dependencies can balloon quickly.

My current setup works fine overall, and right now my build scripts are just `rm`ing the unneeded pug bundle output. Its not a major issue, itd just be nice to have the option

[2017-04-11 06:00] #120 closed

[2017-04-11 06:17] michael-ciniawsky commented on #82
@bensampaio see @SpaceK33z comment and reopen if have time to setup a repo to test 😛

[2017-04-11 06:17] #82 closed

[2017-04-11 06:18] ThomasSoloist commented on #144
@michael-ciniawsky I have set the loader in webpack such as `file-loader?name=[name].[ext]!extract-loader!html-loader`, if I have a 'homepage.html' then it will output 'homepage.html', and it works fine.

But I need the html file name is same as the webpack entry module name when output. Like I require the html file in the entry of 'about' module, then the html file will output with the name of 'a

[2017-04-11 06:19] michael-ciniawsky commented on #101
@danielsalles Still got this regression ? if please provide more info about your current config

[2017-04-11 06:23] michael-ciniawsky commented on #98
@db-developer Maybe a bug in [loader-utils](https://github.com/webpack/loader-utils), which is responsible for interpolation of `[path|name|ext]`

[2017-04-11 06:23] fmakdemir commented on #138
@michael-ciniawsky wouldn't it be better to put an example config with some explanations or fix for using query options along with loader options? I had to dig to source codes to find out why it was acting weird..

[2017-04-11 06:34] nopantsmonkey commented on #149
i 've created a repo for you with the issue
and added both options that i am using with file-loader
please toggle options and check i 've also added some description with options

Commands
[code]
Repo URL:
[file-loader-relative-path-issue](https://github.com/nopantsmonkey/file-loader-relative-path)

[2017-04-11 09:11] serut commented on #134
If I was sure to be to able to explain it, would be glad to create the PR, but that's not the case ...

[2017-04-11 15:37] danielsalles commented on #101
@michael-ciniawsky I solved this problem already. What has happened is that the configuration mode of the vuejs is a bit different from that usually taught. The part where you put the loaders is different. I do not remember the exact solution now, but it's very simple to solve.

[2017-04-12 00:33] ThomasSoloist commented on #144
@michael-ciniawsky Eh, I have find a same feature request in issue #114 (https://github.com/webpack-contrib/file-loader/issues/114) that we all need to output the files or folders with the name based on entry modules. Should I close this issue? Thank you again.

[2017-04-12 02:52] michael-ciniawsky commented on #144
@ThomasSoloist Yep I will triage this at #114 then :), please feel free to join discussion there

[2017-04-12 02:52] #144 closed

[2017-04-12 02:53] michael-ciniawsky commented on #101
@danielsalles Open a new issue if still any regressions regarding `file-loader` 😛  Closing this one

[2017-04-12 02:53] #101 closed

[2017-04-12 02:56] michael-ciniawsky commented on #134
@serut kk I will address it then when I have time, but it's no problem in case the first attempt isn't 💯 though 😛

[2017-04-12 02:58] michael-ciniawsky commented on #149
@nopantsmonkey kk i will take a look into it soon

[2017-04-12 03:07] michael-ciniawsky commented on #138
@fmakdemir Yeah... 😛  I'm on a README overhaul journey for most of the loaders here, so soon...

[2017-04-12 03:21] matthewjumpsoffbuildings commented on #132
because i need an entry point for the pug loading. `.pug.js` is the entry point, it contains that `require.context()` which is what looks in the pug folder for any `.pug` files.

what happens is, the `require.context()` in `.pug.js` calls all the `.pug` files in the source `pug` folder, and then outputs each of them into the output folder rendered as `.html`.

I have to give the pug entry point a

[2017-04-12 03:23] matthewjumpsoffbuildings commented on #132
btw the `.delete` bundle contains almost nothing. just a few lines of webpack module code, and some comments marking where the html output was extracted from it (by file-loader) to be put into separate html files

[2017-04-12 03:28] michael-ciniawsky commented on #132
I'm afraid you will need to `delete` this extra bundle manually, but I ask in the @slack to double check 😛

[2017-04-12 13:18] fmakdemir commented on #138
😄 I support you whole heartedly.

[2017-04-12 14:18] bensampaio commented on #82
Later on I realised this problem was related to `sass-loader`: https://github.com/webpack-contrib/sass-loader/issues/100. It was just a coincidence that the problem started happening after I added the `file-loader`.

[2017-04-12 15:12] eromano commented on #114
Hi guys, I am interested in this functionality as well but seems not to be a really common scenario but some thumbs up from January has been added.
is someone already working on this feature request?
any possible workaround in the meantime?

[2017-04-12 20:41] michael-ciniawsky commented on #114
@eromano Nope but I will triage this soon, if you have an idea how to and want to give it a try feel free to send PR for further discussion 😛

[2017-04-14 02:01] ThomasSoloist commented on #114
@michael-ciniawsky I have read all the document of webpack's API, and it seems we can't get the entry name directly. Or even can't get which module required this file. Maybe we need to send a feature request to the webpack.

<img width="389" alt="qq20170414-095357 2x" src="https://cloud.githubusercontent.com/assets/12109558/25030691/4c03ab02-20f9-11e7-9011-757e8da7437c.png">

[2017-04-14 08:30] eromano commented on #114
Someone was proposing this piece of code in order to get it but I don't know if it works
[code]

[2017-04-15 06:23] nopantsmonkey commented on #149
yes @adriancmiranda it is working as expected.
should i create a fork of file-loader with your changes or will this at any point get merged in this repo?

[2017-04-15 06:28] michael-ciniawsky commented on #149
@nopantsmonkey If #150 contains this, it's likely to land soon :)

[2017-04-15 06:34] nopantsmonkey commented on #149
should i close this issue now or you 'll close it after the release of file-loader with #150

[2017-04-15 06:41] michael-ciniawsky commented on #149
@nopantsmonkey I will close it when #150 lands :)

[2017-04-15 09:28] nopantsmonkey commented on #149
@adriancmiranda  i think there is some problem between the [repo](https://bitbucket.org/adriancmiranda/pr-file-loader/src/489f5e70002496b4098a283b1a794643ee0869e7/?at=file-loader-relative-path-issue) you asked me to verify and the code in #150
because if i am changing the local file-loader in the above code with the file-loader of #150 [(adriancmiranda/file-loader)](https://github.com/adriancmiran

[2017-04-15 12:31] adriancmiranda commented on #149
@nopantsmonkey No, it's right, [line 18](https://github.com/adriancmiranda/file-loader/blob/master/index.js#L18) I changed the defaults to empty and I changed the [line 75](https://github.com/adriancmiranda/file-loader/blob/master/index.js#L75) too.
In master, we have two CSS files with a single output (most of the cases).
In yours, we have a multiple output path

So, I think in two ways of dealin

[2017-04-16 07:30] AndreKR commented on #140
What do you mean, pattern?

To me it seems that with 0.11.1 the public path (the thing that eventually gets appended to __webpack_public_path__) is _always_ publicPath+outputPath+name (wrong) while with 0.10.1 it was publicPath+name (better*).

Do you mean you found a case where the outputPath is _not_ wrongly appended in 0.11.1?

<sub>* I'm writing "better" because personally I would prefer to ha

[2017-04-16 08:06] AndreKR commented on #112
You seem to be using some kind of template language, you should mention that.

Anyway, have you tried adding
[code]
or
[code]
at the top of your entrypoint?

[2017-04-16 08:42] nopantsmonkey commented on #149
it is working for me with cssOutputPath: undefined

[2017-04-17 03:42] praveenperera commented on #140
Yup I just encountered this bug too, took me a while to figure out what was going on. My code is as follows.

[code]

On 0.10.1 it works fine because the url is resolved to `images/whatever.jpg` but on 0.11+ it resolves to `static/images/whatever.jpg`

[2017-04-18 07:27] lili21 commented on #125
I think what you need is outputPath.

[2017-04-18 07:35] lili21 commented on #125
`file-loader` will use `__webpack_public_path__` by default. so You don't need to set publicPath for `file-loader`

[2017-04-18 09:05] lili21 commented on #125
@reywright https://github.com/webpack/webpack/issues/2776

[2017-04-18 09:45] lili21 commented on #125
actually, the `publicPath` config will override `__webpack_public_path__`. I guess that's the problem. @reywright

[2017-04-19 06:21] LucasBassetti opened #151 "mp3 not found"
Hi,

I'm try to create a react component that use a mp3 file. I'm publish it as a npm package. So, when I install it in some application using `npm install myLib` I get an error `404 not found` in my mp3 file.

My webpack prod config:

[code]

Example of how I'm calling the mp3 file in development environment (here works fine):

[code]

Result of webpack production build:

![image](https://cloud.g

[2017-04-20 05:21] michael-ciniawsky opened #152 "Standardize README"

[2017-04-20 13:00] dnutels opened #153 "Emit files relative to entries"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Consider dynamically created Webpack config entries:

[code]
where the source folder structure:

[code]
and the resulting entry (the one calculated using `createEntries` function) is:

[code]

As a result of the build configuration above, the following files are created:

[code]

**What is the ex

[2017-04-21 15:11] evilebottnawi commented on #151
@LucasBassetti why your use `copy` plugin for this, your can use `require('./path/to/my.mp3')` (example i store files in `src/static` and have `src/app.js`, inside `src/app.js` i use `require(''./static/my.mp3)`)? Don't move manually files which use in require, it is can break path to files

[2017-04-24 10:24] LucasBassetti commented on #151
The problem is that I need generate a npm package with the mp3 dependency, i. e., when I install my react package using `npm i myLib` and rendered with `<MyLib />` I need keep the dependency with my mp3 file.

[2017-04-24 11:00] neal-eiger opened #154 "Documentation"
Hi, it would be helpful in the readme to give a small full example (for dev and prod) before discussing the finer points, for example using an angular 2 project something like:

[code]

[2017-04-24 11:35] evilebottnawi commented on #151
@LucasBassetti I understand what exactly is being done wrong? I just do not understand why to use `CopyWebpackPlugin`, webpack hadles all, just use `var url = require('my.mp3')` and just insert your url

[2017-04-24 12:00] michael-ciniawsky commented on #154
Yep we work on README overhauls and standardization it's just WIP atm :). Please wrap the paths in \``` for better readability

[2017-04-24 12:58] michael-ciniawsky commented on #151
@LucasBassetti In this case you will need to reference the `.mp3` yourself aswell, webpack doesn't automatically load component assets from packages for you `import mp3 from 'path/to/package/path/to/file.mp3`. See [Resolve](https://webpack.js.org/configuration/resolve/) for possible options and maybe the webpack short hand `~` for `node_modules` works `import mp3 from `~package/path/file.mp3`

[2017-04-24 12:58] #151 closed

[2017-04-24 13:50] LucasBassetti commented on #151
Alright! Thank you guys!

[2017-04-24 13:59] michael-ciniawsky commented on #151
@LucasBassetti If still regressions feel free to reopen 😛

[2017-04-24 16:53] mfirry opened #155 "Issue using flag-icon-css"
I've got a pretty basic react app that uses webpack 1.13.3 and file-loader 0.9.0 and [flag-icon-css](https://github.com/lipis/flag-icon-css).

In my `webpack.config.js` I've got an alias like this:

`flag_icon_css: __dirname + "/node_modules/flag-icon-css/css/flag-icon.css"`

which allows me to have this in my `Main.js`

`import flagIconCss from 'flag_icon_css'`

*flag-icon-css* has this [flags](h

[2017-04-26 18:40] reywright commented on #125
@lili21 what I'm saying is I need to specify the publicPath **because** the publicPath doesn't work otherwise. I've seen those threads you're talking about... I'll try them again but I remember trying them already.

[2017-04-28 02:49] lili21 commented on #125
I thought what you need is `__webpack_public_path__` , then why you need `publicPath` ?

[2017-05-01 18:35] d3viant0ne opened #158 "regression: publicPath can't be false"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The webpack config validator does not allow publicPath: false. undefined is allowed, but not false. This change thus makes it impossible to cause __webpack_public_path__ to be used.

**If the current behavior is a bug, please provide the steps to reproduce.**

See: https://github.com/webpack-contrib/

[2017-05-04 13:27] evilebottnawi commented on #137
/cc @joetidee friendly ping

[2017-05-04 13:29] evilebottnawi commented on #54
/cc @tnrich friendly ping. Maybe `otf` is corrupted?

[2017-05-04 13:30] evilebottnawi commented on #92
@martinko2009 problem is actual? If yes can your provide minimal reproducible test repo?

[2017-05-04 13:32] bebraw commented on #54
Please re-open with an example to run.

Note that **file-loader** itself doesn't do much. It will write the otf file and return a path to it in the source. Without further information it's hard to say why it fails to load.

[2017-05-04 13:32] #54 closed

[2017-05-04 13:35] bebraw commented on #155
Maybe [webpack-svg-sprite-plugin](https://www.npmjs.com/package/webpack-svg-sprite-plugin) would work better for your purposes. It's not a great idea to end up with lots of small SVG files to load. You can also try **url-loader** and then inline the SVGs into the resulting CSS. That will bloat it a bit but you'll avoid a request per each SVG.

[2017-05-04 22:51] #137 closed

[2017-05-05 12:17] booxood commented on #28
+1

[2017-05-10 23:22] michaelmano opened #160 "OutputPath is joined with publicPath?"
I have set up file loader for fonts however its not working as I thought it would.
my output path is completely different from my public path so I thought by declaring the locations in parameters this would work. e.g.
[code]
the SRC the css should be using is __fonts/name.ext and the files location should be in /fonts/name.ext

but this is not what is happening.
instead im getting
`src: url(__font

[2017-05-12 06:44] james-prado opened #161 "Unexpected character '�', when bundling fonts"
I'm successfully bundling my css with webpack, however when I try to bundle fonts.scss which contains all my `@font-face` statements,  webpack throws me this strange error.

The error:
[code]

For reference my `@font-face` statements look like this (but with a few more fonts):
[code]

webpack.config.js
[code]

My File Structure:
[code]

Link to the repo [here](https://github.com/james-prado/electr

[2017-05-12 09:34] evilebottnawi commented on #161
@james-prado try to update `css-loader`, `style-loader` and `sass-loader` to latest versoin

[2017-05-12 18:14] james-prado commented on #161
All my loaders are on the latest version,
css-loader v0.28.1,
style-loader v0.17.0
sass-loader v6.0.5

if it helps [here's](https://github.com/james-prado/electron-react-app/tree/master) a link to the repo

[2017-05-12 18:24] james-prado commented on #161
Nevermind, seems I made a silly mistake and was importing a font I didnt have in my assets

[2017-05-12 18:24] #161 closed

[2017-05-14 15:25] coderwin opened #162 "A function publicPath into 'false' in the loader"
[code]
But A string publicPath,  the output is corrent.
thx.

[2017-05-17 12:37] alihammad-gist commented on #92
The file-loader doesn't copy font files from `node_modules` to `dist/font` folder but it does copy it from my `source` folder to `dist/font`. Here you can see how path to fonts inside `node_modules` is generated. Anyone know why this difference, am I missing an option that would enable moving files from inside `node_modules`?
[code]

Here is an example of generated path of font files that reside o

[2017-05-17 18:19] devotis commented on #155
@mfirry The [svg-url-loader](https://github.com/bhovhannes/svg-url-loader) solved it for me. Just `npm install --save-dev svg-url-loader` and add this rule to `webpack.config.js` > module.rules

[code]

[2017-05-17 18:29] bebraw commented on #155
Ok, time to close. Thanks.

[2017-05-17 18:29] #155 closed

[2017-05-17 21:47] reywright commented on #125
I don't. I'm only using it because __webpack_public_path__ isn't working

[2017-05-18 02:43] lili21 commented on #125
update to latest version . and It will work.

[2017-05-24 09:35] zhenyulin opened #163 "namespace: package name update"
How about update the package name to webpack-file-loader? At the moment, the webpack plugins/loaders namespace isn't very consistent. In comparison, babel, eslint, react, redux all have the namespace in a consistent convention, helping make the dependency tree clean.

[2017-05-24 09:40] michael-ciniawsky commented on #163
See https://github.com/webpack-contrib/style-loader/issues/239

[2017-05-24 09:40] #163 closed

[2017-05-24 11:45] ronar commented on #160
I've the same issue. When I point out the outputPath, the final file path gets concatenated with the public path. It shouldn't be happening.

[code]

My config:
[code]

I get this string `http://{server}/assets/images/../assets/images/image.png`. Which is definitely wrong.

[2017-06-02 23:38] michael-ciniawsky commented on #162
@coderwin Could you please try to explain the problem again, I don't get the issue tbh :)

[code]

[2017-06-03 16:16] #158 closed

[2017-06-05 00:53] zouhir opened #164 "Forwarding Data to other chained loaders"
Hi, thanks all for this great loaders. I made [lqip-loader](https://github.com/zouhir/lqip-loader) for webpack and I am curious if `file-loader` ability to forward data (path) to other loaders could be supported. I'm happy to help and would be proud to contribute where I can.

### What I found challenging:

[code]

inside my loader I get a `string` value from `file-loader` of `"module.exports = __

[2017-06-05 13:51] SachinVarghese commented on #160
I have the same issue. Am I not using it right? Can someone define the output Path and public Path keys?

[2017-06-05 14:16] dirago commented on #160
Same error here, impossible to understand why

[2017-06-05 15:18] dirago commented on #160
Waiting for the fix :

Instead of:

[code]

What I did :

[code]
It's kind of tricky, but it's actually works

[2017-06-06 09:44] novemberborn commented on #125
I think this is due to https://github.com/webpack/webpack/issues/3265#issuecomment-306435580.

[2017-06-07 20:51] #148 closed

[2017-06-07 23:02] evilebottnawi commented on #69
@DragorWW @dmorrison42 @luchsamapparat @johnhforrest
Use `name` as `function`.
[code]

[2017-06-08 20:27] eric-burel opened #168 "1.0.0-beta.0 does not build"
I can't give much info (it's late here in France), but the last version does not work with webpack 1.15 on multiple machines with different node versions.
It fails on importing both `png` and `scss` files.

I have multiple messages similar to `Module not found: Error: Cannot resolve module 'file' in ...`

This is fixed by rolling back to version `0.11.2`.

The webpack config:
[code]

[2017-06-08 20:41] michael-ciniawsky commented on #168
`file-loader >= 1.0.0` will require `webpack >= 2.0.0`, that's mainly why it is semver major, wasn't there no warning when during installation?

[2017-06-09 07:57] eric-burel commented on #168
The `package.json` was loading the package from the Github's master (it was not mine, I guess this was an old file), so it automatically updated.

[2017-06-09 08:32] damianobarbati commented on #114
Any solution for this?
How can we link file-loader to output files in a folder relative to entry folder in multiple entries configuration?

[code]

[2017-06-10 02:48] #168 closed

[2017-06-10 02:49] d3viant0ne commented on #168
@eric-burel - You will have to pin that repo to `v0.11.2` until you can upgrade to `webpack@2 || webpack@3`.

In the mean time, it will now throw a peerDependency warning on install to include when installed from a git url.

[2017-06-10 15:59] buzinas commented on #63
Can anyone give me some directions on how to implement this? I'm happy to create a PR for that.

[2017-06-13 04:52] michael-ciniawsky commented on #69
See @evilebottnawi's comment, feel free to reopen if still regressions :)

[2017-06-13 04:52] #69 closed

[2017-06-14 17:24] TheThingRus opened #173 "[v1.0.0-beta.1] fontawesome.css hasn't loaded (failed on eot/woff... files)"
I've spent more 5 hours trying to resolve this issue (I didn't know that it depends on this module). When I' ve changed on: "file-loader": "^0.9.0" everything was ok.

webpack 2 config:
[code]

vendor.ts:

[code]

Errors:

[code]

[2017-06-14 17:46] michael-ciniawsky commented on #173
[code]

[code]

[2017-06-16 10:04] shaodahong commented on #92
@alihammad-gist I have such a problem, you solve it?

[2017-06-16 16:37] alihammad-gist commented on #92
@shaodahong I remember removing `useRelativePath: true` or setting `useRelativePath: false` in the file-loader configuration to fix the issue.

[2017-06-16 17:19] Coriou commented on #160
I also experience the same issue

[2017-06-18 21:40] BennieCopeland commented on #160
Same issue, but this worked:
`'file-loader?name=[name].[hash].[ext]&outputPath=fonts/&publicPath=../'`

Directory structure is:
[code]

In my css, the path gets set to `../fonts/font-awesome.woff` and the files are output to the `fonts` directory under `dist`.

[2017-06-18 22:37] michaelmano commented on #160
so my issue was more that the url is different from the directory structure. Im lucky that the only difference was the 2 underscores.. If someone has a site where the url is completely different from the directory structure this would be a big issue as here is my fix
`loader: 'file-loader?name=[name].[ext]&outputPath=lib/web/fonts/&publicPath=/__'`
so that the public path is now site.com/__lib/web

[2017-06-25 07:42] ikethepike opened #174 "r"

[2017-06-25 17:50] #174 closed

[2017-06-30 10:04] evilebottnawi commented on #110
Closing due to inactivity. Please test with latest version and feel free to reopen if your have problems. Thanks!

[2017-06-30 10:04] #110 closed

[2017-06-30 10:07] evilebottnawi commented on #84
Closing due to inactivity. Please test with latest version and feel free to reopen if your have problems. Thanks!

[2017-06-30 10:07] #84 closed

[2017-06-30 10:11] evilebottnawi commented on #63
Close. Duplicate https://github.com/webpack-contrib/file-loader/issues/63.

[2017-06-30 10:11] #63 closed

[2017-06-30 10:17] evilebottnawi commented on #52
@natew we use https://github.com/webpack/loader-utils#interpolatename for interpolate filename. What mead `parent*`? How we can determinate `parent`?

[2017-06-30 10:21] evilebottnawi commented on #65
@impguard Is the problem still there? can your create minimum reproducible test repo?

[2017-06-30 10:23] evilebottnawi commented on #70
@Jmeyering @iamsisar Can your explain what your need more detail? Provide example where file-loader doesn't work as expected?

[2017-06-30 10:25] evilebottnawi commented on #71
Use https://github.com/webpack-contrib/file-loader/issues/71#issuecomment-252472820 solution.

Closing due to inactivity. If solution above don't solve your problems feel free to reopen. Thanks!

[2017-06-30 10:25] #71 closed

[2017-06-30 10:27] evilebottnawi commented on #77
@kairxa Is the problem still there? If yes , can your provide minimum reproducible test repo?

[2017-06-30 10:35] evilebottnawi commented on #85
@mdotasia please use solution https://github.com/webpack-contrib/file-loader/issues/85#issuecomment-261513248 to solve this problem, example your can use any `copy` library or use `CopyWebpackPlugin` for copying files.

Closing due to inactivity. Feel free to reopen if solution above not suitable as a solution (provide more information or create minimum reproducible test repo). Thanks!

[2017-06-30 10:35] #85 closed

[2017-06-30 10:39] evilebottnawi commented on #89
@Delagen can your explain use case?

[2017-06-30 10:43] evilebottnawi commented on #90
@monochrome-yeh Is the problem still there? Did `customInterpolateName` option solved your problem? Can your create minimum reproducible test repo?

[2017-06-30 10:48] evilebottnawi commented on #91
@serkolch Is the problem still there? Did comment https://github.com/webpack-contrib/file-loader/issues/91#issuecomment-255459977 solved your problem? If not please create minimum reproducible test repo, thanks!

[2017-06-30 11:01] evilebottnawi commented on #96
@alexgorbatchev Is the problem still there? New version use `export default` https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L78

[2017-06-30 11:04] evilebottnawi commented on #105
@donaldpipowitch Is the problem still there? If yes please create minimum reproducible test repo, thanks!

[2017-06-30 11:07] evilebottnawi commented on #117
@evsasse Can your update to 2 or 3 webpack and confirm what bug still exists?

[2017-06-30 11:12] evilebottnawi commented on #164
@zouhir Can use provide use case and which `string manipulation` your did? Maybe we can found other solution to this, thanks!

[2017-06-30 11:14] evilebottnawi commented on #154
Let's move this issue to https://github.com/webpack-contrib/file-loader/issues/152

[2017-06-30 11:14] #154 closed

[2017-06-30 11:15] evilebottnawi commented on #152
Doing this issue we don't forget about examples, based on https://github.com/webpack-contrib/file-loader/issues/154#issue-223781505

[2017-06-30 11:20] evilebottnawi commented on #136
@MatteoGabriele we use https://github.com/webpack/loader-utils#interpolatename for `placeholders`. Can your provide example what your expected using `[hash:8]/asset/[name].[ext]` and what your actually get.

[2017-06-30 11:37] evilebottnawi commented on #112
@bernex Is the problem still there? Why use use `APP.url`? Your can use `file-loader?name=[name].[ext]&publicPath=assets/foo/&outputPath=app/images/` to configure output directory instead using `APP.url`.

[2017-06-30 11:39] evilebottnawi commented on #140
@wujekbogdan Is the problem still there? Did comment https://github.com/webpack-contrib/file-loader/issues/140#issuecomment-294399352 help your to solve problem?

[2017-06-30 11:42] fmakdemir commented on #136
@evilebottnawi We were expecting getting build hash webpack instead of file hash.
So with `[hash:8]/asset/[name].[ext]` and if build hash was starting with `ea382a24` then all files entrypoint files should be generated under `ea382a24/asset` folder with name resolved by `[name].[ext]`
So for this we need another placeholder holding build hash/id of current build.

[2017-06-30 12:39] Delagen commented on #89
@evilebottnawi for example to tune paths, that not child of context folder, or resolved somewhere else. I fork local copy of this module to strip node_modules from generated urls

[2017-06-30 12:51] evilebottnawi commented on #89
@Delagen why your strip `node_modules` from generated urls? In production or dev?

[2017-06-30 13:08] Delagen commented on #89
@evilebottnawi I want to strip module path from production bundles, but save original filenames

[2017-06-30 13:25] evilebottnawi commented on #89
@Delagen can your provide minimum reproducible test repo? Without configuration it's hard to say how you can solve this problem and how it will be solved correctly

[2017-06-30 13:25] MatteoGabriele commented on #136
I've added a repo that explains the issue:
https://github.com/MatteoGabriele/file-loader-hash-issue

Every webpack plugin uses the same hash, besides file-loader.
In the example the folder in the /dist is generated with an hash, and both app.js and /assets folder should be in the same folder but they end in 2 separate folders.

from my prospective they both should use the same hash

hope it's clea

[2017-06-30 15:22] evilebottnawi commented on #136
@MatteoGabriele @fmakdemir Why do your not use https://github.com/webpack/docs/wiki/configuration#outputpath with `hash`?

[2017-06-30 16:30] evilebottnawi commented on #55
@keyserfaty why your need this feature? Webpack v2 and above using cache for loaders by default and don't emit files if they not changed.

[2017-06-30 17:25] sirlancelot commented on #63
@evilebottnawi do you mean Duplicate of #55? ;)

[2017-06-30 19:10] buzinas commented on #55
@evilebottnawi I use webpack 3 already, and what you're saying doesn't happen at all.

Every time I touch a css file which has a reference to a `.png` file (for background, for example), the file-loader emits the png file again and again.

Most of the files in my project takes 200~500ms to rebuild when watching, but some of them which have many PNG files referenced on it, sometimes it takes > 5s,

[2017-06-30 20:44] #52 closed

[2017-07-01 11:52] MatteoGabriele commented on #136
@evilebottnawi well it could solves quite the issue, but not really. Like this is true that you only need to hash in one single place, which is nicer, but then the entire build is a hashed folder.

For example I need a build that has a `static` folder, an `index.html` file and the hashed build with all the assets, js and css.

I could achieve that moving files after the compilation but I don't kno

[2017-07-01 13:12] evilebottnawi commented on #63
@sirlancelot oh, sorry, yes

[2017-07-01 13:13] evilebottnawi commented on #55
@buzinas hm, yes, I'll try to find a solution, but I think it's related more to `css-loader`, than `file-loader`

[2017-07-01 17:10] fmakdemir commented on #136
@evilebottnawi because I can't put build hash in filename with it.
The solution you proposed can only change output folder name not filename

[2017-07-01 23:44] zouhir commented on #164
@evilebottnawi thanks for getting back!

When I pipe my loader after `file-loader` I don't get a file path, instead I get something like:

[code]

and to use it inside my loader I have to do something like:

- string trim white spaces
- string replace `module.exports` with ``
- string replace `"` with ``
- string replace `=` with ``

and then I'll end up with

[code]

which I wanted.

is there a w

[2017-07-02 03:14] devrafalko opened #176 "Add [id] placeholder support for name property"
Lets assume that I use `file-loader` this way:

[code]
When I have got 2 entry points of the same name, but in different directories, eg.
* `src/componentA/template.html`
* `src/componentB/template.html`

and want to emit them as separate chunks to my `dist` folder, the one file **overwrites** another file and it is not desirable behaviour.

I can of course change name property for `name:[name][ha

[2017-07-02 03:19] devrafalko commented on #173
I use this regex for the fonts with `?v=` suffix: `test: /\.(woff(2)?|ttf|eot)(\?v=[0-9]\.[0-9]\.[0-9])?$/i`

[2017-07-02 05:15] michael-ciniawsky commented on #176
`[path]` ?

[2017-07-02 05:49] michael-ciniawsky commented on #173
See @devrafalko comment , feel free to reopen if still regressions :). @devrafalko thx

[2017-07-02 05:49] #173 closed

[2017-07-03 07:22] Delagen commented on #89
For example:
tree
[code]
webpack context is `src`

when file required from common-lib

it placed as _/node_modules/common-lib/..../file.html for example
and as more as `../../../` in relative path from webpack context, the more _/_/_ in urls

[2017-07-03 13:24] evilebottnawi commented on #164
@zouhir why don't use only `lqip` `"loaders": ["lqip-loader"]`?

[2017-07-03 13:30] evilebottnawi commented on #89
@Delagen it is expected behavior, just use `name` options for production env (for avoid this situation), for dev env it is normal.

[2017-07-03 14:34] Delagen commented on #89
@evilebottnawi I want to preserve some path info in production environment.
Filename can be the same, but I don't want to include hash in filename

[2017-07-03 14:39] evilebottnawi commented on #89
@Delagen also your can use `outputPath` as function (https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L58) and do what your want with paths

[2017-07-03 15:27] Delagen commented on #89
@evilebottnawi ok, but it's be tricky to detect needed files and what to do with urls in generated code?

[2017-07-04 02:16] lukeed commented on #164
I imagine that something like this is what @zouhir wants:

[code]

This way, `file-loader` should return its file paths (or files) so that other chained loaders may work with the same files. _FWIW, I don't know if this is what currently happens, but I would expect this to be the behavior._

I may be wrong/misunderstanding. Just trying to rephrase the question since there seems to be a disconnect h

[2017-07-04 03:28] michael-ciniawsky commented on #164
**file-loader**
[code]

**lqip-loader**
[code]

@zouhir `lqip-loader` seems to be a pitching loader, could you elaborate on the dataflow a bit please and why `file-loader!lqip-loader` isn't sufficient :) ?

[2017-07-05 09:44] zouhir commented on #164
@michael-ciniawsky you response seem to cover my issue 100%.

Returning the callback you just added in the snippet above rather than a string will solve the issue.

I prefer to have a proper flow and not a pitching loader, and be able to link with other loaders, especially `file-loader`. but I decided to hold on a bit to learn how can I pipe my loader after `file-loader` in a proper way, no other

[2017-07-05 10:07] evilebottnawi commented on #164
@michael-ciniawsky can we add option `export` (maybe best name) for this purpose?

[2017-07-06 01:48] michael-ciniawsky commented on #164
@zouhir Yep, PR welcome of course 😛

@evilebottnawi Why better as an extra option ? 🙃

[2017-07-06 04:35] icefox0801 commented on #162
+1

[2017-07-06 11:36] evilebottnawi commented on #164
@michael-ciniawsky hm, we will don't breaking something?

[2017-07-07 11:26] michael-ciniawsky commented on #164
We need to check if `loader-runner` only returns the src param of the last loader or the whole callback in case the loader is the last in the chain yep. Otherwise an option is required, but this is nearly a deal breaker imho, since it adds 'unnecessary' complexity and isn't a generic enough usecase

[2017-07-09 02:30] v99895 commented on #160
Same error here, impossible to understand why too

[2017-07-09 21:42] subramGrg commented on #160
i was having this same issue. however while scouring the internet came across this:

[Git commit](https://github.com/webpack-contrib/file-loader/pull/146/files?diff=unified)

that entails:

`outputPath: defines sub-dir relative to "dist" folder, in which all the image files whould be placed (if not specified all the image files will be placed directly in the "dist" folder)`

`publicPath: defines p

[2017-07-11 12:54] gurianov-p commented on #160
I have same error in 0.11.2, but version 0.10.0 works fine

[2017-07-11 13:02] evilebottnawi commented on #136
@MatteoGabriele @fmakdemir

https://github.com/webpack/loader-utils#interpolatename according to the documentation `hash` is `the hash of options.content`, can your provide example where it is working other?

[2017-07-12 04:16] bebraw opened #177 "Rename [hash] to [contenthash] to be consistent?"
To be consistent with extract-text-plugin, it might make sense to rename `hash` placeholder to `contenthash`. Globally `hash` means build hash (this would better as `buildhash` but that's a separate issue).

[2017-07-12 17:23] MatteoGabriele commented on #136
@evilebottnawi
I have updated the same [example](https://github.com/MatteoGabriele/file-loader-hash-issue)
It now also handles also CSS and via `extract-text-webpack-plugin` I'm able to just pass an hash to the file name, and will go in the same folder of the javascript file. The svg instead will still land on another folder because of the hash issue

thanks for your time

[2017-07-12 17:25] evilebottnawi commented on #136
@MatteoGabriele related issue https://github.com/webpack-contrib/file-loader/issues/177 (just information)

[2017-07-17 15:56] john-raymon opened #179 "Loading images and videos but not audio files ?"
When I require images and videos in my react app it picks it up and references it, but it doesn't do the same with my audio files. the audio html 5 doesn't play at all.

my component folder which has a entry point component called app.js resides in the same directory where an mp3 file called 'thisisnikes.mp3' resides....
my app.js looks like this

[code]
I tried this with a images and also a mp4 f

[2017-07-18 04:39] bjunc commented on #136
Might not be exactly the same setup, but I was able to accomplish a workaround by using the `publicPath` file-loader param (eg: `loader: 'file-loader?publicPath=../&name=/asset/[name].[ext]'`) and assigning the `[hash:8]` to the `output.publicPath`.

This basically circumvents file-loader's version of `[hash:8]` by making the reference a relative path, whereby the CSS uses the _intended_ `[hash:8]

[2017-07-19 22:56] pbrain19 commented on #69
this needs to be documented asap!

[2017-07-20 12:46] evilebottnawi commented on #69
@pbrain19 PR welcome, we supporting large ecosystem for `webpack` and it is difficult found time on all

[2017-07-22 17:03] jimblue commented on #160
thanks @dirago your temporary solution works great. waiting for the fix too!

[2017-07-24 04:43] icefox0801 commented on #162
This is not a bug. If you want to use function `publicPath` query. You should define it in webpack config object root, not in loader query object.
[code]

[2017-07-24 15:58] jewbetcha opened #180 "Set specific path for file-loader to look for assets"
I'm using `file-loader` along with `extract-loader` and `html-loader` to process images within some generated static HTML (Hugo is the generator).

The generated HTML and assets are all under a `public/` folder, the structure is:
[code]
etc.

All images are referenced absolutely as `/images/image.png` from all HTML files. Some are at a path like `/images/foo/bar/image.png`.

I have successfully go

[2017-07-25 00:18] pixeldrew commented on #31
After just stumbling with this myself.

You want to use the regExp option, it doesn't use the regExp from the test. [0] in regex is the whole capture, you want the second capture [2].

The regex your using is a little greedy, imagine the name of your import is 'img/animage.jpg'.  The regex will get 'img/animage'

The name templage [2]/img/[name].[ext] would then output the file as img/animage/img/

[2017-07-25 03:04] nickhstr commented on #160
Same issue here. Downgraded to 0.10.1 and the issue is gone.

[2017-07-26 23:18] pastelsky opened #181 "[v1.0.0] File paths in `url()` broken (`css-loader`)"
I upgraded to `file-loader@1` and this is how `@font-face` definitions are being rendered -
[code]
The font paths are rendered just fine if I downgrade to `v0.11.2`

My loader config looks like -
[code]
This might be happening for outside `url()` too, but don't have any use cases to test in my current project.

### Versions
webpack v3.4.1
node v8.1.2
file-loader v1.0.0

[2017-07-26 23:29] jasonfah commented on #181
Also having this issue after upgrading while using url-loader (which I believe uses file-loader).

node v6.11.0
webpack 3.4.1
file-loader v1.0.0
url-loader v0.5.9

Windows 10 x64

[code]

[2017-07-26 23:33] delch commented on #181
Have a same problem.

node v8.1.4
webpack 3.4.1
file-loader 1.0.0
url-loader 0.5.9

os x Sierra

[code]

[2017-07-27 00:24] roblg opened #182 "`SyntaxError: Unexpected token export` after upgrading to 1.0.0"
We started seeing an issue this afternoon that corresponds with upgrading from 0.11.2 to 1.0.0:

[code]

Downgrading to 0.11.2 resolves the issue. It's plausible that this is related to the ancient versions of webpack (1.x), extract-text-webpack-plugin (0.8.x), or less-loader or css-loader that we're using, but the file-loader is the thing that triggered the error, so I figured I'd start here. :)

[2017-07-27 01:27] Kovensky commented on #182
The new file-loader will only work with webpack >= 2.0.

[2017-07-27 01:30] Kovensky commented on #181
I think this will require an update to `css-loader`...

`css-loader` is rewriting `url('./file')` to use `require('file')`, but `file-loader@1`'s output is not compatible with `require`.

[2017-07-27 01:34] Kovensky commented on #181
Yep, this is incompatible with the current `css-loader`.

https://github.com/webpack-contrib/css-loader/blob/v0.28.4/lib/loader.js#L94-L102

It needs to be converted to write hoisted `import`s.

[2017-07-27 02:33] d3viant0ne commented on #182
@roblg - imo it's going to be far easier to upgrade Webpack than try to get any Major version release coming out of `webpack-contrib` working with 1.x as nothing in contrib supports 1.x anymore.

Given we are on three & well on the way to 4.x, I'd personally skip 2.x but to your original post there isn't much that can be done outside of pin to `0.11.2`

[2017-07-27 02:33] #182 closed

[2017-07-27 02:46] stomvi commented on #181
Same here. file-loader v1.0.0 also breaks the png files loaded when trying to get through the tutorial of the Webpack new guides on page:
https://webpack.js.org/guides/asset-management/

node 8.2.1
webpack 3.4.1
file-loader 1.0.0

OSX Sierra

[2017-07-27 03:06] d3viant0ne commented on #181
As @Kovensky said, we will have to fix this in `css-loader` which hasn't been upgraded given it's been rewritten, hence the disconnect.

In the mean time & in the spirit of not making everyone's lives more difficult, i have updated the tags in npm while we sort this out.

`'dist-tags': { latest: '0.11.2', beta: '1.0.0-rc.0' }`

[2017-07-27 10:15] Jetsly commented on #181
when i change index.js,it ok
[code]

[2017-07-27 17:38] evilebottnawi commented on #179
@john-raymon can your create minimum reproducible test repo?

[2017-07-27 17:46] evilebottnawi commented on #77
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-07-27 17:46] #77 closed

[2017-07-27 17:48] evilebottnawi commented on #93
@jadekler problem still exists?

[2017-07-28 12:38] #131 closed

[2017-07-28 12:39] michael-ciniawsky commented on #96
Fixed in ` >= v1.0.0` (`@beta`)

[2017-07-28 12:39] #96 closed

[2017-07-28 12:40] #98 closed

[2017-07-28 12:41] #92 closed

[2017-07-28 12:45] #105 closed

[2017-07-28 12:53] #162 closed

[2017-07-28 12:55] #34 closed

[2017-07-28 12:56] #70 closed

[2017-07-28 12:57] #65 closed

[2017-07-28 12:57] #133 closed

[2017-07-28 13:18] shaodahong commented on #92
@alihammad-gist yes, I fixed, thank you

[2017-07-28 13:27] #132 closed

[2017-07-28 13:29] #93 closed

[2017-07-28 13:37] michael-ciniawsky commented on #91
Fixed by #81

[2017-07-28 13:37] #91 closed

[2017-07-28 13:43] michael-ciniawsky commented on #53
Please test with the latest (`npm i -D file-loader`) or the current beta (` npm i -D file-loader@beta`) again and reopen if still regressions (+ include your `webpack.config.js`then please :))

[2017-07-28 13:43] #53 closed

[2017-07-28 13:49] michael-ciniawsky commented on #112
Fixed by #81

[2017-07-28 13:49] #112 closed

[2017-07-28 13:56] michael-ciniawsky commented on #181
We could either

1. add  a `'harmony'` mode to `css-loader` `options.url` to replace
 `url('./file.png')` =>`url('require(./21543.png).default')` when set
2. or inspect `package.json` in `css-loader` for `file-loader >= v1.0.0` and do the same then :)

[2017-07-28 14:01] evilebottnawi commented on #181
@michael-ciniawsky
1. We will have many problems when people just forget to add this option.
2. Sound good.
3. :-1:

[2017-07-28 14:03] michael-ciniawsky commented on #109
### `webpack =< v1.0.0` && `file-loader =< v1.0.0`

**webpack.config.js**
[code]

### `webpack >= v2.0.0`

**webpack.config.js**
[code]

[2017-07-28 14:03] #109 closed

[2017-07-28 14:12] #125 closed

[2017-07-28 19:45] d3viant0ne commented on #181
We could also simply wait to hear back from Tobias on the state of the style loaders chain / changes & either add defaults to css-loader or wait for css-loader/new-loader.

There is really nothing in file-loader 1.0.0 that's earth shattering feature or fix wide. It's just defaults & style updates.

[2017-07-29 21:35] oliviertassinari opened #185 "broken jpg"
I have noticed the following **regression** upgrading from `0.11.2` to `1.0.0`:
The **jpg output is no longer valid** when the plugin is handling an image.
I have noticed that behavior on Material-UI, [this can be used to **reproduce the issue**](https://github.com/callemall/material-ui/tree/v1-beta/docs).

[2017-07-31 04:19] whitetrefoil commented on #185
Facing similar problem with PNG.

Original:
`89 50 4E 47 0D 0A 1A 0A ...`
Copied:
`EF BF BD 50 4E 47 0D 0A 1A 0A ...`

[2017-07-31 09:09] evilebottnawi commented on #185
@oliviertassinari @whitetrefoil whown issue, PR https://github.com/webpack-contrib/file-loader/pull/183

[2017-07-31 17:45] roblg commented on #182
That makes sense. In our case, we were doing something silly (`*`) anyway, so a breakage was inevitable. We'll be upgrading to 3.x shortly. Hopefully the record of this issue helps someone else.

Thanks!

[2017-08-02 00:07] allanesquina commented on #93
Hey guys, I'm running into this issue after updating to version `1.0.0`. I was using the version `^0.9.0`.
The output files are much bigger than the originals.
Here's my config:

[code]

[2017-08-02 16:30] dland512 opened #186 "Working with app config files"
I [asked this question on stack overflow](https://stackoverflow.com/questions/45259464/handling-config-files-with-webpack) about a week ago and got no responses. I even put a bounty on it and still nothing (FYI the bounty expires soon but is still available if anyone wants to answer!).

Basically I have an electron app that I'm building with webpack 2. I have a config file that I'm including like

[2017-08-06 13:58] albertpeiro opened #187 "Why can't [name] be used to create a path in parameter 'name'"
file-loader 0.11.2
Why does this:

[code]
Gives this output?
[code]

I expect - just like in my css and the rest of the compile
[code]
Is this a bug? how can I fix it. I need to subfolder the images into the right [name] folder dynamically

[2017-08-06 15:47] michael-ciniawsky commented on #187
`[name]` is the placeholder for `path.basename(file)` (`filename`). Try with `options.context`and `[path]`, which is the file path placeholder relative to the context or simply `name=admin/[name].[ext]` if all images go into `admin/`

[2017-08-06 15:47] #187 closed

[2017-08-06 19:08] albertpeiro commented on #187
Hi @michael-ciniawsky thanks very much for your help. My mistake was pretty obvious now I realise.

Still my doubt is:
Can I use at all the name of the chunk (entry point name)? I'm trying to build two apps into separate folders but they share code and I want them to share the loaders.

- `options.context` can't be used because since I have two entry points, it's the root of both.
- `[path]` it's

[2017-08-07 20:01] GMounir opened #188 "Some images not display"
Please some help...
I'm using file-loader => 0.11.2
for example when i require image like this it is working e.g **img(src="./assets/images/one.jpg")**
when i take the image that is not display i include it inside the css it is working.

webpack.config.js:
{
 test: /\.(jpe?g|png|gif|svg)$/i,
  use: [
   'file-loader?name=[name].[ext]&outputPath=assets/images/&publicPath=../../',
   'image-webpack-

[2017-08-08 07:10] #134 closed

[2017-08-08 07:10] #152 closed

[2017-08-09 05:22] luchunhui commented on #114
@eromano  I think that this issue is very useful in project，because not of all project are used spa，some of project is some of entries and some of output.Like this project directory：
[code]
Or how can I get the name of each folder, and I tried the regular filtration path, but without success, I don't understand 'file - loader' in '[n]' regular verification method, don't know how to use this method

[2017-08-11 15:51] MatteoGabriele commented on #136
@evilebottnawi Does this issue still needs more info?

thanks for the support :)

[2017-08-11 16:15] evilebottnawi commented on #136
@MatteoGabriele no thanks :+1:

[2017-08-12 17:12] fernandops26 opened #190 "Extract data-uri to file"
Can I extract or transform some `url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIA` to file and replace the url for `url('url-to-image-or-font.ext')`

[2017-08-13 11:34] evilebottnawi commented on #190
@fernandops26 it is out of scope `file-loader`, your can do this using `postcss-plugin` together with `postcss-loader` or write own loader, thanks!

[2017-08-14 15:59] Bob-Thomas commented on #114
Not sure if you're still looking for an answer but I also stumbled upon this problem.
I ended up using the customInterpolateName property.
My path looked like `/var/www/project/moduleA/assets/`
To extract the module name from my path so I placed my [path] between some symbols like ;;
`;[path]/;assets` the url becomes `;/var/www/project/moduleA/;assets/`
and just replaced everything between ;; to m

[2017-08-14 17:00] rderandom opened #192 "Typo"
Hi there. Could you please add the missing comma to:
[code]
at https://github.com/webpack-contrib/file-loader#name

Thank you very much and regards,
R.

[2017-08-14 17:05] evilebottnawi commented on #192
@rderandom PR welcome, thanks :+1:

[2017-08-16 07:50] rderandom commented on #192
Thank you for your awesome work and support. Kind regards,
R.

[2017-08-16 07:50] #192 closed

[2017-08-23 06:09] AndreKR commented on #180
You can set `publicPath: ''` and at runtime set `__webpack_public_path__ = 'path/to/your/assets'`.

Note that currently you have to downgrade to file-loader 0.10.1 to make this work.

[2017-08-23 06:42] AndreKR opened #194 "__webpack_public_path__ is ignored in file-loader 0.11.2"
I'm loading an `<img src="...">` from a .vue component with vue-loader, but I think it doesn't matter where the asset is coming from.

In file-loader 0.10.1 `__webpack_public_path__` works, output of the module:

[code]

In file-loader 0.11.1, `__webpack_public_path__` is honored, but `publicPath` is prepended. I think that is covered by #160 and is not what this issue is about. Module output:

[c

[2017-08-23 06:48] AndreKR commented on #194
I just found out that `publicPath` can take a function, which seems like a much nicer solution anyway, so maybe this is on purpose and `__webpack_public_path__` is kind of deprecated?

[2017-08-23 09:26] evilebottnawi commented on #194
@AndreKR can your create minimum reproducible test repo, thanks!

[2017-08-28 19:11] jquense commented on #181
can we please revert this change? There doesn't seem to be an value to use es6 imports here, the file on the other end isn't JS its never gonna benefit from treeshaking or any other thing you mighty use the esm syntax for. On the other hand its subtly breaking for everyone using file-loader in the most popular way (e.g. to chain against css-loader for loading css assets)

I'm sorry if I sound a bi

[2017-09-01 14:15] sebalaini opened #197 "doesn't emit public folder"
I've installed file-loader and I configure it but it doesn't work, it doesn't emit a folder.

      {
        // IMAGE LOADER - FILE LOADER
        test: /\.(jpe?g|png|gif|svg)$/,
        include: [
          // take the images from img in src
          path.resolve(__dirname, "src/img/")
        ],
        use: [{
            loader: 'file-loader',
            options: {
              name: '[nam

[2017-09-04 07:06] charleylla opened #198 "can't import some images"
when I tried to import images in project,some images can be imported in while some cannot be.
for example:
[code]
the image path ```../img/back.png``` can be resolved,but if I change the image path into:
[code]
the image ```company.jpg``` can't be imported in,here is the browser error report:
[code]
the question is I have the ```company.jpg``` in ```img``` folder as well as ```back.png```,the ```b

[2017-09-04 07:24] charleylla commented on #198
I tried angin and changed ```back.png``` to ```back2.png```,and ```back2.png``` cannot be imported in,so it's maybe not the problem of size,```back.png``` can be imported is because of the browser cache,so I'm using the wrong to import images.

[2017-09-04 07:24] #198 closed

[2017-09-07 12:54] TimVervers commented on #180
Hi @AndreKR, I'm having the same issue as @jewbetcha. I followed your advice and added publicpath to my webpack.config and set the public path inside my entry point file. Sadly, this wont work cause the CSS imports with the URL link inside them will load earlier then setting the __webpack_public_path__.

My stackoverflow post (initially for url-loader) https://stackoverflow.com/questions/46001976/

[2017-09-07 13:46] AndreKR commented on #180
First double-check please that you are really using file-loader 0.10.1 and not something newer.

Then, what's in your `./src/admin.planningview.js`? If is contains something like
[code]
then it should work.

[2017-09-09 15:16] evilebottnawi commented on #190
Closing due to inactivity.
Two solution:
1. Use `postcss-loader` with `postcss` plugin to extract `base64` data to file.
2. Write own loader `base64-css-extract-loader` (or maybe best name).

Also you can have `url-loader` which transform `file` to `base64`. You can disable his or change `limit` option.

Thanks!

[2017-09-09 15:16] #190 closed

[2017-09-09 15:18] evilebottnawi commented on #188
@GMounir please provide minimum reproducible test repo, thanks!

[2017-09-09 15:37] evilebottnawi commented on #89
@Delagen sorry for delay on answer, problem still exists? `outputPath` and `publicPath` can be `function` and you can control and `url` and `place` where emit file(s). But i recommend don't do it in dev env (development experience) and use `[name]`, `[path]` and etc in prod env.

[2017-09-09 15:53] evilebottnawi commented on #153
@dnutels Seems it is out of scope of `file-loader`. Why don't use just `CopyWebpackPlugin`? If you want to handle `js` files using `babel` and other stuff, you can use `multi-compiler`. First compile `dist/comp-a-0.0.1/index.js` and copy from `src/components/comp-a/assets/js/index.js` to `dist/components/comp-a/assets/js/index.js`, second run `babel-loader` and other stuff. Thanks!

[2017-09-09 15:55] evilebottnawi commented on #28
@TrustNik @bcharp can you describe use case?

[2017-09-09 16:18] evilebottnawi commented on #31
@pixeldrew @leonardoanalista @danahartweg we can implement `customInterpolateName` from https://github.com/webpack/loader-utils/blob/ddf64e49c5871c7229a5a536656a711479c08516/lib/interpolateName.js#L89 and it is allow to using custom function to set name. Will it help to solve your problem?

[2017-09-09 19:45] pixeldrew commented on #31
I can't see how having that option would hurt. I was able to fix my issue, perhaps some clearer documentation would also help.

[2017-09-11 04:14] oieduardorabelo commented on #35
I was having this problem today and, downgrading to `file-loader": "0.11.2"`, worked as expected for me.

[code]

[2017-09-11 05:57] cxyxc commented on #28
When my html files in different levels, I wish [chunkname] to differentiate different chunks to add different publicPath .

[2017-09-11 09:56] Delagen commented on #89
@evilebottnawi Works now

[2017-09-11 09:56] #89 closed

[2017-09-12 12:51] evilebottnawi commented on #35
@oieduardorabelo known issue, should be fixed after https://github.com/webpack-contrib/file-loader/pull/183

[2017-09-12 23:30] skylize opened #199 "Emits JSON as module instead of JSON"
As demonstrated by the minimal case below, `file-loader` re-interprets json as javascript and emits it as a module, when it should be interpreting it as json and emitting it as json.

---
Project setup
[code]
_webpack.config.js_
[code]
build
[code]
resulting files
[code]
**Expected** _some.json_
[code]
**Actual** _some.json_
[code]

[2017-09-12 23:32] skylize commented on #199
note: These are the versions that installed when building this test.
[code]

[2017-09-13 01:59] michael-ciniawsky commented on #199
If you are on `webpack >= v2.0.0` JSON works out-of-the-box, for `webpack =< v1.0.0` use the `json-loader` instead please

[2017-09-13 01:59] #199 closed

[2017-09-13 22:49] skylize commented on #199
Okay thx, I tried skipping `json-loader` in my real project and experienced different errors. I forgot to double check if it was needed when creating this case.

After verifying `json-loader` wasn't needed, I removed it from real the project and magically the bugs I experienced previously were gone. Hahaha.

---
To clarify for anyone reading this in the future, the lesson is:

[2017-09-18 06:36] sagargajera opened #200 "Public path not returned for Images with absolute path"
I am using absolute path name for image icons like this : $icon-path:"/asset/image/icon/"; in scss file .
After compiling I am not getting the public url for the images, it will take same path as it is and not copied to dist folder as well. Please help me to get the public Url for the images used in application.
![imagepath](https://user-images.githubusercontent.com/15262633/30531079-7f0e1078-9c69

[2017-09-18 09:26] evilebottnawi commented on #200
@sagargajera `useRelativePath`: false`?

[2017-09-18 09:59] sagargajera commented on #200
@evilebottnawi I have tried with useRelativePath: 'true' also. It didn't work.

[2017-09-18 10:40] evilebottnawi commented on #200
@sagargajera can you provice minimum reducible test repo?

[2017-09-19 17:42] emiglobetrotting opened #201 "npm could not install from node_modules/file-loader as it does not contain package.json"
I'm new to webpack trying out the getting started guide, now at Asset management where I want to bundle image and this required me to install file-loader into node_modules as i have done to other modules like lodash, style-loader, and css-loader. But in attempt to install file-loader i am having the following error message

     could not install from node_modules/file-loader as it does not contai

[2017-09-19 18:23] evilebottnawi commented on #201
@emiglobetrotting please provide full steps installation, thank you!

[2017-09-19 20:46] emiglobetrotting commented on #201
This is my full installation of webpack on C: directory after I have installed nodejs into C:\Programe Files

    mkdir webpack-demo && cd webpack-demo
    npm init -y
    npm install --save-dev webpack

Then I tried loading CSS and installed the following loaders

    npm install --save-dev style-loader css-loader

Which helps to load CSS for the Project below

    project

      webpack-demo

[2017-09-20 10:48] evilebottnawi commented on #201
@emiglobetrotting do you have `file-loader` in your `module.rules`? Please provide full configuration webpack. Also do you have `file-loader` in `package.json`?

[2017-09-23 11:49] emiglobetrotting commented on #201
yes i have file-loader in the package.json, but i haven't added it yet in the module.rules. the installation with npm is giving me the above mentioned error.

Had it been file-loader is successfully installed into node_modules i will have this

webpack.config.js

      const path = require('path');

      module.exports = {
        entry: './src/index.js',
        output: {
           filename: 'b

[2017-09-23 15:45] michael-ciniawsky commented on #201
[code]

[2017-09-23 15:45] #201 closed

[2017-09-24 20:20] emiglobetrotting commented on #201
thanks, it works

[2017-09-26 10:08] evilebottnawi commented on #197
@sebalaini please downgrade `file-loader` to `0.11.2`, `1.0.0` still beta, fell free to reopen if you have problem(s), thank you!

[2017-09-26 10:08] #197 closed

[2017-09-26 14:33] jezeniel commented on #28
@evilebottnawi This would also be useful when you use webpack with django you need predictable filenames to load static files. On large projects there are instances that assets will have similar filenames.
This would serve as a namespace to prevent filename conflict.

[2017-09-26 15:01] evilebottnawi commented on #28
@sokra Is it possible to implement this in `loader` or have workaround?

[2017-09-29 22:23] brianhelba commented on #188
@GMounir @evilebottnawi I suspect this is the issue fixed by https://github.com/webpack-contrib/file-loader/pull/183

[2017-09-29 23:01] slavafomin opened #205 "Corrupted images emitted"
Hello!

Thank you for your hard work!

However, when I'm trying to use the `file-loader` to import JPG image, the corrupted file is emitted instead. I've set up a minimal repository here: https://github.com/slavafomin/webpack-file-loader-corrupts-images.

I'm not sure if I'm doing something wrong or if something is actually broken. I was just following the webpack getting started guide.

When comp

[2017-09-29 23:10] michael-ciniawsky commented on #205
Which version of `file-loader` are you using ? `>= v1.x.x` ? if that's the case revert to `=< 0.11.2` for now. There's a know bug in `v1.x.x` atm (#183)

[2017-09-30 01:34] Yusoo opened #206 "1.1.0 invalid options"
`      {
        test: /\.(png|jpg|gif)$/,
        use: [
          {
            loader: 'url-loader',
            options: {
              limit: 10240,
            },
          },
        ],
      }
`
An error occurred:
    File Loader Invalid Options
    options['limit'] should NOT have additional properties

[2017-09-30 01:45] michael-ciniawsky commented on #206
Yep good catch, fix is here (#207)

[2017-09-30 02:24] #206 closed

[2017-09-30 03:04] gwuhaolin opened #208 "Module build failed: Error: Cannot find module './options.json'"
version:file-loader@1.1.2

error stack:
[code]

in file `node_modules/file-loader/dist/index.js:21:16` is:
[code]

`file-loader/dist/` dir struct:
[code]

Is clearly that `node_modules/file-loader/dist/index.js` require no exit file `./options.json` lead to this error.

[2017-09-30 03:05] gwuhaolin commented on #208
@d3viant0ne you do  action **chore(release): 1.1.2**, please check it

[2017-09-30 03:10] nashaofu commented on #208
not find ``./options.json``, Please fix it as soon as possible，thanks

[2017-09-30 03:22] gwuhaolin commented on #208
anyone jump into this error can use `"file-loader": "1.1.0"` to avoid temporary.

[2017-09-30 04:51] #208 closed

[2017-09-30 05:44] slavafomin commented on #205
All actual dependencies used are in the `yarn.lock` of the attached repository:
https://github.com/slavafomin/webpack-file-loader-corrupts-images/blob/master/yarn.lock

I'm using latest stable version of the `file-loader`, which is `1.1.0` as suggested in the getting started guide. I will try to install the suggested version and will get back to you.

[2017-09-30 05:49] michael-ciniawsky commented on #205
Try `v1.1.3` (`@latest`) `npm i -D file-loader` or `npm i -D file-loader@0.11.2`, the getting started guide won't help you here :)

[2017-09-30 05:51] slavafomin commented on #205
I've downgraded to `0.11.2` and I can confirm that it's working correctly.

This looks crazy as webpack is such a popular system and it's basic functionality is broken in STABLE branch, so any new user can't even complete the getting started guide. And there is no even a tiny notice about this anywhere. I can't even comprehend what a confusing experience this could be for a new users.

[2017-09-30 05:57] slavafomin commented on #205
Oh, it looks like it's also working in latest `v1.1.3`, which was released couple of hours ago. But still, such a critical problem in stable branch looks frightening. Aren't there any tests for this?

[2017-09-30 06:08] michael-ciniawsky commented on #205
There are but this particular issue originated from a build error during postinstall transpilation and therefore wasn't catched by the CI

[2017-09-30 06:08] #205 closed

[2017-09-30 07:38] Always-Sunny opened #210 "file-loader not recognizing png on server restart"
node v8.5.0
"file-loader": "^0.11.2",

I'm getting the error of 'unexpected character' when trying to render a png (also failed on jpg).
I have file-loader and url-loader, and both haven't worked on server start. But after the server is already running, if I then add the two lines of code (1) importing relative photo path (2) add <img> tag, then it'll load the photo... but once the server refreshe

[2017-09-30 11:30] azeemmirza commented on #181
Revert file-loader to v0.11.2. Works fine.

[2017-09-30 15:34] karolyi opened #211 "Fails to load fonts since update"
Hey,

I just updated to `1.1.3` from `0.11.2`, and ever since my fonts fail to load. I use the latest `webpack` packages, thanks to regularly updating because of actively working on my project..

What I can see in the console is that instead of loading the font files, the browser tries to load `http://test.localdomain:8000/[object%20Object]`. `test.localdomain:8000` is my local dev environment, bu

[2017-09-30 16:11] phawrylak commented on #211
I have the same problem after update to `1.1.3`. After revert to `0.11.2` everything works again. Definitely something is wrong with this version.

[2017-09-30 16:56] #185 closed

[2017-09-30 16:58] michael-ciniawsky commented on #188
@brianhelba Thx

See @brianhelba Comment, feel free to reopen if still regressions

[2017-09-30 16:58] #188 closed

[2017-09-30 17:21] michael-ciniawsky commented on #186
For `raw` contents use the `raw-loader`, but in general you won't want to include different config files in your bundle as their is no way to update them later. Use `ENV` variables instead [Enviroment Variables Docs](https://webpack.js.org/guides/environment-variables/)

[2017-09-30 17:21] #186 closed

[2017-09-30 17:36] michael-ciniawsky commented on #179
[code]

[2017-09-30 17:36] #179 closed

[2017-09-30 17:47] michael-ciniawsky commented on #55
[code]

?

[2017-09-30 18:03] michael-ciniawsky commented on #55
Please test and try out #213

[2017-09-30 18:42] hoangphuong020193 commented on #211
same issue. I'll have to revert to 0.11.2. wait for fix.

[2017-09-30 19:26] dalimian commented on #211
same here, i was updating from 0.9.0
basically, it turned `url(blabla.b946e5ec5f62646a5812e4748b8fa5ec.woff2) ` into `url([object Object])`

had the same issue with 1.0.0, downgraded to 0.11.2

[2017-09-30 21:11] boaticus commented on #211
Experiencing the same issue. I'll also confirm that reverting back to 0.11.2 fixed it. Waiting for a fix.

[2017-09-30 22:53] #181 closed

[2017-09-30 22:53] #211 closed

[2017-09-30 23:02] d3viant0ne commented on #181
@jquense - Not entirely sure how this ended up back on `dist-tags: latest` but `file-loader@1.1.4` removes the es6 imports until we can address the actual issue ( css-loader ) which isn't going to happen until after e.t.w.p is retired & becomes part of Webpack.

In short, this isn't going to change again until css-loader/new-loader replaces the existing & Webpack eats e.t.w.p. which should simplif

[2017-10-01 00:14] d3viant0ne commented on #210
@Always-Sunny - Update to `"file-loader": "^1.1.4"`

![screen shot 2017-09-30 at 7 13 07 pm](https://user-images.githubusercontent.com/8420490/31050548-85493496-a613-11e7-8eb2-236f24c1f88c.png)

[2017-10-01 05:47] Panoplos commented on #210
Updating also fixed an error I was having with loading fonts. Some weird error like "Cannot find './options.json'" in a font file.

[2017-10-01 11:42] karolyi commented on #211
can confirm it's fixed now.

[2017-10-01 12:16] FlynnLeeGit commented on #38
same problem

[2017-10-01 20:42] Always-Sunny commented on #210
@d3viant0ne Didn't work for me.

Now @

[2017-10-01 21:12] d3viant0ne commented on #210
Alright, I know it works on OSX on NodeJS 8.4 as you can see above.

What are you working with

[2017-10-01 22:27] d3viant0ne commented on #211
@boaticus @hoangphuong020193 @phawrylak - Give me a thumbs up if your specific issue is resolved using `file-loader@1.1.4`

[2017-10-02 01:00] Always-Sunny commented on #210
macOS Sierra
v10.12.6

NodeJS 8.5.0

[2017-10-04 06:27] Always-Sunny commented on #210
I created a bare minimum app to test file-loader (to check if maybe it was some config problem in my app). Using Node -v 8.6.0 and Fileloader 1.1.4, it's not working with even the most simple react/node/webpack/express config. Let me know, when you have some free time, if this repo works on your comp. Thank you.

https://github.com/Always-Sunny/bare-minimum/tree/fileloader

[2017-10-04 06:37] d3viant0ne commented on #210
I've actually got some time right now. I'll take a look

[2017-10-04 07:55] danielg2002 opened #215 "options.name should be string"
file-loader: 1.1.4
webpack: 3.6.0
npm: 5.3.0
node: 8.6.0
...
options: {
name: 'static/media/[name].[ext]',
}
....

**Module build failed: Validation Error
File Loader Invalid Options
options.name should be string**

[2017-10-04 17:11] michael-ciniawsky commented on #215
Please show your full webpack.config.js

[2017-10-04 18:40] danielg2002 commented on #215
@michael-ciniawsky attached my webpack config.

Thanks,
Daniel

[webpack.config.dev.js.txt](https://github.com/webpack-contrib/file-loader/files/1356984/webpack.config.dev.js.txt)

[2017-10-04 20:21] michael-ciniawsky commented on #215
@danielg2002 Please update to`url-loader` to `>= v0.6.1`. It has a bug to not allow additional properties and therefore seem to be failing on the additional name prop. Otherwise feel free to reopen the issue and we maybe need to disable the `type` check for `name` then. Also try a minimum example in case it is still failing, to ensure it isn't another config related bug

[2017-10-04 20:21] #215 closed

[2017-10-04 21:43] danielg2002 commented on #215
@michael-ciniawsky tried with url-loader v0.6.2 with same result

[2017-10-05 01:03] d3viant0ne commented on #215
I'm doing something very similar for work & this is reproducible in 0.6.1 & not 0.6.2.

@danielg2002 - Double check that you don't have a package cached by npm / yarn as well as verifying what's in your lock file ( if you are using one )

[2017-10-05 02:41] danielg2002 commented on #215
@michael-ciniawsky 100% confirmed! 0.6.2 has the same issue.

package-lock.json (double checked also in node_modules directory)
"url-loader": {
            "version": "0.6.2",
            "resolved": "https://registry.npmjs.org/url-loader/-/url-loader-0.6.2.tgz",
            "integrity": "sha512-h3qf9TNn53BpuXTTcpC+UehiRrl0Cv45Yr/xWayApjw6G8Bg2dGke7rIwDQ39piciWCWrC+WiqLjOh3SUp9n0Q==",

[2017-10-05 03:33] d3viant0ne commented on #215
@danielg2002 - I assume given you didn't link a repo that whatever you are working on isn't public.

Is that based off of create react app?

[2017-10-05 03:37] danielg2002 commented on #215
@michael-ciniawsky Exactly, is a private repo. Yes, was created using create react app.

Clearly the problem is the transfer of the value **option.name** from _url-loader_ to _file-loader_; in my _url-loader_, is a **function** and your _file-loader_ expect only a **string** type.

[2017-10-05 04:38] d3viant0ne commented on #215
Yeah, that part I get. I just wanted to fork whatever that is so we can test the rest of the schema enforcement PR's against it + the angular-cli ( covers a vast majority of the use cases )

[2017-10-09 14:55] chrisj-skinner commented on #116
@SpaceK33z I have the same issue - could you give an example of `require / import` the images.
Thanks

[2017-10-10 03:08] loftyet commented on #116
@chrisj-skinner found this one on stackoverflow
`
https://stackoverflow.com/questions/39458511/how-to-use-es6-import-for-images
`

[2017-10-11 03:29] Always-Sunny commented on #210
Hey man, I figured out what's causing my error. It's when I server-render:

If I change:
[code]

to this:
[code]

I receive no error when I use relative imports in my <App/> component. However, once I even add:
`import App from './src/App';`
in my server.js file, the error throws. I can't import any react component in my server file without node throwing an error on the relative imports in my clie

[2017-10-11 07:50] #210 closed

[2017-10-11 13:26] ctrlaltdylan commented on #160
I wonder if this is related, but it seems that `output.publicPath` is not being respected by the file-loader.

I have an absolute path set on `output.publicPath` for `localhost:8080/static`. The bundle attempts to find the file-loaded assets at `localhost:3000/static`.

[2017-10-16 05:32] raxim1 commented on #147
To make an entry on webpack.config.js does not solve the issue, that i would like to load new Worker("jsfile") - at that time the web worker has been transpiled to js from ts

[2017-10-16 06:02] raxim1 commented on #147
worker-loader is not working anyway

[2017-10-20 08:12] jimmerioles commented on #32
that sneaky `publicPath=../` :satisfied:

[2017-10-22 16:09] doomsbuster commented on #149
I am running into similar challenge and no combination of flags seems to fix the issue. My setup is like this:

[code]
My `file-loader` config is as below:
[code]
[code]

This copies the images directory under the `root-app-dir` instead of copying it to `public/images` directory. No combination of `outputPath`, `useRelativePath` or `context` seem to fix the issue. If i remove the `useRelativePath`

[2017-10-22 21:34] adriancmiranda commented on #149
@doomsbuster `loader: 'file-loader'` probably isn't the correct version 'cause [I'm waiting for a review yet](https://github.com/webpack-contrib/file-loader/pull/150#issuecomment-336943061).

[2017-10-22 23:36] doomsbuster commented on #149
I am using ` "file-loader": "^0.11.1"` in my project.

[2017-10-23 01:34] adriancmiranda commented on #149
@doomsbuster I mean, [this is the fixed version tested here at this thread](https://bitbucket.org/adriancmiranda/pr-file-loader/src/489f5e70002496b4098a283b1a794643ee0869e7/loaders/file-loader.js?at=file-loader-relative-path-issue&fileviewer=file-view-default). There's no merge for it yet.

[2017-10-23 10:50] crazyx13th opened #218 "why adding outputPath inside the "url"?"
"file-loader": "1.1.5",

this is my webpack-config
![grafik](https://user-images.githubusercontent.com/8912561/31885311-6299412c-b7f0-11e7-8937-b01efedd653d.png)

but in my output there is allways the outputPath inside?!
![grafik](https://user-images.githubusercontent.com/8912561/31885401-aaf5b8d8-b7f0-11e7-89df-8c7f9eff9d08.png)

Makes no sense for me :-( pls help! thx!!

Greetings
crazyx13th

[2017-10-23 11:38] crazyx13th commented on #218
ok, this saves my day
https://github.com/webpack-contrib/file-loader/issues/160#issuecomment-306215576

[2017-10-23 12:32] evilebottnawi commented on #218
@crazyx13th can we close issue?

[2017-10-23 12:35] crazyx13th commented on #218
yeah, I think this is a "double" (sorry, find the solution too late)

[2017-10-23 12:37] #218 closed

[2017-10-24 05:12] #31 closed

[2017-10-24 05:13] d3viant0ne commented on #28
If someone wants to PR in a change & tests for this, we will consider it.

[2017-10-24 05:13] #28 closed

[2017-10-25 21:01] htokuda10 commented on #38
**Instances with a Java back end using Spring boot and Maven**
After an entire day of looking for the reason for the corrupt files in my specific case, I finally found a solutions, and it wasn't file-loader.

If you are running a Java back end with Spring boot and Maven, try adding the following to your pom (adjust appropriately to your directories)

`<build>
      <resources>
         <resource>

[2017-10-27 11:13] anooprav7 commented on #110
jpeg is still not working with the 1.1.5 version. I just changed the extension of the image from jpeg to jpg and it works fine. JPEG and JPG are actually the same . https://stackoverflow.com/questions/23424399/jpg-vs-jpeg-image-formats

[2017-10-29 12:37] ganxunzou opened #219 "outputPath is not work when useRelativePath is true"
- env
[code]
- question
[code]
Above the code is work OK，but change `useRelativePath:true` , `outputPath` is not work

[2017-10-29 12:42] michael-ciniawsky commented on #219
Please include Error Logs or try to describe in more detail **what**  doesn't work. Alternatively provide a test repo for reproduction

[2017-10-31 07:59] qlqllu opened #220 "Pass more information (file absolute path) into outputPath function so we can generate dynamic path"
For now, only the `url` is passed into the outputPath (https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L49). When I use relative URL in CSS, the image context is lost in outputPath function. It'd be better if you pass the absolute file path (https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L30), we can use this info to return more dynamic path.

[2017-10-31 08:32] Cap32 opened #221 "Multi entries bug when `useRelativePath`"
## Env

- file-loader 1.1.5
- Node.js 8.6.0
- Webpack 3.8.1
- macOS 10.12.6

## Description

If multi entries imports the same file, and if their issuer contexts are different, and if `useRelativePath` is `true`, the compiled urls are wrong

Here's a test repo https://github.com/Cap32/file-loader-relative-path-bug

[2017-10-31 08:44] Cap32 commented on #149
I have the same problem.

Here's my temporary solution inspired by https://github.com/webpack-contrib/file-loader/pull/150#issuecomment-339304260

[code]

It is ugly, but it works

[2017-10-31 15:38] michael-ciniawsky commented on #220
Feel free to send a PR for discussion

[2017-10-31 17:40] d3viant0ne commented on #220
Food for thought, the use of absolute paths in loaders is generally more trouble than it's worth.

[2017-11-01 06:20] qlqllu commented on #220
@d3viant0ne Thanks for your advice, I do not use the absolute path as an output, I just use the path information to generate dynamic relative output

[2017-11-01 06:31] qlqllu commented on #220
This is the PR: https://github.com/webpack-contrib/file-loader/pull/222

In addition to pass the full path, I mad one more change: Do not override the output path if user have set it. From my point of view, if the outputPath is not set, we can generate one depends on the url. But if user set it, we should use it.

[2017-11-01 17:38] portpaw opened #223 "Inline generated file paths at import site"
When you have a large number of `file-loader` imports in your app, the bloat caused by each file getting its own module wrapper can have a negative impact on your bundle size.

For the Trello web client (which has ~900 emojis being included by `file-loader`), we saw a difference of 30KB **gzipped** between bundles with the string literal file paths and an equivalent bundle with `require` calls for

[2017-11-02 01:54] qlqllu commented on #219
I you see the code, you can see the outputPath is overridden if useRelativePath is true, here is the talking about this:
https://github.com/webpack-contrib/file-loader/pull/222

[2017-11-02 23:59] MichaelSemchenko opened #224 "files copying doesn't works"
### Issue description:
I use a very simple webpack config:
[code]

and project structure
[code]

### Expected behavior:
there 'home.js' and 'images' folder in /dist.

### Now:
home.js in 'dist' folder only.

(I'm sorry if this is not a file-loader issue: I start to use webpack one day ago and not sure config is correct.)

### Environment:
webpack: v3.8.1 (I have the similar issue with webpack 2.x.

[2017-11-03 00:18] michael-ciniawsky commented on #224
Where is `test.png` currently placed, did you `import png from `./test.png` ?

[2017-11-03 00:21] michael-ciniawsky commented on #224
Could you remove the `publicPath` and `outputPath` options temporarily, so `324156trf.png` should be emitted `dist/` ?

[2017-11-03 00:29] MichaelSemchenko commented on #224
test.png placed in 'app/' folder:
[code]

When I type
`import img from './test.png';`
in home.js I get dist/images/test.png - it works.
Can you tell me please, is any way to do it without import via js? I want to keep js file clean of images, styles import etc. [but I'm not sure this is a correct webpack way]

[2017-11-03 00:32] MichaelSemchenko commented on #224
**upd**.
yep, I see this is impossible, webpack works another way, sorry for a stupid question).
Solution with import works, thanks a lot!

[2017-11-03 00:38] michael-ciniawsky commented on #224
`file-loader` > [`copy-webpack-plugin`](https://github.com/webpack-contrib/copy-webpack-plugin) ||`file-manager-plugin` > npm/gulp/Grunt Task > place them in the `dist` from the beginning :)

[2017-11-03 00:38] #224 closed

[2017-11-03 08:40] MichaelSemchenko commented on #224
btw is possible to import folder of images (with nested folders)?

[2017-11-03 18:15] michael-ciniawsky commented on #224
Nope `file-loader` doesn't support globs  => `copy-webpack-plugin`

[2017-11-03 22:02] d3viant0ne commented on #223
So right out of the gate without putting a great deal of thought into this, I think you are right about not being able to solve this here given where / what file-loader is used for.

That said, it's a legit problem ( I loathe bundle bloat ) so we will find a way to work it out. Perhaps something a bit more purpose built, I'll give it some thought this evening.

[2017-11-03 22:13] michael-ciniawsky commented on #223
Without verification (I need to test it), this may be resolvable by the [`ModuleConcatenationPlugin()`](https://webpack.js.org/plugins/module-concatenation-plugin/) (Scope Hoisting) which should hoist this barely useful wrappers **if** we could export a ESM, which isn't currently possible because `css-loader` resolves assets (`url()`) via `require` (legacy) 😞 .

[2017-11-03 22:25] d3viant0ne commented on #223
@michael-ciniawsky - There is discussion going on around the style chain changes, which as you said would resolve this.

We could in theory spin off an esm version of this loader that should work but it's not going to work for style related stuff atm. It's kind of a bandaid fix but it would be the safest approach to take given what we can't do right now.

[2017-11-03 22:37] gerges commented on #223
Is it possible this could be built with a more generic optimization plugin (or just built in altogether) which traces the dependency graph, identifies leaf nodes, calculates the length in bytes of the module contents itself, as well as the know length of the wrapper and an invocation, compared the two values and if it had a positive impact on size inlined the module? (Doing that scan again until n

[2017-11-03 22:50] d3viant0ne commented on #223
`traces the dependency graph, identifies leaf nodes, calculates the length in bytes of the module contents itself`

Loaders perform an operation on a thing & return. The above, outside of being way out of scope for something like this sounds like a performance problem in the making.

Not to say that there isn't a legit need but that set of requirements is anything but generic & imo isn't something

[2017-11-08 23:09] JacobJohansen commented on #70
@evilebottnawi this is my issue that cause me to stumble upon this https://github.com/jantimon/html-webpack-plugin/issues/296

[2017-11-08 23:30] michael-ciniawsky commented on #70
@JacobJohansen jantimon/html-webpack-plugin#296 the config there is just wrong, please show your  `webpack.config.js`

[2017-11-09 13:57] JacobJohansen commented on #70
[code]

[2017-11-09 21:17] michael-ciniawsky commented on #70
@JacobJohansen The `html-webpack-plugin` doesn't pick up files extracted with `extract-loader`, use the `extract-text-webpack-plugin` instead

[2017-11-10 04:55] poorpaddy commented on #180
@jewbetcha If you figured out the solution to this would you mind posting it in a comment please? Running into a similar issue where the home page is in root and image paths are `./img/` but subdirectory/routes have the same when they need to be `../img`.

[2017-11-10 15:33] jewbetcha commented on #180
@poorpaddy I haven't figured it out 😭 I'm either missing something obvious, or this is just a thing Webpack isn't made for (working with assets that aren't built with JS frameworks)

[2017-11-10 18:20] prosim commented on #187
Have this exact same issue - any new thoughts here?

[2017-11-14 20:04] HauntedSmores opened #225 "Nothing logged to terminal on rebuild."
Im trying to simply import scss into my main.js file and extract it to a separate css file. All of this is working, as I change my src scss file, I see the extracted file in my dist folder with the correct code changes - The problem is that it doesnt trigger anything in the console. I should be seeing a rebuild every time, which Iv seen when using style-loader, css-loader, sass-loader together
Her

[2017-11-19 05:46] adhikariraju opened #226 "Webpack is loading a image as per Route path."
I am facing error while getting same bundled image from different route

While my app is in route http://localhost:8080
My image load perfectly from url http://localhost:8080/3e8b0bc82f581817994bbe9e9396170b.jpg

But as my app route changed to http://localhost:8080/dashboard
My image also loads from url
             http://localhost:8080/dashboard/3e8b0bc82f581817994bbe9e9396170b.jpg
         Sinc

[2017-11-19 14:33] michael-ciniawsky commented on #226
Want is the value of your `publicPath` in `webpack.config.js` ?  We need more info about your setup to investigate

[2017-11-23 08:05] stefan-- commented on #224
@michael-ciniawsky would you please give an example of how the combination of the file-loader and copy-webpack-plugin looks like.
[code]
This config puts the file in the `output.path` instead of `output.path/assets/images/`. I have also tried to find a way with `outputPath ` and `publicPath`, however, without success. Thanks

[2017-11-25 13:11] adhikariraju commented on #226
@michael-ciniawsky updated `webpack.config.js`

[2017-11-25 16:17] michael-ciniawsky commented on #226
Could you try

[code]

[2017-11-27 06:46] frozenfung opened #227 "Different behavior between server-side and client-side?"
Hey, guys

I use the latest version of file-loader (1.1.5) with my spa and encounter this issue.  I require a png image in my component for my og:image tag, but it acts differently between server-side and client-side. In server-side, it seems like that it requires the image in base64 format. But in client-side, it requires the image in relative path which is desired for me because of og:image tag

[2017-11-27 13:33] amerllica opened #228 "Old Bug came back (outputPath concat after publicPath)"
[This Issue](https://github.com/webpack-contrib/file-loader/issues/160) was settled in 0.10.1 version, Just like [Nick](https://github.com/nickhstr) said the solution. but in the newest version the issue came back and the `outputPath` join after `publicPath`. please fix this bug again in the newer version.

thanks

[2017-11-28 17:51] amerllica opened #229 "Weird Bug: file-loader conflict with cssnano"
My project link is [THIS LINK](https://github.com/amerllica/postcss-config-on-webpack).
when I use `npm run build:dev` everything is ok but when use `npm run build:dist` , file-loader doesn't work, it seems that doesn't exist. Actually with second command I use `webpack.prod.js` config file for webpack build, and `cssnano` is loaded in LINE:65, and existence of `cssnano` cause to file-loader doesn

[2017-11-29 12:46] evilebottnawi commented on #225
@HauntedSmores can you create minimum reproducible test repo?

[2017-12-01 18:16] michael-ciniawsky commented on #227
Did you find solution in the meantime ? This definitely needs more info about your current setup and reproducible example at best. Upfront this is likely a issue in somewhere in you setup...

[2017-12-01 18:23] michael-ciniawsky commented on #229
Use `css-loader`'s minimize option instead, why do you need `postcss-scss` as syntax parser, your `.pcss`  are valid CSS as it seems ? `postcss-scss`  main purpose is to 'parse'  `.scss/.sass` files for `stylelint` (Linting). This isn't a `file-loader` issue

[2017-12-01 18:23] #229 closed

[2017-12-04 08:56] landru29 opened #232 "Wrong test to apply useRelativePath"
https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L40

should be
[code]

If in a CSS file you have:
[code]

the following  conf will not work. `../flags/4x3/ad.svg` will be in relative but `img/jsoneditor-icons.svg` is ??
[code]

[2017-12-04 23:48] dangodev opened #233 "[webpack v4.0.0-alpha.0] `this.context` => `this.rootContext` (Breaking Change)"
(from [webpack#6064](https://github.com/webpack/webpack/issues/6064))

Running `webpack` with `4.0.0-alpha.0` results in the following error, one per file:

[code]

[2017-12-05 00:15] michael-ciniawsky commented on #233
Could you please try the suggestion in https://github.com/webpack/webpack/issues/6064#issuecomment-349138756 using `rootContext`instead of `context` and provide the results/errors here ?

[2017-12-05 02:01] dangodev commented on #233
@michael-ciniawsky Not sure if it’s what you asked, but I tried changing `context:` to `rootContext:` in the webpack config but that obviously resulted in a configuration error.

So then I assumed you meant file-loader, and I went to [index.js:34](https://github.com/webpack-contrib/file-loader/blob/f412b3e9f4c33f83bbc4fb25b2f9e902cc0dff19/src/index.js#L13) and made the following change:

[code]

A

[2017-12-05 02:10] michael-ciniawsky commented on #233
You mean `ValidationError` in particular here ? :) That's to be expected, but the change in question (`this.options.context` => `this.rootContext`) needs to be made elsewhere. Could you try

[code]

[2017-12-05 15:10] Dcatfly commented on #185
@evilebottnawi This bug still exists.

[2017-12-05 15:14] evilebottnawi commented on #185
@Dcatfly Please provide you version `webpack` and `file-loader`, thanks!

[2017-12-05 15:43] Dcatfly commented on #185
@evilebottnawi  webpack: 2.7.0, file-loader: 0.11.2
And console output file size is correct, but with the real folder file size is not the same.

[2017-12-05 15:54] Dcatfly commented on #185
@evilebottnawi Oh, I found the source of the problem. Because I use happypack, remove happypack is OK. I am so sorry.

[2017-12-05 16:06] dangodev commented on #233
@michael-ciniawsky Yup! That works for me—`this.rootContext` correctly returns the context. @TheLarkInn’s change in #234 seems to work for me.

[2017-12-05 17:36] michael-ciniawsky commented on #233
@dangodev Thx for testing that out :)

[2017-12-06 08:51] pavetw17 commented on #210
@Always-Sunny  Have you fixed this problem?
Thank you!

[2017-12-06 20:54] RobinMob commented on #160
I've been searching for a solution for a while. I couldn't get webpack to get the correct path to my images in my '*.css' file. The solution using  "publicPath: function(url ..... " works great for me.
Thank you @dirago

My file structure is:
[code]

base.scss looking like this:
[code]
test.scss looking like this:
[code]

My webpack.config.js is:

[code]

I discovered both following solutions to m

[2017-12-07 07:14] jrs320 commented on #90
yes,yes,yes, I have the same problem，this issue is very useful for me, thanks

[2017-12-09 07:58] donkeizluv commented on #228
I also have this issue. outputPath always joins publicPath

[2017-12-09 14:00] amerllica commented on #228
Unfortunately, the contributors must fix it but they don't care, I downgrade from 1.5.0 to 0.10.1 and it was fixed but I wrote the issue to fix in new version. But they don't care.

[2017-12-15 14:49] JonWallsten commented on #93
I have the same issue. But without babel.
https://github.com/angular/angular-cli/issues/8891

[2017-12-16 06:54] #233 closed

[2017-12-18 17:14] mdmoreau commented on #225
Having the same issue here. It seems to rebuild/log fine if you exclude the name option however.

[2017-12-18 18:41] net1957 opened #238 "[Windows] wrong path separator (`options.name`)"
I'm working on windows8.1 and have some problems with path.

the generated manifest look a little bad:
[code]
correcting images\\logo.png to images/logo.png result in a correct page.

I did open this issue here after some advice on bug https://github.com/rails/webpacker/issues/1101

I'm using:

node 6.11.5
webpack 3.10.0
file-loader 1.1.5

I used https://github.com/zarqman/look_ma_no_sprockets as

[2018-01-03 08:44] ryan-codingintrigue commented on #238
Ran into this issue myself on a Windows machine. I resolved using a custom `name` function:

[code]

Which I think is equivalent to `{ options: { name: "[path][name].[ext]" } }`

[2018-01-03 18:33] net1957 commented on #238
can you elaborate? I'm new to webpacker and any advice would be nice!
regards

[2018-01-04 11:45] ryan-codingintrigue commented on #238
@net1957 I'll try. I am unfamiliar with `@rails/webpacker` myself. It looks like it has a *default* configuration for `file-loader` [here](https://github.com/rails/webpacker/blob/ad812fa19fea335a0f6205340b239c9c6a11495f/package/rules/file.js), which means you'll need to modify the default config to add the `name` option.

Given your repository, looks like you'll need to modify:
https://github.com/

[2018-01-04 13:30] hron commented on #238
The problem is actually already fixed in the scope of webpack-manifest-plugin. However the fix is only available for 2.0.0-rc.1 version. Here is the details: danethurber/webpack-manifest-plugin#78

@net1957 Here is my workaround for this problem. Add the following to `config/webpack/environment.js`:
[code]

Essentially it mimics the patch applied in 2.0.0-rc.1 by adding a filter which replaces all

[2018-01-04 18:38] net1957 commented on #238
@ryan-codingintrigue : Thanks for the trick. I came to a similar code, but it was a wrong path. But I learned some new webpacker coding.

@hron : Work nice! webpack-manifest-plugin is already required by webpacker@3.2.0 (but version ^1.3.2), so no need to add webpack-manifest-plugin with yarn.

[2018-01-05 08:32] ryan-codingintrigue commented on #238
@net1957 Indeed, hron's solution is correct one for this particular issue.

Just for other people arriving here though I was seeing this issue whilst doing server-side rendering using `css-loader`. As a result of the way `file-loader` is working, it was outputting windows-style paths in the output CSS which for some clients would be an invalid path.

[2018-01-07 21:54] net1957 commented on #238
@ryan-codingintrigue: You are right. I hope webpacker team  will change the dependency as soon as possible, but for now @hron workaround is working very well.

Thanks to all for the help

[2018-01-22 08:33] jasofalcon commented on #153
Hi, @dnutels

Did you find a workaround or a proper solution to your problem? I'm having the same 'issue'/request :)

[2018-01-23 13:07] fgustovo commented on #221
is there any solution or update about that ?

[2018-01-23 14:10] fgustovo opened #241 "[Windows] different hashes (`[hash]`) for same file"
i have an image and use it 2 different files (with different relative paths).

image path: **web\src\main\webapp\content\images\cooperates\androbaby.png**

using in 1.html:
` <img src="../../../content/images/cooperates/androbaby.png">`

using in 2.scss
`background: url('../../content/images/cooperates/androbaby.png') no-repeat center center;`

Loader Rule:
`{`
   `                 test: /\.(jpe?g

[2018-01-23 14:16] evilebottnawi commented on #241
@fgustovo can you create minimum reproducible test repo, some windows users are faced with this problem, but it was difficult to catch :disappointed:

[2018-01-23 14:22] fgustovo commented on #241
@evilebottnawi im developing in windows and not problem in dev mode.
but im compiling project in linux and result with that.

[2018-01-23 14:27] evilebottnawi commented on #241
@fgustovo maybe minimum reproducible test repo would allow me to test and find the problem, also difference node version can generate difference hash

[2018-02-02 04:43] mpriem commented on #228
Same issue here!!

[2018-02-02 09:58] evilebottnawi commented on #228
@mpriem Can you create minimum reproducible test repo?

[2018-02-08 14:43] JassyX opened #243 "Error in downloading fonts"
Error: `ERROR in ./src/sass/blog.scss
Module build failed: ModuleParseError: Module parse failed: U
 ' ' (1:4)
You may need an appropriate loader to handle this file type.`
`ERROR in ./src/fonts/InterOTF/Inter-UI-Bold.otf
Module parse failed: Unexpected character ' ' (1:4)
You may need an appropriate loader to handle this file type.`

webpack.config:
[code]
config fonts:
[code]

[2018-02-14 10:36] #243 closed

[2018-02-14 16:13] evilebottnawi commented on #38
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-14 16:13] #38 closed

[2018-02-14 16:17] evilebottnawi commented on #117
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Also seems problem was in `loader-utils` and already fixed. Thanks!

[2018-02-14 16:17] #117 closed

[2018-02-14 16:19] evilebottnawi commented on #140
Right now `file-loader@1` is stable version. For a long time no one tried to solve this problem, so I close it. Thanks everyone!

[2018-02-14 16:19] #140 closed

[2018-02-14 16:20] evilebottnawi commented on #220
Declined. Ref: https://github.com/webpack-contrib/file-loader/pull/222

[2018-02-14 16:21] evilebottnawi commented on #220
Of sorry, my mistake

[2018-02-14 16:24] evilebottnawi commented on #220
Declined. Ref: https://github.com/webpack-contrib/file-loader/pull/222#pullrequestreview-73595350

[2018-02-14 16:24] #220 closed

[2018-02-14 16:24] evilebottnawi commented on #228
Close in favor https://github.com/webpack-contrib/file-loader/issues/160. Thanks for everyone!

[2018-02-14 16:24] #228 closed

[2018-02-14 16:25] evilebottnawi commented on #228
Sorry for delay in near future we will fix this (in next week if somebody don't PR before
)

[2018-02-14 16:26] evilebottnawi commented on #194
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-14 16:26] #194 closed

[2018-02-14 16:27] evilebottnawi commented on #238
Anybody can create minimum reproducible test repo?

[2018-02-14 16:31] evilebottnawi commented on #180
Problem still exists? Somebody can create minimum example repo and description?

[2018-02-14 16:33] evilebottnawi commented on #176
@devrafalko Thanks for issue! Duplicate https://github.com/webpack-contrib/file-loader/issues/114

[2018-02-14 16:33] #176 closed

[2018-02-14 16:54] evilebottnawi commented on #177
Close in favor https://github.com/webpack-contrib/file-loader/issues/136

[2018-02-14 16:54] #177 closed

[2018-02-14 16:54] evilebottnawi commented on #136
Summarize:
1. We can't change `[hash]` behavior right now, it is breaking chages :disappointed:
2. We can temporary add `[some-other-hash]` name for this purpose.
PR welcome

[2018-02-14 16:58] evilebottnawi commented on #225
`file-loader` use `webpack` api. Look here https://webpack.js.org/configuration/stats/ to setup output information

[2018-02-14 16:58] #225 closed

[2018-02-14 17:00] MatteoGabriele commented on #136
if it's a breaking change then should be tagged "semver: major", I guees.

But yeah it is not an urgent need, I already applied a workaround, but I do think that is important to have.

thanks for your support

[2018-02-14 17:19] evilebottnawi commented on #153
Thanks everyone! Duplicate https://github.com/webpack-contrib/file-loader/issues/114. Feel free to PR

[2018-02-14 17:19] #153 closed

[2018-02-14 17:21] evilebottnawi commented on #226
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-14 17:21] #226 closed

[2018-02-14 17:22] evilebottnawi commented on #200
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-14 17:22] #200 closed

[2018-02-14 19:04] evilebottnawi commented on #160
Done in https://github.com/webpack-contrib/file-loader/pull/246

[2018-02-17 12:59] nkrh opened #247 "Files are not copied to outputPath"
### Version
**1.1.6**

### Options
[code]
### URL
`./placeholder.png`

### Expected output
The `placeholder.png` is copied to `./plugin/test/dist` and its url doesn't change.

Currently it copied to `./` **NOT** `./plugin/test/dist/` and the url doesn't change. I think file-loader does not respect `outputPath` when `useRelativePath` is true?

[2018-02-17 13:08] evilebottnawi commented on #247
@nkrh Why? We should respect output path, `useRelativePath` only for public path

[2018-02-17 14:37] nkrh commented on #247
Not sure why. WhenI set `useRelativePath` to false, the files are copied as expected but the URL is modified to `./plugin/test/dist/placeholder.png`. I need the URL not changed, is this possible?